{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.x.counts#GetPostsCountsAllRequestGranularity": {
      "type": "enum",
      "members": {
        "MINUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "minute"
          }
        },
        "HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hour"
          }
        },
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day"
          }
        }
      },
      "traits": {}
    },
    "com.x.counts#GetPostsCountsAllRequest": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "query",
            "smithy.api#required": {}
          }
        },
        "start_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "start_time"
          }
        },
        "end_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "end_time"
          }
        },
        "since_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "since_id"
          }
        },
        "until_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "until_id"
          }
        },
        "next_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "next_token",
            "smithy.api#documentation": "A base32hex-encoded pagination token."
          }
        },
        "pagination_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pagination_token",
            "smithy.api#documentation": "A base32hex-encoded pagination token."
          }
        },
        "granularity": {
          "target": "com.x.counts#GetPostsCountsAllRequestGranularity",
          "traits": {
            "smithy.api#httpQuery": "granularity"
          }
        },
        "search_count_fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search_count.fields"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.x.counts#GetPostsCountsAllResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.x.counts#GetPostsCountsAllResponseDataList"
        },
        "errors": {
          "target": "com.x.counts#GetPostsCountsAllResponseErrorsList"
        },
        "meta": {
          "target": "com.x.counts#GetPostsCountsAllResponseMeta"
        }
      },
      "traits": {}
    },
    "com.x.counts#GetPostsCountsAllResponseData": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End of the count bucket (exclusive), RFC 3339.",
            "smithy.api#required": {}
          }
        },
        "post_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of Posts in the bucket.",
            "smithy.api#required": {}
          }
        },
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start of the count bucket (inclusive), RFC 3339.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.counts#GetPostsCountsAllResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.x.counts#GetPostsCountsAllResponseData"
      },
      "traits": {}
    },
    "com.x.counts#Problem": {
      "type": "union",
      "members": {
        "ResourceNotFoundProblem": {
          "target": "com.x.counts#ResourceNotFoundProblem"
        },
        "InvalidRequestProblem": {
          "target": "com.x.counts#InvalidRequestProblem"
        },
        "NotAuthorizedForResourceProblem": {
          "target": "com.x.counts#NotAuthorizedForResourceProblem"
        },
        "NotAuthorizedForFieldProblem": {
          "target": "com.x.counts#NotAuthorizedForFieldProblem"
        },
        "FieldUnauthorizedProblem": {
          "target": "com.x.counts#FieldUnauthorizedProblem"
        },
        "FieldHydrationFailureProblem": {
          "target": "com.x.counts#FieldHydrationFailureProblem"
        },
        "ResourceUnavailableProblem": {
          "target": "com.x.counts#ResourceUnavailableProblem"
        },
        "DisallowedResourceProblem": {
          "target": "com.x.counts#DisallowedResourceProblem"
        },
        "InternalErrorProblem": {
          "target": "com.x.counts#InternalErrorProblem"
        }
      },
      "traits": {}
    },
    "com.x.counts#ResourceNotFoundProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.counts#ResourceNotFoundProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.counts#ResourceNotFoundProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_RESOURCE_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/resource-not-found"
          }
        }
      },
      "traits": {}
    },
    "com.x.counts#InvalidRequestProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.counts#InvalidRequestProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.counts#InvalidRequestProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_INVALID_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/invalid-request"
          }
        }
      },
      "traits": {}
    },
    "com.x.counts#NotAuthorizedForResourceProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.counts#NotAuthorizedForResourceProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.counts#NotAuthorizedForResourceProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_NOT_AUTHORIZED_FOR_RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/not-authorized-for-resource"
          }
        }
      },
      "traits": {}
    },
    "com.x.counts#NotAuthorizedForFieldProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.counts#NotAuthorizedForFieldProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.counts#NotAuthorizedForFieldProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_NOT_AUTHORIZED_FOR_FIELD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/not-authorized-for-field"
          }
        }
      },
      "traits": {}
    },
    "com.x.counts#FieldUnauthorizedProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.counts#FieldUnauthorizedProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.counts#FieldUnauthorizedProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_FIELD_UNAUTHORIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/field-unauthorized"
          }
        }
      },
      "traits": {}
    },
    "com.x.counts#FieldHydrationFailureProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.counts#FieldHydrationFailureProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.counts#FieldHydrationFailureProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_FIELD_HYDRATION_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/field-hydration-failure"
          }
        }
      },
      "traits": {}
    },
    "com.x.counts#ResourceUnavailableProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.counts#ResourceUnavailableProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.counts#ResourceUnavailableProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_RESOURCE_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/resource-unavailable"
          }
        }
      },
      "traits": {}
    },
    "com.x.counts#DisallowedResourceProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.counts#DisallowedResourceProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.counts#DisallowedResourceProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_DISALLOWED_RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/disallowed-resource"
          }
        }
      },
      "traits": {}
    },
    "com.x.counts#InternalErrorProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.counts#InternalErrorProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.counts#InternalErrorProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/internal-error"
          }
        }
      },
      "traits": {}
    },
    "com.x.counts#GetPostsCountsAllResponseErrorsList": {
      "type": "list",
      "member": {
        "target": "com.x.counts#Problem"
      },
      "traits": {}
    },
    "com.x.counts#GetPostsCountsAllResponseMeta": {
      "type": "structure",
      "members": {
        "next_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pagination token for the next page of results."
          }
        },
        "total_post_count": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.x.counts#GetPostsCountsAll": {
      "type": "operation",
      "input": {
        "target": "com.x.counts#GetPostsCountsAllRequest"
      },
      "output": {
        "target": "com.x.counts#GetPostsCountsAllResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2/tweets/counts/all",
          "code": 200
        },
        "smithy.api#documentation": "Get Posts Counts All\n\nAt most one of `pagination_token`, `next_token` may be provided."
      }
    },
    "com.x.counts#GetPostsCountsRecentRequestGranularity": {
      "type": "enum",
      "members": {
        "MINUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "minute"
          }
        },
        "HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hour"
          }
        },
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day"
          }
        }
      },
      "traits": {}
    },
    "com.x.counts#GetPostsCountsRecentRequest": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "query",
            "smithy.api#required": {}
          }
        },
        "start_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "start_time",
            "smithy.api#documentation": "Must be within the last 7 days."
          }
        },
        "end_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "end_time"
          }
        },
        "since_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "since_id"
          }
        },
        "until_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "until_id"
          }
        },
        "next_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "next_token",
            "smithy.api#documentation": "A base32hex-encoded pagination token."
          }
        },
        "pagination_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pagination_token",
            "smithy.api#documentation": "A base32hex-encoded pagination token."
          }
        },
        "granularity": {
          "target": "com.x.counts#GetPostsCountsRecentRequestGranularity",
          "traits": {
            "smithy.api#httpQuery": "granularity"
          }
        },
        "search_count_fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search_count.fields"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.x.counts#GetPostsCountsRecentResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.x.counts#GetPostsCountsRecentResponseDataList"
        },
        "errors": {
          "target": "com.x.counts#GetPostsCountsRecentResponseErrorsList"
        },
        "meta": {
          "target": "com.x.counts#GetPostsCountsRecentResponseMeta"
        }
      },
      "traits": {}
    },
    "com.x.counts#GetPostsCountsRecentResponseData": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End of the count bucket (exclusive), RFC 3339.",
            "smithy.api#required": {}
          }
        },
        "post_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of Posts in the bucket.",
            "smithy.api#required": {}
          }
        },
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start of the count bucket (inclusive), RFC 3339.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.counts#GetPostsCountsRecentResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.x.counts#GetPostsCountsRecentResponseData"
      },
      "traits": {}
    },
    "com.x.counts#GetPostsCountsRecentResponseErrorsList": {
      "type": "list",
      "member": {
        "target": "com.x.counts#Problem"
      },
      "traits": {}
    },
    "com.x.counts#GetPostsCountsRecentResponseMeta": {
      "type": "structure",
      "members": {
        "next_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pagination token for the next page of results."
          }
        },
        "total_post_count": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.x.counts#GetPostsCountsRecent": {
      "type": "operation",
      "input": {
        "target": "com.x.counts#GetPostsCountsRecentRequest"
      },
      "output": {
        "target": "com.x.counts#GetPostsCountsRecentResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2/tweets/counts/recent",
          "code": 200
        },
        "smithy.api#documentation": "Get Posts Counts Recent\n\nAt most one of `pagination_token`, `next_token` may be provided."
      }
    },
    "com.x.counts#Counts": {
      "type": "service",
      "version": "2.167",
      "operations": [
        {
          "target": "com.x.counts#GetPostsCountsAll"
        },
        {
          "target": "com.x.counts#GetPostsCountsRecent"
        }
      ],
      "traits": {
        "smithy.api#title": "X API v2",
        "smithy.api#documentation": "X API v2 core endpoints"
      }
    }
  }
}
