{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.x.mutes#UnmuteUserRequest": {
      "type": "structure",
      "members": {
        "source_user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "target_user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.x.mutes#UnmuteUserResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.x.mutes#UnmuteUserResponseData"
        },
        "errors": {
          "target": "com.x.mutes#UnmuteUserResponseErrorsList"
        }
      },
      "traits": {}
    },
    "com.x.mutes#UnmuteUserResponseData": {
      "type": "structure",
      "members": {
        "muting": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user is muted.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.mutes#Problem": {
      "type": "union",
      "members": {
        "ResourceNotFoundProblem": {
          "target": "com.x.mutes#ResourceNotFoundProblem"
        },
        "InvalidRequestProblem": {
          "target": "com.x.mutes#InvalidRequestProblem"
        },
        "NotAuthorizedForResourceProblem": {
          "target": "com.x.mutes#NotAuthorizedForResourceProblem"
        },
        "NotAuthorizedForFieldProblem": {
          "target": "com.x.mutes#NotAuthorizedForFieldProblem"
        },
        "FieldUnauthorizedProblem": {
          "target": "com.x.mutes#FieldUnauthorizedProblem"
        },
        "FieldHydrationFailureProblem": {
          "target": "com.x.mutes#FieldHydrationFailureProblem"
        },
        "ResourceUnavailableProblem": {
          "target": "com.x.mutes#ResourceUnavailableProblem"
        },
        "DisallowedResourceProblem": {
          "target": "com.x.mutes#DisallowedResourceProblem"
        },
        "InternalErrorProblem": {
          "target": "com.x.mutes#InternalErrorProblem"
        }
      },
      "traits": {}
    },
    "com.x.mutes#ResourceNotFoundProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.mutes#ResourceNotFoundProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.mutes#ResourceNotFoundProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_RESOURCE_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/resource-not-found"
          }
        }
      },
      "traits": {}
    },
    "com.x.mutes#InvalidRequestProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.mutes#InvalidRequestProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.mutes#InvalidRequestProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_INVALID_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/invalid-request"
          }
        }
      },
      "traits": {}
    },
    "com.x.mutes#NotAuthorizedForResourceProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.mutes#NotAuthorizedForResourceProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.mutes#NotAuthorizedForResourceProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_NOT_AUTHORIZED_FOR_RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/not-authorized-for-resource"
          }
        }
      },
      "traits": {}
    },
    "com.x.mutes#NotAuthorizedForFieldProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.mutes#NotAuthorizedForFieldProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.mutes#NotAuthorizedForFieldProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_NOT_AUTHORIZED_FOR_FIELD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/not-authorized-for-field"
          }
        }
      },
      "traits": {}
    },
    "com.x.mutes#FieldUnauthorizedProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.mutes#FieldUnauthorizedProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.mutes#FieldUnauthorizedProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_FIELD_UNAUTHORIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/field-unauthorized"
          }
        }
      },
      "traits": {}
    },
    "com.x.mutes#FieldHydrationFailureProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.mutes#FieldHydrationFailureProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.mutes#FieldHydrationFailureProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_FIELD_HYDRATION_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/field-hydration-failure"
          }
        }
      },
      "traits": {}
    },
    "com.x.mutes#ResourceUnavailableProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.mutes#ResourceUnavailableProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.mutes#ResourceUnavailableProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_RESOURCE_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/resource-unavailable"
          }
        }
      },
      "traits": {}
    },
    "com.x.mutes#DisallowedResourceProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.mutes#DisallowedResourceProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.mutes#DisallowedResourceProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_DISALLOWED_RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/disallowed-resource"
          }
        }
      },
      "traits": {}
    },
    "com.x.mutes#InternalErrorProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.mutes#InternalErrorProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.mutes#InternalErrorProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/internal-error"
          }
        }
      },
      "traits": {}
    },
    "com.x.mutes#UnmuteUserResponseErrorsList": {
      "type": "list",
      "member": {
        "target": "com.x.mutes#Problem"
      },
      "traits": {}
    },
    "com.x.mutes#UnmuteUser": {
      "type": "operation",
      "input": {
        "target": "com.x.mutes#UnmuteUserRequest"
      },
      "output": {
        "target": "com.x.mutes#UnmuteUserResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2/users/{source_user_id}/muting/{target_user_id}",
          "code": 200
        },
        "smithy.api#documentation": "Unmute User\n\nCauses the authenticated user to unmute the target user."
      }
    },
    "com.x.mutes#Mutes": {
      "type": "service",
      "version": "2.167",
      "operations": [
        {
          "target": "com.x.mutes#UnmuteUser"
        }
      ],
      "traits": {
        "smithy.api#title": "X API v2",
        "smithy.api#documentation": "X API v2 core endpoints"
      }
    }
  }
}
