{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.x.chats#GetChatConversationsRequestChatConversationFieldsItem": {
      "type": "enum",
      "members": {
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        },
        "GROUP_AVATAR_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "group_avatar_url"
          }
        },
        "GROUP_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "group_name"
          }
        },
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        },
        "IS_MUTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_muted"
          }
        },
        "MESSAGE_TTL_MS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "message_ttl_ms"
          }
        },
        "SCREEN_CAPTURE_BLOCKING_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "screen_capture_blocking_enabled"
          }
        },
        "SCREEN_CAPTURE_DETECTION_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "screen_capture_detection_enabled"
          }
        },
        "TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "type"
          }
        },
        "UPDATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated_at"
          }
        }
      },
      "traits": {}
    },
    "com.x.chats#GetChatConversationsRequestChatConversationFieldsList": {
      "type": "list",
      "member": {
        "target": "com.x.chats#GetChatConversationsRequestChatConversationFieldsItem"
      },
      "traits": {
        "smithy.api#documentation": "The fields available for a ChatConversation object."
      }
    },
    "com.x.chats#GetChatConversationsRequestExpansionsItem": {
      "type": "enum",
      "members": {
        "ADMIN_IDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin_ids"
          }
        },
        "MEMBER_IDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "member_ids"
          }
        },
        "PARTICIPANT_IDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "participant_ids"
          }
        }
      },
      "traits": {}
    },
    "com.x.chats#GetChatConversationsRequestExpansionsList": {
      "type": "list",
      "member": {
        "target": "com.x.chats#GetChatConversationsRequestExpansionsItem"
      },
      "traits": {}
    },
    "com.x.chats#GetChatConversationsRequestUserFieldsItem": {
      "type": "enum",
      "members": {
        "CONFIRMED_EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "confirmed_email"
          }
        },
        "CONNECTION_STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connection_status"
          }
        },
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        },
        "DESCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "description"
          }
        },
        "ENTITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "entities"
          }
        },
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        },
        "IS_IDENTITY_VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_identity_verified"
          }
        },
        "LOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "location"
          }
        },
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        },
        "PARODY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "parody"
          }
        },
        "PROFILE_BANNER_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "profile_banner_url"
          }
        },
        "PROFILE_IMAGE_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "profile_image_url"
          }
        },
        "PROTECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "protected"
          }
        },
        "PUBLIC_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public_metrics"
          }
        },
        "RECEIVES_YOUR_DM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "receives_your_dm"
          }
        },
        "SUBSCRIBES_TO_YOU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subscribes_to_you"
          }
        },
        "SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subscription"
          }
        },
        "SUBSCRIPTION_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subscription_type"
          }
        },
        "URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url"
          }
        },
        "USERNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "username"
          }
        },
        "VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verified"
          }
        },
        "VERIFIED_FOLLOWERS_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verified_followers_count"
          }
        },
        "VERIFIED_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verified_type"
          }
        },
        "WITHHELD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "withheld"
          }
        }
      },
      "traits": {}
    },
    "com.x.chats#GetChatConversationsRequestUserFieldsList": {
      "type": "list",
      "member": {
        "target": "com.x.chats#GetChatConversationsRequestUserFieldsItem"
      },
      "traits": {
        "smithy.api#documentation": "The fields available for a User object."
      }
    },
    "com.x.chats#GetChatConversationsRequest": {
      "type": "structure",
      "members": {
        "max_results": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "max_results"
          }
        },
        "pagination_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pagination_token"
          }
        },
        "chat_conversation_fields": {
          "target": "com.x.chats#GetChatConversationsRequestChatConversationFieldsList",
          "traits": {
            "smithy.api#httpQuery": "chat_conversation.fields",
            "smithy.api#documentation": "A comma separated list of ChatConversation fields to display.",
            "com.x#csvQuery": true
          }
        },
        "expansions": {
          "target": "com.x.chats#GetChatConversationsRequestExpansionsList",
          "traits": {
            "smithy.api#httpQuery": "expansions",
            "smithy.api#documentation": "A comma separated list of fields to expand.",
            "com.x#csvQuery": true
          }
        },
        "user_fields": {
          "target": "com.x.chats#GetChatConversationsRequestUserFieldsList",
          "traits": {
            "smithy.api#httpQuery": "user.fields",
            "smithy.api#documentation": "A comma separated list of User fields to display.",
            "com.x#csvQuery": true
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "com.x#security": [
          "oauth2",
          "oauth1"
        ]
      }
    },
    "com.x.chats#GetChatConversationsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.x.chats#GetChatConversationsResponseDataList"
        },
        "errors": {
          "target": "com.x.chats#GetChatConversationsResponseErrorsList"
        },
        "includes": {
          "target": "com.x.chats#Expansions"
        },
        "meta": {
          "target": "com.x.chats#GetChatConversationsResponseMeta"
        }
      },
      "traits": {}
    },
    "com.x.chats#ChatConversation": {
      "type": "structure",
      "members": {
        "admin_ids": {
          "target": "com.x.chats#ChatConversationAdminIdsList"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "group_avatar_url": {
          "target": "smithy.api#String"
        },
        "group_name": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "is_muted": {
          "target": "smithy.api#Boolean"
        },
        "member_ids": {
          "target": "com.x.chats#ChatConversationMemberIdsList"
        },
        "message_ttl_ms": {
          "target": "smithy.api#Integer"
        },
        "participant_ids": {
          "target": "com.x.chats#ChatConversationParticipantIdsList"
        },
        "screen_capture_blocking_enabled": {
          "target": "smithy.api#Boolean"
        },
        "screen_capture_detection_enabled": {
          "target": "smithy.api#Boolean"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.chats#ChatConversationAdminIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.x.chats#ChatConversationMemberIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.x.chats#ChatConversationParticipantIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.x.chats#GetChatConversationsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.x.chats#ChatConversation"
      },
      "traits": {}
    },
    "com.x.chats#Problem": {
      "type": "union",
      "members": {
        "ResourceNotFoundProblem": {
          "target": "com.x.chats#ResourceNotFoundProblem"
        },
        "InvalidRequestProblem": {
          "target": "com.x.chats#InvalidRequestProblem"
        },
        "NotAuthorizedForResourceProblem": {
          "target": "com.x.chats#NotAuthorizedForResourceProblem"
        },
        "NotAuthorizedForFieldProblem": {
          "target": "com.x.chats#NotAuthorizedForFieldProblem"
        },
        "FieldUnauthorizedProblem": {
          "target": "com.x.chats#FieldUnauthorizedProblem"
        },
        "FieldHydrationFailureProblem": {
          "target": "com.x.chats#FieldHydrationFailureProblem"
        },
        "ResourceUnavailableProblem": {
          "target": "com.x.chats#ResourceUnavailableProblem"
        },
        "DisallowedResourceProblem": {
          "target": "com.x.chats#DisallowedResourceProblem"
        },
        "InternalErrorProblem": {
          "target": "com.x.chats#InternalErrorProblem"
        }
      },
      "traits": {}
    },
    "com.x.chats#ResourceNotFoundProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.chats#ResourceNotFoundProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.chats#ResourceNotFoundProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_RESOURCE_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/resource-not-found"
          }
        }
      },
      "traits": {}
    },
    "com.x.chats#InvalidRequestProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.chats#InvalidRequestProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.chats#InvalidRequestProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_INVALID_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/invalid-request"
          }
        }
      },
      "traits": {}
    },
    "com.x.chats#NotAuthorizedForResourceProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.chats#NotAuthorizedForResourceProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.chats#NotAuthorizedForResourceProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_NOT_AUTHORIZED_FOR_RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/not-authorized-for-resource"
          }
        }
      },
      "traits": {}
    },
    "com.x.chats#NotAuthorizedForFieldProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.chats#NotAuthorizedForFieldProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.chats#NotAuthorizedForFieldProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_NOT_AUTHORIZED_FOR_FIELD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/not-authorized-for-field"
          }
        }
      },
      "traits": {}
    },
    "com.x.chats#FieldUnauthorizedProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.chats#FieldUnauthorizedProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.chats#FieldUnauthorizedProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_FIELD_UNAUTHORIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/field-unauthorized"
          }
        }
      },
      "traits": {}
    },
    "com.x.chats#FieldHydrationFailureProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.chats#FieldHydrationFailureProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.chats#FieldHydrationFailureProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_FIELD_HYDRATION_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/field-hydration-failure"
          }
        }
      },
      "traits": {}
    },
    "com.x.chats#ResourceUnavailableProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.chats#ResourceUnavailableProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.chats#ResourceUnavailableProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_RESOURCE_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/resource-unavailable"
          }
        }
      },
      "traits": {}
    },
    "com.x.chats#DisallowedResourceProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.chats#DisallowedResourceProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.chats#DisallowedResourceProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_DISALLOWED_RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/disallowed-resource"
          }
        }
      },
      "traits": {}
    },
    "com.x.chats#InternalErrorProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.chats#InternalErrorProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.chats#InternalErrorProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/internal-error"
          }
        }
      },
      "traits": {}
    },
    "com.x.chats#GetChatConversationsResponseErrorsList": {
      "type": "list",
      "member": {
        "target": "com.x.chats#Problem"
      },
      "traits": {}
    },
    "com.x.chats#Expansions": {
      "type": "structure",
      "members": {
        "media": {
          "target": "com.x.chats#ExpansionsMediaList"
        },
        "places": {
          "target": "com.x.chats#ExpansionsPlacesList"
        },
        "polls": {
          "target": "com.x.chats#ExpansionsPollsList"
        },
        "posts": {
          "target": "com.x.chats#ExpansionsPostsList"
        },
        "topics": {
          "target": "com.x.chats#ExpansionsTopicsList"
        },
        "users": {
          "target": "com.x.chats#ExpansionsUsersList"
        }
      },
      "traits": {}
    },
    "com.x.chats#Media": {
      "type": "structure",
      "members": {
        "alt_text": {
          "target": "smithy.api#String"
        },
        "duration_ms": {
          "target": "smithy.api#Integer"
        },
        "height": {
          "target": "smithy.api#Integer"
        },
        "media_key": {
          "target": "smithy.api#String"
        },
        "non_public_metrics": {
          "target": "com.x.chats#MediaNonPublicMetrics"
        },
        "organic_metrics": {
          "target": "com.x.chats#MediaOrganicMetrics"
        },
        "preview_image_url": {
          "target": "smithy.api#String"
        },
        "promoted_metrics": {
          "target": "com.x.chats#MediaPromotedMetrics"
        },
        "public_metrics": {
          "target": "com.x.chats#MediaPublicMetrics"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String"
        },
        "variants": {
          "target": "com.x.chats#MediaVariants"
        },
        "width": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.x.chats#MediaNonPublicMetrics": {
      "type": "structure",
      "members": {
        "playback_0_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who started playback (0% quartile) of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_100_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who completed playback (100% quartile) of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_25_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 25% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_50_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 50% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_75_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 75% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Nonpublic engagement metrics for the media at the time of the request."
      }
    },
    "com.x.chats#MediaOrganicMetrics": {
      "type": "structure",
      "members": {
        "playback_0_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who started playback (0% quartile) of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_100_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who completed playback (100% quartile) of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_25_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 25% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_50_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 50% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_75_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 75% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "view_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of organic views of this video. Null when the backend returns quartile data without a view count.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Organic nonpublic engagement metrics for the media at the time of the request."
      }
    },
    "com.x.chats#MediaPromotedMetrics": {
      "type": "structure",
      "members": {
        "playback_0_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who started playback (0% quartile) of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_100_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who completed playback (100% quartile) of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_25_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 25% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_50_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 50% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_75_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 75% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "view_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of promoted views of this video. Null when the backend returns quartile data without a view count.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Promoted nonpublic engagement metrics for the media at the time of the request."
      }
    },
    "com.x.chats#MediaPublicMetrics": {
      "type": "structure",
      "members": {
        "view_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of times this video has been viewed.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Public engagement metrics for the media at the time of the request."
      }
    },
    "com.x.chats#MediaVariants": {
      "type": "list",
      "member": {
        "target": "com.x.chats#MediaVariantsItem"
      },
      "traits": {
        "smithy.api#documentation": "Each media object may have multiple display or playback variants, with different resolutions or formats."
      }
    },
    "com.x.chats#MediaVariantsItem": {
      "type": "structure",
      "members": {
        "bit_rate": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The bit rate of this variant, in bits per second. Absent for playlist variants.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The MIME type of this variant, for example \"video/mp4\" or \"application/x-mpegURL\".",
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to this media variant.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single playback or display variant of a media object."
      }
    },
    "com.x.chats#ExpansionsMediaList": {
      "type": "list",
      "member": {
        "target": "com.x.chats#Media"
      },
      "traits": {}
    },
    "com.x.chats#Place": {
      "type": "structure",
      "members": {
        "contained_within": {
          "target": "com.x.chats#PlaceContainedWithin"
        },
        "country": {
          "target": "smithy.api#String"
        },
        "country_code": {
          "target": "smithy.api#String"
        },
        "full_name": {
          "target": "smithy.api#String"
        },
        "geo": {
          "target": "com.x.chats#PlaceGeo"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "place_type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.chats#PlaceContainedWithin": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of unique identifiers of the Places that contain this place."
      }
    },
    "com.x.chats#PlaceGeo": {
      "type": "structure",
      "members": {
        "bbox": {
          "target": "com.x.chats#PlaceGeoBboxList",
          "traits": {
            "smithy.api#documentation": "The bounding box as [southwest_longitude, southwest_latitude, northeast_longitude, northeast_latitude].",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Additional GeoJSON feature properties.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.chats#PlaceGeoType",
          "traits": {
            "smithy.api#documentation": "The GeoJSON feature type.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The geographic location of this place, expressed as a GeoJSON Feature."
      }
    },
    "com.x.chats#PlaceGeoBboxList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      },
      "traits": {
        "smithy.api#documentation": "The bounding box as [southwest_longitude, southwest_latitude, northeast_longitude, northeast_latitude]."
      }
    },
    "com.x.chats#PlaceGeoType": {
      "type": "enum",
      "members": {
        "FEATURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Feature"
          }
        }
      },
      "traits": {}
    },
    "com.x.chats#ExpansionsPlacesList": {
      "type": "list",
      "member": {
        "target": "com.x.chats#Place"
      },
      "traits": {}
    },
    "com.x.chats#Poll": {
      "type": "structure",
      "members": {
        "duration_minutes": {
          "target": "smithy.api#Integer"
        },
        "end_datetime": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "options": {
          "target": "com.x.chats#PollOptions"
        },
        "voting_status": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.chats#PollOptions": {
      "type": "list",
      "member": {
        "target": "com.x.chats#PollOptionsItem"
      },
      "traits": {
        "smithy.api#documentation": "The list of options (choices) available in this poll."
      }
    },
    "com.x.chats#PollOptionsItem": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text label of this poll option.",
            "smithy.api#required": {}
          }
        },
        "position": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The 1-based position of this option within the poll.",
            "smithy.api#required": {}
          }
        },
        "votes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of votes this option has received.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single option (choice) available in a poll."
      }
    },
    "com.x.chats#ExpansionsPollsList": {
      "type": "list",
      "member": {
        "target": "com.x.chats#Poll"
      },
      "traits": {}
    },
    "com.x.chats#Post": {
      "type": "structure",
      "members": {
        "article": {
          "target": "smithy.api#Document"
        },
        "article_title": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Metadata about the long-form Article attached to this Post, if any."
          }
        },
        "attachments": {
          "target": "com.x.chats#PostAttachments"
        },
        "author_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the author of this Post."
          }
        },
        "card_uri": {
          "target": "smithy.api#String"
        },
        "community_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the Community this Post belongs to, if any."
          }
        },
        "context_annotations": {
          "target": "com.x.chats#PostContextAnnotations"
        },
        "conversation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the conversation this Post belongs to (matches the root Post's ID)."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation time of the Post."
          }
        },
        "display_text_range": {
          "target": "com.x.chats#PostDisplayTextRange"
        },
        "edit_controls": {
          "target": "com.x.chats#PostEditControls"
        },
        "edit_history_post_ids": {
          "target": "com.x.chats#PostEditHistoryPostIdsList",
          "traits": {
            "smithy.api#documentation": "A list of Post IDs in this Post's edit history chain."
          }
        },
        "entities": {
          "target": "com.x.chats#PostEntities"
        },
        "geo": {
          "target": "com.x.chats#PostGeo"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of this Post."
          }
        },
        "in_reply_to_user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the User this Post is replying to."
          }
        },
        "lang": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Language of the Post, if detected by X. Returned as a BCP47 language tag."
          }
        },
        "matched_media_notes": {
          "target": "com.x.chats#PostMatchedMediaNotes"
        },
        "media_metadata": {
          "target": "com.x.chats#PostMediaMetadata"
        },
        "non_public_metrics": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Nonpublic engagement metrics for the Post at the time of the request."
          }
        },
        "note_post": {
          "target": "com.x.chats#PostNotePost"
        },
        "note_request_suggestions": {
          "target": "com.x.chats#PostNoteRequestSuggestions"
        },
        "organic_metrics": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Organic nonpublic engagement metrics for the Post at the time of the request."
          }
        },
        "paid_partnership": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this Post is a paid partnership, i.e. it has been disclosed by the author as containing paid promotion."
          }
        },
        "possibly_sensitive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this Post contains URLs marked as sensitive, for example content suitable for mature audiences."
          }
        },
        "promoted_metrics": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Promoted nonpublic engagement metrics for the Post at the time of the request."
          }
        },
        "public_metrics": {
          "target": "com.x.chats#PostPublicMetrics"
        },
        "referenced_posts": {
          "target": "com.x.chats#PostReferencedPosts"
        },
        "reply_settings": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Shows who can reply to this Post."
          }
        },
        "scopes": {
          "target": "com.x.chats#PostScopes"
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the app the user posted from. This is deprecated."
          }
        },
        "suggested_source_links": {
          "target": "com.x.chats#PostSuggestedSourceLinks"
        },
        "suggested_source_links_with_counts": {
          "target": "com.x.chats#PostSuggestedSourceLinksWithCounts"
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content of the Post."
          }
        },
        "username": {
          "target": "smithy.api#String"
        },
        "withheld": {
          "target": "com.x.chats#PostWithheld"
        }
      },
      "traits": {}
    },
    "com.x.chats#PostAttachments": {
      "type": "structure",
      "members": {
        "media_keys": {
          "target": "com.x.chats#PostAttachmentsMediaKeysList",
          "traits": {
            "smithy.api#documentation": "Media keys of media attached to this Post.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "media_source_tweet_id": {
          "target": "com.x.chats#PostAttachmentsMediaSourceTweetIdList",
          "traits": {
            "smithy.api#documentation": "IDs of the source Posts the attached media originated from.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "poll_ids": {
          "target": "com.x.chats#PostAttachmentsPollIdsList",
          "traits": {
            "smithy.api#documentation": "IDs of polls attached to this Post.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the type of attachments (if any) present in this Post."
      }
    },
    "com.x.chats#PostAttachmentsMediaKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Media keys of media attached to this Post."
      }
    },
    "com.x.chats#PostAttachmentsMediaSourceTweetIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "IDs of the source Posts the attached media originated from."
      }
    },
    "com.x.chats#PostAttachmentsPollIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "IDs of polls attached to this Post."
      }
    },
    "com.x.chats#PostContextAnnotations": {
      "type": "list",
      "member": {
        "target": "com.x.chats#PostContextAnnotationsItem"
      },
      "traits": {
        "smithy.api#documentation": "Annotations inferred about the Post (domain and entity context)."
      }
    },
    "com.x.chats#PostContextAnnotationsItemDomain": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A domain or entity referenced by a context annotation."
      }
    },
    "com.x.chats#PostContextAnnotationsItemEntity": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A domain or entity referenced by a context annotation."
      }
    },
    "com.x.chats#PostContextAnnotationsItem": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "com.x.chats#PostContextAnnotationsItemDomain",
          "traits": {
            "smithy.api#documentation": "The domain (broad category) this annotation belongs to.",
            "smithy.api#required": {}
          }
        },
        "entity": {
          "target": "com.x.chats#PostContextAnnotationsItemEntity",
          "traits": {
            "smithy.api#documentation": "The specific entity recognized within the domain.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single inferred annotation about the Post (domain and entity context)."
      }
    },
    "com.x.chats#PostDisplayTextRange": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "The inclusive start and exclusive end indices of the displayable content of the Post."
      }
    },
    "com.x.chats#PostEditControls": {
      "type": "structure",
      "members": {
        "editable_until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time until which this Post can be edited.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "edits_remaining": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of edits still allowed for this Post.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_edit_eligible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether this Post is eligible to be edited.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates how much longer (if at all) this Post can be edited."
      }
    },
    "com.x.chats#PostEditHistoryPostIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of Post IDs in this Post's edit history chain."
      }
    },
    "com.x.chats#PostEntities": {
      "type": "structure",
      "members": {
        "cashtags": {
          "target": "com.x.chats#PostEntitiesCashtagsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hashtags": {
          "target": "com.x.chats#PostEntitiesHashtagsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "mentions": {
          "target": "com.x.chats#PostEntitiesMentionsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "urls": {
          "target": "com.x.chats#PostEntitiesUrlsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of metadata entities (hashtags, mentions, URLs) found in the Post text."
      }
    },
    "com.x.chats#PostEntitiesCashtagsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "End index in the text (exclusive).",
            "smithy.api#required": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Start index in the text (inclusive).",
            "smithy.api#required": {}
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A hashtag or cashtag entity."
      }
    },
    "com.x.chats#PostEntitiesCashtagsList": {
      "type": "list",
      "member": {
        "target": "com.x.chats#PostEntitiesCashtagsItem"
      },
      "traits": {}
    },
    "com.x.chats#PostEntitiesHashtagsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "End index in the text (exclusive).",
            "smithy.api#required": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Start index in the text (inclusive).",
            "smithy.api#required": {}
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A hashtag or cashtag entity."
      }
    },
    "com.x.chats#PostEntitiesHashtagsList": {
      "type": "list",
      "member": {
        "target": "com.x.chats#PostEntitiesHashtagsItem"
      },
      "traits": {}
    },
    "com.x.chats#PostEntitiesMentionsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A user mention entity."
      }
    },
    "com.x.chats#PostEntitiesMentionsList": {
      "type": "list",
      "member": {
        "target": "com.x.chats#PostEntitiesMentionsItem"
      },
      "traits": {}
    },
    "com.x.chats#PostEntitiesUrlsItemImagesItem": {
      "type": "structure",
      "members": {
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A preview image for a linked page."
      }
    },
    "com.x.chats#PostEntitiesUrlsItemImagesList": {
      "type": "list",
      "member": {
        "target": "com.x.chats#PostEntitiesUrlsItemImagesItem"
      },
      "traits": {}
    },
    "com.x.chats#PostEntitiesUrlsItem": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the linked page, when available.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "display_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL as displayed in the Post text.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expanded_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully resolved URL.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "images": {
          "target": "com.x.chats#PostEntitiesUrlsItemImagesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "media_key": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "HTTP status from resolving the URL.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the linked page, when available.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "unwound_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The final destination after following redirects.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The t.co shortened URL.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A URL entity found in the Post text, enriched with link metadata."
      }
    },
    "com.x.chats#PostEntitiesUrlsList": {
      "type": "list",
      "member": {
        "target": "com.x.chats#PostEntitiesUrlsItem"
      },
      "traits": {}
    },
    "com.x.chats#PostGeo": {
      "type": "structure",
      "members": {
        "coordinates": {
          "target": "com.x.chats#PostGeoCoordinates",
          "traits": {
            "smithy.api#documentation": "A GeoJSON Point geometry.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "place_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the tagged place.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The location tagged on the Post, if the user provided one."
      }
    },
    "com.x.chats#PostGeoCoordinatesCoordinatesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      },
      "traits": {
        "smithy.api#documentation": "[longitude, latitude]."
      }
    },
    "com.x.chats#PostGeoCoordinatesType": {
      "type": "enum",
      "members": {
        "POINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Point"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The GeoJSON geometry type."
      }
    },
    "com.x.chats#PostGeoCoordinates": {
      "type": "structure",
      "members": {
        "coordinates": {
          "target": "com.x.chats#PostGeoCoordinatesCoordinatesList",
          "traits": {
            "smithy.api#documentation": "[longitude, latitude].",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.chats#PostGeoCoordinatesType",
          "traits": {
            "smithy.api#documentation": "The GeoJSON geometry type.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A GeoJSON Point geometry."
      }
    },
    "com.x.chats#PostMatchedMediaNotes": {
      "type": "list",
      "member": {
        "target": "com.x.chats#PostMatchedMediaNotesItem"
      },
      "traits": {
        "smithy.api#documentation": "Community-Notes media matches for this Post."
      }
    },
    "com.x.chats#PostMatchedMediaNotesItem": {
      "type": "structure",
      "members": {
        "match_status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status of the media note match.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "note_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The matched note's unique identifier.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Community-Notes media match for this Post."
      }
    },
    "com.x.chats#PostMediaMetadata": {
      "type": "list",
      "member": {
        "target": "com.x.chats#PostMediaMetadataItem"
      },
      "traits": {
        "smithy.api#documentation": "Metadata for media attached to this Post."
      }
    },
    "com.x.chats#PostMediaMetadataItem": {
      "type": "structure",
      "members": {
        "alt_text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Alternative text describing the media for accessibility.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the media.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "media_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the media.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the media.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for one media item attached to this Post."
      }
    },
    "com.x.chats#PostNotePost": {
      "type": "structure",
      "members": {
        "entities": {
          "target": "com.x.chats#PostNotePostEntities",
          "traits": {
            "smithy.api#documentation": "Metadata entities (hashtags, cashtags, mentions, URLs) found in the note Post text.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full note text of the Post.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The full content of the Post, including text beyond 280 characters."
      }
    },
    "com.x.chats#PostNotePostEntitiesCashtagsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "End index in the text (exclusive).",
            "smithy.api#required": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Start index in the text (inclusive).",
            "smithy.api#required": {}
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A hashtag or cashtag entity."
      }
    },
    "com.x.chats#PostNotePostEntitiesCashtagsList": {
      "type": "list",
      "member": {
        "target": "com.x.chats#PostNotePostEntitiesCashtagsItem"
      },
      "traits": {}
    },
    "com.x.chats#PostNotePostEntitiesHashtagsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "End index in the text (exclusive).",
            "smithy.api#required": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Start index in the text (inclusive).",
            "smithy.api#required": {}
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A hashtag or cashtag entity."
      }
    },
    "com.x.chats#PostNotePostEntitiesHashtagsList": {
      "type": "list",
      "member": {
        "target": "com.x.chats#PostNotePostEntitiesHashtagsItem"
      },
      "traits": {}
    },
    "com.x.chats#PostNotePostEntitiesMentionsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A user mention entity."
      }
    },
    "com.x.chats#PostNotePostEntitiesMentionsList": {
      "type": "list",
      "member": {
        "target": "com.x.chats#PostNotePostEntitiesMentionsItem"
      },
      "traits": {}
    },
    "com.x.chats#PostNotePostEntitiesUrlsItem": {
      "type": "structure",
      "members": {
        "display_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expanded_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A URL entity found in note Post text."
      }
    },
    "com.x.chats#PostNotePostEntitiesUrlsList": {
      "type": "list",
      "member": {
        "target": "com.x.chats#PostNotePostEntitiesUrlsItem"
      },
      "traits": {}
    },
    "com.x.chats#PostNotePostEntities": {
      "type": "structure",
      "members": {
        "cashtags": {
          "target": "com.x.chats#PostNotePostEntitiesCashtagsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hashtags": {
          "target": "com.x.chats#PostNotePostEntitiesHashtagsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "mentions": {
          "target": "com.x.chats#PostNotePostEntitiesMentionsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "urls": {
          "target": "com.x.chats#PostNotePostEntitiesUrlsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata entities (hashtags, cashtags, mentions, URLs) found in the note Post text."
      }
    },
    "com.x.chats#PostNoteRequestSuggestions": {
      "type": "list",
      "member": {
        "target": "com.x.chats#PostNoteRequestSuggestionsItem"
      },
      "traits": {
        "smithy.api#documentation": "Community-Notes request suggestions for this Post."
      }
    },
    "com.x.chats#PostNoteRequestSuggestionsItem": {
      "type": "structure",
      "members": {
        "source_link": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A suggested source link supporting the note request.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "suggestion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text of the note request suggestion.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "suggestion_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the note request suggestion.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Community-Notes request suggestion for this Post."
      }
    },
    "com.x.chats#PostPublicMetrics": {
      "type": "structure",
      "members": {
        "bookmark_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of times this Post has been bookmarked.",
            "smithy.api#required": {}
          }
        },
        "impression_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of times this Post has been viewed.",
            "smithy.api#required": {}
          }
        },
        "like_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of likes on this Post.",
            "smithy.api#required": {}
          }
        },
        "quote_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of quote Posts of this Post.",
            "smithy.api#required": {}
          }
        },
        "reply_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of replies to this Post.",
            "smithy.api#required": {}
          }
        },
        "repost_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of times this Post has been reposted.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Engagement metrics for the Post at the time of the request."
      }
    },
    "com.x.chats#PostReferencedPosts": {
      "type": "list",
      "member": {
        "target": "com.x.chats#PostReferencedPostsItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of Posts this Post refers to. If the Post is a Retweet, Quote or Reply, it includes the referenced Post's type and ID."
      }
    },
    "com.x.chats#PostReferencedPostsItemType": {
      "type": "enum",
      "members": {
        "RETWEETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "retweeted"
          }
        },
        "QUOTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quoted"
          }
        },
        "REPLIED_TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "replied_to"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The kind of Post-to-Post reference."
      }
    },
    "com.x.chats#PostReferencedPostsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the referenced Post.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.chats#PostReferencedPostsItemType",
          "traits": {
            "smithy.api#documentation": "How this Post references the other Post.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reference from this Post to another Post (repost, quote, or reply)."
      }
    },
    "com.x.chats#PostScopes": {
      "type": "structure",
      "members": {
        "followers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether visibility of this Post is limited to the author's followers.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The scopes for this Post."
      }
    },
    "com.x.chats#PostSuggestedSourceLinks": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "URLs suggested as sources for this Post."
      }
    },
    "com.x.chats#PostSuggestedSourceLinksWithCounts": {
      "type": "list",
      "member": {
        "target": "com.x.chats#PostSuggestedSourceLinksWithCountsItem"
      },
      "traits": {
        "smithy.api#documentation": "Suggested source URLs for this Post, each with the number of times it was suggested."
      }
    },
    "com.x.chats#PostSuggestedSourceLinksWithCountsItem": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of times this source link was suggested.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The suggested source URL.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A suggested source URL for this Post with the number of times it was suggested."
      }
    },
    "com.x.chats#PostWithheld": {
      "type": "structure",
      "members": {
        "copyright": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether this content is withheld due to a copyright claim.",
            "smithy.api#required": {}
          }
        },
        "country_codes": {
          "target": "com.x.chats#PostWithheldCountryCodesList",
          "traits": {
            "smithy.api#documentation": "Uppercase ISO 3166-1 alpha-2 country codes where this content is withheld.",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "com.x.chats#PostWithheldScope",
          "traits": {
            "smithy.api#documentation": "Whether the withholding applies to a Post or a User.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Withholding details for withheld content."
      }
    },
    "com.x.chats#PostWithheldCountryCodesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Uppercase ISO 3166-1 alpha-2 country codes where this content is withheld."
      }
    },
    "com.x.chats#PostWithheldScope": {
      "type": "enum",
      "members": {
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "post"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether the withholding applies to a Post or a User."
      }
    },
    "com.x.chats#ExpansionsPostsList": {
      "type": "list",
      "member": {
        "target": "com.x.chats#Post"
      },
      "traits": {}
    },
    "com.x.chats#Topic": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.chats#ExpansionsTopicsList": {
      "type": "list",
      "member": {
        "target": "com.x.chats#Topic"
      },
      "traits": {}
    },
    "com.x.chats#User": {
      "type": "structure",
      "members": {
        "affiliation": {
          "target": "com.x.chats#UserAffiliation"
        },
        "confirmed_email": {
          "target": "smithy.api#String"
        },
        "connection_status": {
          "target": "com.x.chats#UserConnectionStatus"
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation time of this User."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text of this User's profile description (also known as bio), if the User provided one."
          }
        },
        "entities": {
          "target": "com.x.chats#UserEntities"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of this User."
          }
        },
        "is_identity_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this User has completed identity verification."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location specified in the User's profile, if the User provided one. As this is a freeform value, it may not indicate a valid location."
          }
        },
        "most_recent_post_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of this User's most recent Post."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name of this User, as shown on their profile."
          }
        },
        "parody": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this User is a parody account."
          }
        },
        "pinned_post_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of this User's pinned Post."
          }
        },
        "profile_banner_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to the profile banner for this User."
          }
        },
        "profile_image_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to the profile image for this User."
          }
        },
        "protected": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this User has chosen to protect their Posts (in other words, if this User's Posts are private)."
          }
        },
        "public_metrics": {
          "target": "com.x.chats#UserPublicMetrics"
        },
        "receives_your_dm": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if you can send a DM to this User."
          }
        },
        "subscribes_to_you": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this User subscribes to you."
          }
        },
        "subscription": {
          "target": "com.x.chats#UserSubscription"
        },
        "subscription_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The X Blue subscription type of the user, e.g.: Basic, Premium, PremiumPlus or None."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL specified in the User's profile."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The X handle (screen name) of this User."
          }
        },
        "verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this User is a verified X User."
          }
        },
        "verified_followers_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of verified followers of this User."
          }
        },
        "verified_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The X Blue verified type of the user, e.g.: blue, government, business or none."
          }
        },
        "withheld": {
          "target": "com.x.chats#UserWithheld"
        }
      },
      "traits": {}
    },
    "com.x.chats#UserAffiliation": {
      "type": "structure",
      "members": {
        "badge_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the affiliation badge image shown on the User's profile.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the affiliation.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL associated with the affiliation.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "user_id": {
          "target": "com.x.chats#UserAffiliationUserIdList",
          "traits": {
            "smithy.api#documentation": "A list of unique identifiers of the accounts this User is affiliated with.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata about a user's affiliation."
      }
    },
    "com.x.chats#UserAffiliationUserIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of unique identifiers of the accounts this User is affiliated with."
      }
    },
    "com.x.chats#UserConnectionStatus": {
      "type": "list",
      "member": {
        "target": "com.x.chats#UserConnectionStatusItem"
      },
      "traits": {
        "smithy.api#documentation": "Returns detailed information about the relationship between two users."
      }
    },
    "com.x.chats#UserConnectionStatusItem": {
      "type": "enum",
      "members": {
        "BLOCKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blocking"
          }
        },
        "FOLLOW_REQUEST_RECEIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "follow_request_received"
          }
        },
        "FOLLOW_REQUEST_SENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "follow_request_sent"
          }
        },
        "FOLLOWED_BY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "followed_by"
          }
        },
        "FOLLOWING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "following"
          }
        },
        "MUTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "muting"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A connection between the authenticated User and this User."
      }
    },
    "com.x.chats#UserEntities": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.x.chats#UserEntitiesDescription",
          "traits": {
            "smithy.api#documentation": "Entities found in the User's bio.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "com.x.chats#UserEntitiesUrl",
          "traits": {
            "smithy.api#documentation": "Entities for the User's profile website URL.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of metadata found in the User's profile description."
      }
    },
    "com.x.chats#UserEntitiesDescriptionCashtagsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "End index in the text (exclusive).",
            "smithy.api#required": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Start index in the text (inclusive).",
            "smithy.api#required": {}
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A hashtag or cashtag entity."
      }
    },
    "com.x.chats#UserEntitiesDescriptionCashtagsList": {
      "type": "list",
      "member": {
        "target": "com.x.chats#UserEntitiesDescriptionCashtagsItem"
      },
      "traits": {}
    },
    "com.x.chats#UserEntitiesDescriptionHashtagsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "End index in the text (exclusive).",
            "smithy.api#required": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Start index in the text (inclusive).",
            "smithy.api#required": {}
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A hashtag or cashtag entity."
      }
    },
    "com.x.chats#UserEntitiesDescriptionHashtagsList": {
      "type": "list",
      "member": {
        "target": "com.x.chats#UserEntitiesDescriptionHashtagsItem"
      },
      "traits": {}
    },
    "com.x.chats#UserEntitiesDescriptionMentionsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A user mention entity."
      }
    },
    "com.x.chats#UserEntitiesDescriptionMentionsList": {
      "type": "list",
      "member": {
        "target": "com.x.chats#UserEntitiesDescriptionMentionsItem"
      },
      "traits": {}
    },
    "com.x.chats#UserEntitiesDescriptionUrlsItemImagesItem": {
      "type": "structure",
      "members": {
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A preview image for a linked page."
      }
    },
    "com.x.chats#UserEntitiesDescriptionUrlsItemImagesList": {
      "type": "list",
      "member": {
        "target": "com.x.chats#UserEntitiesDescriptionUrlsItemImagesItem"
      },
      "traits": {}
    },
    "com.x.chats#UserEntitiesDescriptionUrlsItem": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the linked page, when available.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "display_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL as displayed in the Post text.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expanded_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully resolved URL.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "images": {
          "target": "com.x.chats#UserEntitiesDescriptionUrlsItemImagesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "media_key": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "HTTP status from resolving the URL.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the linked page, when available.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "unwound_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The final destination after following redirects.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The t.co shortened URL.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A URL entity found in profile text."
      }
    },
    "com.x.chats#UserEntitiesDescriptionUrlsList": {
      "type": "list",
      "member": {
        "target": "com.x.chats#UserEntitiesDescriptionUrlsItem"
      },
      "traits": {}
    },
    "com.x.chats#UserEntitiesDescription": {
      "type": "structure",
      "members": {
        "cashtags": {
          "target": "com.x.chats#UserEntitiesDescriptionCashtagsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hashtags": {
          "target": "com.x.chats#UserEntitiesDescriptionHashtagsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "mentions": {
          "target": "com.x.chats#UserEntitiesDescriptionMentionsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "urls": {
          "target": "com.x.chats#UserEntitiesDescriptionUrlsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Entities found in the User's bio."
      }
    },
    "com.x.chats#UserEntitiesUrlUrlsItemImagesItem": {
      "type": "structure",
      "members": {
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A preview image for a linked page."
      }
    },
    "com.x.chats#UserEntitiesUrlUrlsItemImagesList": {
      "type": "list",
      "member": {
        "target": "com.x.chats#UserEntitiesUrlUrlsItemImagesItem"
      },
      "traits": {}
    },
    "com.x.chats#UserEntitiesUrlUrlsItem": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the linked page, when available.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "display_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL as displayed in the Post text.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expanded_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully resolved URL.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "images": {
          "target": "com.x.chats#UserEntitiesUrlUrlsItemImagesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "media_key": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "HTTP status from resolving the URL.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the linked page, when available.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "unwound_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The final destination after following redirects.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The t.co shortened URL.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A URL entity found in profile text."
      }
    },
    "com.x.chats#UserEntitiesUrlUrlsList": {
      "type": "list",
      "member": {
        "target": "com.x.chats#UserEntitiesUrlUrlsItem"
      },
      "traits": {}
    },
    "com.x.chats#UserEntitiesUrl": {
      "type": "structure",
      "members": {
        "urls": {
          "target": "com.x.chats#UserEntitiesUrlUrlsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Entities for the User's profile website URL."
      }
    },
    "com.x.chats#UserPublicMetrics": {
      "type": "structure",
      "members": {
        "followers_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of Users who follow this User.",
            "smithy.api#required": {}
          }
        },
        "following_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of Users this User follows.",
            "smithy.api#required": {}
          }
        },
        "like_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of Posts this User has liked.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "listed_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of Lists that include this User.",
            "smithy.api#required": {}
          }
        },
        "media_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of media items posted by this User.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "post_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of Posts (including Reposts) created by this User.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of metrics for this User."
      }
    },
    "com.x.chats#UserSubscription": {
      "type": "structure",
      "members": {
        "subscribes_to_you": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this User subscribes to you.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The subscription relationship between this User and you."
      }
    },
    "com.x.chats#UserWithheld": {
      "type": "structure",
      "members": {
        "country_codes": {
          "target": "com.x.chats#UserWithheldCountryCodesList",
          "traits": {
            "smithy.api#documentation": "A list of countries (as ISO 3166-1 alpha-2 codes) where this content is withheld.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "scope": {
          "target": "com.x.chats#UserWithheldScope",
          "traits": {
            "smithy.api#documentation": "The scope of the withholding. Only present, with the value \"user\", when the entire User is withheld.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Withholding details for withheld content."
      }
    },
    "com.x.chats#UserWithheldCountryCodesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of countries (as ISO 3166-1 alpha-2 codes) where this content is withheld."
      }
    },
    "com.x.chats#UserWithheldScope": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The scope of the withholding. Only present, with the value \"user\", when the entire User is withheld."
      }
    },
    "com.x.chats#ExpansionsUsersList": {
      "type": "list",
      "member": {
        "target": "com.x.chats#User"
      },
      "traits": {}
    },
    "com.x.chats#GetChatConversationsResponseMeta": {
      "type": "structure",
      "members": {
        "has_message_requests": {
          "target": "smithy.api#Boolean"
        },
        "has_more": {
          "target": "smithy.api#Boolean"
        },
        "next_token": {
          "target": "smithy.api#String",
[...]
