{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.x.directMessages#CreateDirectMessagesConversationRequestConversationType": {
      "type": "enum",
      "members": {
        "GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Group"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The conversation type to create. Supports `Group` only."
      }
    },
    "com.x.directMessages#CreateDirectMessagesConversationMessage": {
      "type": "structure",
      "members": {
        "attachments": {
          "target": "com.x.directMessages#CreateDirectMessagesConversationMessageAttachmentsList",
          "traits": {
            "smithy.api#documentation": "Attachments to include with the message."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text of the Direct Message."
          }
        }
      },
      "traits": {}
    },
    "com.x.directMessages#CreateDirectMessagesConversationMessageAttachments": {
      "type": "structure",
      "members": {
        "media_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A media id to attach to the message.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.directMessages#CreateDirectMessagesConversationMessageAttachmentsList": {
      "type": "list",
      "member": {
        "target": "com.x.directMessages#CreateDirectMessagesConversationMessageAttachments"
      },
      "traits": {
        "smithy.api#documentation": "Attachments to include with the message."
      }
    },
    "com.x.directMessages#CreateDirectMessagesConversationRequestParticipantIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Participants for the conversation."
      }
    },
    "com.x.directMessages#CreateDirectMessagesConversationRequest": {
      "type": "structure",
      "members": {
        "conversation_type": {
          "target": "com.x.directMessages#CreateDirectMessagesConversationRequestConversationType",
          "traits": {
            "smithy.api#documentation": "The conversation type to create. Supports `Group` only.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "com.x.directMessages#CreateDirectMessagesConversationMessage",
          "traits": {
            "smithy.api#documentation": "The initial Direct Message to send to the conversation.",
            "smithy.api#required": {}
          }
        },
        "participant_ids": {
          "target": "com.x.directMessages#CreateDirectMessagesConversationRequestParticipantIdsList",
          "traits": {
            "smithy.api#documentation": "Participants for the conversation.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "com.x#security": [
          "oauth2",
          "oauth1"
        ],
        "com.x#requestBody": true
      }
    },
    "com.x.directMessages#CreateDirectMessagesConversationResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.x.directMessages#CreateDirectMessagesConversationResponseData"
        },
        "errors": {
          "target": "com.x.directMessages#CreateDirectMessagesConversationResponseErrorsList"
        }
      },
      "traits": {}
    },
    "com.x.directMessages#CreateDirectMessagesConversationResponseData": {
      "type": "structure",
      "members": {
        "dm_conversation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the created conversation.",
            "smithy.api#required": {}
          }
        },
        "dm_event_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the created DM event.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.directMessages#Problem": {
      "type": "union",
      "members": {
        "ResourceNotFoundProblem": {
          "target": "com.x.directMessages#ResourceNotFoundProblem"
        },
        "InvalidRequestProblem": {
          "target": "com.x.directMessages#InvalidRequestProblem"
        },
        "NotAuthorizedForResourceProblem": {
          "target": "com.x.directMessages#NotAuthorizedForResourceProblem"
        },
        "NotAuthorizedForFieldProblem": {
          "target": "com.x.directMessages#NotAuthorizedForFieldProblem"
        },
        "FieldUnauthorizedProblem": {
          "target": "com.x.directMessages#FieldUnauthorizedProblem"
        },
        "FieldHydrationFailureProblem": {
          "target": "com.x.directMessages#FieldHydrationFailureProblem"
        },
        "ResourceUnavailableProblem": {
          "target": "com.x.directMessages#ResourceUnavailableProblem"
        },
        "DisallowedResourceProblem": {
          "target": "com.x.directMessages#DisallowedResourceProblem"
        },
        "InternalErrorProblem": {
          "target": "com.x.directMessages#InternalErrorProblem"
        }
      },
      "traits": {}
    },
    "com.x.directMessages#ResourceNotFoundProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.directMessages#ResourceNotFoundProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.directMessages#ResourceNotFoundProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_RESOURCE_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/resource-not-found"
          }
        }
      },
      "traits": {}
    },
    "com.x.directMessages#InvalidRequestProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.directMessages#InvalidRequestProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.directMessages#InvalidRequestProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_INVALID_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/invalid-request"
          }
        }
      },
      "traits": {}
    },
    "com.x.directMessages#NotAuthorizedForResourceProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.directMessages#NotAuthorizedForResourceProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.directMessages#NotAuthorizedForResourceProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_NOT_AUTHORIZED_FOR_RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/not-authorized-for-resource"
          }
        }
      },
      "traits": {}
    },
    "com.x.directMessages#NotAuthorizedForFieldProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.directMessages#NotAuthorizedForFieldProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.directMessages#NotAuthorizedForFieldProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_NOT_AUTHORIZED_FOR_FIELD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/not-authorized-for-field"
          }
        }
      },
      "traits": {}
    },
    "com.x.directMessages#FieldUnauthorizedProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.directMessages#FieldUnauthorizedProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.directMessages#FieldUnauthorizedProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_FIELD_UNAUTHORIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/field-unauthorized"
          }
        }
      },
      "traits": {}
    },
    "com.x.directMessages#FieldHydrationFailureProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.directMessages#FieldHydrationFailureProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.directMessages#FieldHydrationFailureProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_FIELD_HYDRATION_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/field-hydration-failure"
          }
        }
      },
      "traits": {}
    },
    "com.x.directMessages#ResourceUnavailableProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.directMessages#ResourceUnavailableProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.directMessages#ResourceUnavailableProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_RESOURCE_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/resource-unavailable"
          }
        }
      },
      "traits": {}
    },
    "com.x.directMessages#DisallowedResourceProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.directMessages#DisallowedResourceProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.directMessages#DisallowedResourceProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_DISALLOWED_RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/disallowed-resource"
          }
        }
      },
      "traits": {}
    },
    "com.x.directMessages#InternalErrorProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.directMessages#InternalErrorProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.directMessages#InternalErrorProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/internal-error"
          }
        }
      },
      "traits": {}
    },
    "com.x.directMessages#CreateDirectMessagesConversationResponseErrorsList": {
      "type": "list",
      "member": {
        "target": "com.x.directMessages#Problem"
      },
      "traits": {}
    },
    "com.x.directMessages#CreateDirectMessagesConversation": {
      "type": "operation",
      "input": {
        "target": "com.x.directMessages#CreateDirectMessagesConversationRequest"
      },
      "output": {
        "target": "com.x.directMessages#CreateDirectMessagesConversationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2/dm_conversations",
          "code": 200
        },
        "smithy.api#documentation": "Create DM conversation\n\nInitiates a new direct message conversation with specified participants.",
        "com.x#response": "json"
      }
    },
    "com.x.directMessages#DmConversationsMediaDownloadRequest": {
      "type": "structure",
      "members": {
        "dm_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "media_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "resource_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "com.x#security": [
          "oauth2"
        ]
      }
    },
    "com.x.directMessages#DmConversationsMediaDownload": {
      "type": "operation",
      "input": {
        "target": "com.x.directMessages#DmConversationsMediaDownloadRequest"
      },
      "output": {
        "target": "com.x.directMessages#DmConversationsMediaDownloadResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2/dm_conversations/media/{dm_id}/{media_id}/{resource_id}",
          "code": 200
        },
        "smithy.api#documentation": "Download DM Media\n\nDownloads media attached to a legacy Direct Message. The requesting user must be a participant in the conversation containing the specified DM event. The response body contains raw binary bytes.",
        "com.x#response": "binary"
      }
    },
    "com.x.directMessages#GetDirectMessagesEventsByParticipantIdRequestEventTypesItem": {
      "type": "enum",
      "members": {
        "MESSAGECREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MessageCreate"
          }
        },
        "PARTICIPANTSJOIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ParticipantsJoin"
          }
        },
        "PARTICIPANTSLEAVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ParticipantsLeave"
          }
        }
      },
      "traits": {}
    },
    "com.x.directMessages#GetDirectMessagesEventsByParticipantIdRequestEventTypesList": {
      "type": "list",
      "member": {
        "target": "com.x.directMessages#GetDirectMessagesEventsByParticipantIdRequestEventTypesItem"
      },
      "traits": {}
    },
    "com.x.directMessages#GetDirectMessagesEventsByParticipantIdRequestDmEventFieldsItem": {
      "type": "enum",
      "members": {
        "ATTACHMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attachments"
          }
        },
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        },
        "DM_CONVERSATION_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dm_conversation_id"
          }
        },
        "ENTITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "entities"
          }
        },
        "EVENT_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "event_type"
          }
        },
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        },
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      },
      "traits": {}
    },
    "com.x.directMessages#GetDirectMessagesEventsByParticipantIdRequestDmEventFieldsList": {
      "type": "list",
      "member": {
        "target": "com.x.directMessages#GetDirectMessagesEventsByParticipantIdRequestDmEventFieldsItem"
      },
      "traits": {
        "smithy.api#documentation": "The fields available for a DmEvent object."
      }
    },
    "com.x.directMessages#GetDirectMessagesEventsByParticipantIdRequestExpansionsItem": {
      "type": "enum",
      "members": {
        "ATTACHMENTS_MEDIA_KEYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attachments.media_keys"
          }
        },
        "ATTACHMENTS_MEDIA_KEYS_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attachments.media_keys"
          }
        },
        "PARTICIPANT_IDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "participant_ids"
          }
        },
        "REFERENCED_POSTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "referenced_posts"
          }
        },
        "SENDER_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sender_id"
          }
        }
      },
      "traits": {}
    },
    "com.x.directMessages#GetDirectMessagesEventsByParticipantIdRequestExpansionsList": {
      "type": "list",
      "member": {
        "target": "com.x.directMessages#GetDirectMessagesEventsByParticipantIdRequestExpansionsItem"
      },
      "traits": {}
    },
    "com.x.directMessages#GetDirectMessagesEventsByParticipantIdRequestUserFieldsItem": {
      "type": "enum",
      "members": {
        "CONFIRMED_EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "confirmed_email"
          }
        },
        "CONNECTION_STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connection_status"
          }
        },
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        },
        "DESCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "description"
          }
        },
        "ENTITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "entities"
          }
        },
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        },
        "IS_IDENTITY_VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_identity_verified"
          }
        },
        "LOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "location"
          }
        },
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        },
        "PARODY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "parody"
          }
        },
        "PROFILE_BANNER_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "profile_banner_url"
          }
        },
        "PROFILE_IMAGE_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "profile_image_url"
          }
        },
        "PROTECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "protected"
          }
        },
        "PUBLIC_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public_metrics"
          }
        },
        "RECEIVES_YOUR_DM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "receives_your_dm"
          }
        },
        "SUBSCRIBES_TO_YOU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subscribes_to_you"
          }
        },
        "SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subscription"
          }
        },
        "SUBSCRIPTION_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subscription_type"
          }
        },
        "URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url"
          }
        },
        "USERNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "username"
          }
        },
        "VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verified"
          }
        },
        "VERIFIED_FOLLOWERS_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verified_followers_count"
          }
        },
        "VERIFIED_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verified_type"
          }
        },
        "WITHHELD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "withheld"
          }
        }
      },
      "traits": {}
    },
    "com.x.directMessages#GetDirectMessagesEventsByParticipantIdRequestUserFieldsList": {
      "type": "list",
      "member": {
        "target": "com.x.directMessages#GetDirectMessagesEventsByParticipantIdRequestUserFieldsItem"
      },
      "traits": {
        "smithy.api#documentation": "The fields available for a User object."
      }
    },
    "com.x.directMessages#GetDirectMessagesEventsByParticipantIdRequestPostFieldsItem": {
      "type": "enum",
      "members": {
        "ARTICLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "article"
          }
        },
        "ARTICLE_TITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "article_title"
          }
        },
        "ATTACHMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attachments"
          }
        },
        "CARD_URI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "card_uri"
          }
        },
        "COMMUNITY_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "community_id"
          }
        },
        "CONTEXT_ANNOTATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "context_annotations"
          }
        },
        "CONVERSATION_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "conversation_id"
          }
        },
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        },
        "DISPLAY_TEXT_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "display_text_range"
          }
        },
        "EDIT_CONTROLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edit_controls"
          }
        },
        "ENTITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "entities"
          }
        },
        "GEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "geo"
          }
        },
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        },
        "LANG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lang"
          }
        },
        "MATCHED_MEDIA_NOTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "matched_media_notes"
          }
        },
        "MEDIA_METADATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "media_metadata"
          }
        },
        "NON_PUBLIC_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "non_public_metrics"
          }
        },
        "NOTE_POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "note_post"
          }
        },
        "NOTE_REQUEST_SUGGESTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "note_request_suggestions"
          }
        },
        "ORGANIC_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organic_metrics"
          }
        },
        "PAID_PARTNERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paid_partnership"
          }
        },
        "POSSIBLY_SENSITIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "possibly_sensitive"
          }
        },
        "PROMOTED_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "promoted_metrics"
          }
        },
        "PUBLIC_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public_metrics"
          }
        },
        "REPLY_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reply_settings"
          }
        },
        "SCOPES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scopes"
          }
        },
        "SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "source"
          }
        },
        "SUGGESTED_SOURCE_LINKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suggested_source_links"
          }
        },
        "SUGGESTED_SOURCE_LINKS_WITH_COUNTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suggested_source_links_with_counts"
          }
        },
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "WITHHELD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "withheld"
          }
        }
      },
      "traits": {}
    },
    "com.x.directMessages#GetDirectMessagesEventsByParticipantIdRequestPostFieldsList": {
      "type": "list",
      "member": {
        "target": "com.x.directMessages#GetDirectMessagesEventsByParticipantIdRequestPostFieldsItem"
      },
      "traits": {
        "smithy.api#documentation": "The fields available for a Post object."
      }
    },
    "com.x.directMessages#GetDirectMessagesEventsByParticipantIdRequestMediaFieldsItem": {
      "type": "enum",
      "members": {
        "ALT_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alt_text"
          }
        },
        "DURATION_MS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "duration_ms"
          }
        },
        "HEIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "height"
          }
        },
        "MEDIA_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "media_key"
          }
        },
        "NON_PUBLIC_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "non_public_metrics"
          }
        },
        "ORGANIC_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organic_metrics"
          }
        },
        "PREVIEW_IMAGE_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview_image_url"
          }
        },
        "PROMOTED_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "promoted_metrics"
          }
        },
        "PUBLIC_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public_metrics"
          }
        },
        "TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "type"
          }
        },
        "URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url"
          }
        },
        "VARIANTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "variants"
          }
        },
        "WIDTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "width"
          }
        }
      },
      "traits": {}
    },
    "com.x.directMessages#GetDirectMessagesEventsByParticipantIdRequestMediaFieldsList": {
      "type": "list",
      "member": {
        "target": "com.x.directMessages#GetDirectMessagesEventsByParticipantIdRequestMediaFieldsItem"
      },
      "traits": {
        "smithy.api#documentation": "The fields available for a Media object."
      }
    },
    "com.x.directMessages#GetDirectMessagesEventsByParticipantIdRequest": {
      "type": "structure",
      "members": {
        "participant_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "max_results": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "max_results"
          }
        },
        "pagination_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pagination_token",
            "smithy.api#documentation": "A base32hex-encoded pagination token."
          }
        },
        "event_types": {
          "target": "com.x.directMessages#GetDirectMessagesEventsByParticipantIdRequestEventTypesList",
          "traits": {
            "smithy.api#httpQuery": "event_types",
            "com.x#csvQuery": true
          }
        },
        "dm_event_fields": {
          "target": "com.x.directMessages#GetDirectMessagesEventsByParticipantIdRequestDmEventFieldsList",
          "traits": {
            "smithy.api#httpQuery": "dm_event.fields",
            "smithy.api#documentation": "A comma separated list of DmEvent fields to display.",
            "com.x#csvQuery": true
          }
        },
        "expansions": {
          "target": "com.x.directMessages#GetDirectMessagesEventsByParticipantIdRequestExpansionsList",
          "traits": {
            "smithy.api#httpQuery": "expansions",
            "smithy.api#documentation": "A comma separated list of fields to expand.",
            "com.x#csvQuery": true
          }
        },
        "user_fields": {
          "target": "com.x.directMessages#GetDirectMessagesEventsByParticipantIdRequestUserFieldsList",
          "traits": {
            "smithy.api#httpQuery": "user.fields",
            "smithy.api#documentation": "A comma separated list of User fields to display.",
            "com.x#csvQuery": true
          }
        },
        "post_fields": {
          "target": "com.x.directMessages#GetDirectMessagesEventsByParticipantIdRequestPostFieldsList",
          "traits": {
            "smithy.api#httpQuery": "post.fields",
            "smithy.api#documentation": "A comma separated list of Post fields to display.",
            "com.x#csvQuery": true
          }
        },
        "media_fields": {
          "target": "com.x.directMessages#GetDirectMessagesEventsByParticipantIdRequestMediaFieldsList",
          "traits": {
            "smithy.api#httpQuery": "media.fields",
            "smithy.api#documentation": "A comma separated list of Media fields to display.",
            "com.x#csvQuery": true
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "com.x#security": [
          "oauth2",
          "oauth1"
        ]
      }
    },
    "com.x.directMessages#GetDirectMessagesEventsByParticipantIdResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.x.directMessages#GetDirectMessagesEventsByParticipantIdResponseDataList"
        },
        "errors": {
          "target": "com.x.directMessages#GetDirectMessagesEventsByParticipantIdResponseErrorsList"
        },
        "includes": {
          "target": "com.x.directMessages#Expansions"
        },
        "meta": {
          "target": "com.x.directMessages#GetDirectMessagesEventsByParticipantIdResponseMeta"
        }
      },
      "traits": {}
    },
    "com.x.directMessages#DmEvent": {
      "type": "structure",
      "members": {
        "attachments": {
          "target": "com.x.directMessages#DmEventAttachments"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "dm_conversation_id": {
          "target": "smithy.api#String"
        },
        "entities": {
          "target": "com.x.directMessages#DmEventEntities"
        },
        "event_type": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "participant_ids": {
          "target": "com.x.directMessages#DmEventParticipantIdsList"
        },
        "referenced_posts": {
          "target": "com.x.directMessages#DmEventReferencedPosts"
        },
        "sender_id": {
          "target": "smithy.api#String"
        },
        "text": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.directMessages#DmEventAttachments": {
      "type": "structure",
      "members": {
        "card_ids": {
          "target": "com.x.directMessages#DmEventAttachmentsCardIdsList",
          "traits": {
            "smithy.api#documentation": "IDs of cards attached to this Direct Message.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "media_keys": {
          "target": "com.x.directMessages#DmEventAttachmentsMediaKeysList",
          "traits": {
            "smithy.api#documentation": "Media keys of media (including audio) attached to this Direct Message.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Media and card attachments present in this Direct Message event."
      }
    },
    "com.x.directMessages#DmEventAttachmentsCardIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "IDs of cards attached to this Direct Message."
      }
    },
    "com.x.directMessages#DmEventAttachmentsMediaKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Media keys of media (including audio) attached to this Direct Message."
      }
    },
    "com.x.directMessages#DmEventEntities": {
      "type": "structure",
      "members": {
        "cashtags": {
          "target": "com.x.directMessages#DmEventEntitiesCashtagsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hashtags": {
          "target": "com.x.directMessages#DmEventEntitiesHashtagsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "mentions": {
          "target": "com.x.directMessages#DmEventEntitiesMentionsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "urls": {
          "target": "com.x.directMessages#DmEventEntitiesUrlsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of metadata entities (hashtags, cashtags, mentions, URLs) found in the Direct Message text."
      }
    },
    "com.x.directMessages#DmEventEntitiesCashtagsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "End index in the text (exclusive).",
            "smithy.api#required": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Start index in the text (inclusive).",
            "smithy.api#required": {}
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A hashtag or cashtag entity."
      }
    },
    "com.x.directMessages#DmEventEntitiesCashtagsList": {
      "type": "list",
      "member": {
        "target": "com.x.directMessages#DmEventEntitiesCashtagsItem"
      },
      "traits": {}
    },
    "com.x.directMessages#DmEventEntitiesHashtagsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "End index in the text (exclusive).",
            "smithy.api#required": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Start index in the text (inclusive).",
            "smithy.api#required": {}
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A hashtag or cashtag entity."
      }
    },
    "com.x.directMessages#DmEventEntitiesHashtagsList": {
      "type": "list",
      "member": {
        "target": "com.x.directMessages#DmEventEntitiesHashtagsItem"
      },
      "traits": {}
    },
    "com.x.directMessages#DmEventEntitiesMentionsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A user mention entity."
      }
    },
    "com.x.directMessages#DmEventEntitiesMentionsList": {
      "type": "list",
      "member": {
        "target": "com.x.directMessages#DmEventEntitiesMentionsItem"
      },
      "traits": {}
    },
    "com.x.directMessages#DmEventEntitiesUrlsItem": {
      "type": "structure",
      "members": {
        "display_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL as displayed in the Direct Message text.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expanded_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully resolved URL.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The t.co shortened URL.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A URL entity."
      }
    },
    "com.x.directMessages#DmEventEntitiesUrlsList": {
      "type": "list",
      "member": {
        "target": "com.x.directMessages#DmEventEntitiesUrlsItem"
      },
      "traits": {}
    },
    "com.x.directMessages#DmEventParticipantIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.x.directMessages#DmEventReferencedPosts": {
      "type": "list",
      "member": {
        "target": "com.x.directMessages#DmEventReferencedPostsItem"
      },
      "traits": {}
    },
    "com.x.directMessages#DmEventReferencedPostsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the referenced Post.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reference from this event to a Post."
      }
    },
    "com.x.directMessages#GetDirectMessagesEventsByParticipantIdResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.x.directMessages#DmEvent"
      },
      "traits": {}
    },
    "com.x.directMessages#GetDirectMessagesEventsByParticipantIdResponseErrorsList": {
      "type": "list",
      "member": {
        "target": "com.x.directMessages#Problem"
      },
      "traits": {}
    },
    "com.x.directMessages#Expansions": {
      "type": "structure",
      "members": {
        "media": {
          "target": "com.x.directMessages#ExpansionsMediaList"
        },
        "places": {
          "target": "com.x.directMessages#ExpansionsPlacesList"
        },
        "polls": {
          "target": "com.x.directMessages#ExpansionsPollsList"
        },
        "posts": {
          "target": "com.x.directMessages#ExpansionsPostsList"
        },
        "topics": {
          "target": "com.x.directMessages#ExpansionsTopicsList"
        },
        "users": {
          "target": "com.x.directMessages#ExpansionsUsersList"
        }
      },
      "traits": {}
    },
    "com.x.directMessages#Media": {
      "type": "structure",
      "members": {
        "alt_text": {
          "target": "smithy.api#String"
        },
        "duration_ms": {
          "target": "smithy.api#Integer"
        },
        "height": {
          "target": "smithy.api#Integer"
        },
        "media_key": {
          "target": "smithy.api#String"
        },
        "non_public_metrics": {
          "target": "com.x.directMessages#MediaNonPublicMetrics"
        },
        "organic_metrics": {
          "target": "com.x.directMessages#MediaOrganicMetrics"
        },
        "preview_image_url": {
          "target": "smithy.api#String"
        },
        "promoted_metrics": {
          "target": "com.x.directMessages#MediaPromotedMetrics"
        },
        "public_metrics": {
          "target": "com.x.directMessages#MediaPublicMetrics"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String"
        },
        "variants": {
          "target": "com.x.directMessages#MediaVariants"
        },
        "width": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.x.directMessages#MediaNonPublicMetrics": {
      "type": "structure",
      "members": {
        "playback_0_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who started playback (0% quartile) of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_100_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who completed playback (100% quartile) of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_25_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 25% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_50_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 50% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_75_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 75% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Nonpublic engagement metrics for the media at the time of the request."
      }
    },
    "com.x.directMessages#MediaOrganicMetrics": {
      "type": "structure",
      "members": {
        "playback_0_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who started playback (0% quartile) of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_100_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who completed playback (100% quartile) of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_25_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 25% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_50_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 50% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_75_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 75% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "view_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of organic views of this video. Null when the backend returns quartile data without a view count.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Organic nonpublic engagement metrics for the media at the time of the request."
      }
    },
    "com.x.directMessages#MediaPromotedMetrics": {
      "type": "structure",
      "members": {
        "playback_0_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who started playback (0% quartile) of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_100_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who completed playback (100% quartile) of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_25_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 25% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_50_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 50% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_75_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 75% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "view_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of promoted views of this video. Null when the backend returns quartile data without a view count.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Promoted nonpublic engagement metrics for the media at the time of the request."
      }
    },
    "com.x.directMessages#MediaPublicMetrics": {
      "type": "structure",
      "members": {
        "view_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of times this video has been viewed.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Public engagement metrics for the media at the time of the request."
      }
    },
    "com.x.directMessages#MediaVariants": {
      "type": "list",
      "member": {
        "target": "com.x.directMessages#MediaVariantsItem"
      },
      "traits": {
        "smithy.api#documentation": "Each media object may have multiple display or playback variants, with different resolutions or formats."
      }
    },
    "com.x.directMessages#MediaVariantsItem": {
      "type": "structure",
      "members": {
        "bit_rate": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The bit rate of this variant, in bits per second. Absent for playlist variants.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The MIME type of this variant, for example \"video/mp4\" or \"application/x-mpegURL\".",
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to this media variant.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single playback or display variant of a media object."
      }
    },
    "com.x.directMessages#ExpansionsMediaList": {
      "type": "list",
      "member": {
        "target": "com.x.directMessages#Media"
      },
      "traits": {}
    },
    "com.x.directMessages#Place": {
      "type": "structure",
      "members": {
        "contained_within": {
          "target": "com.x.directMessages#PlaceContainedWithin"
        },
        "country": {
          "target": "smithy.api#String"
        },
        "country_code": {
          "target": "smithy.api#String"
        },
        "full_name": {
          "target": "smithy.api#String"
        },
        "geo": {
          "target": "com.x.directMessages#PlaceGeo"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "place_type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.directMessages#PlaceContainedWithin": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of unique identifiers of the Places that contain this place."
      }
    },
    "com.x.directMessages#PlaceGeo": {
      "type": "structure",
      "members": {
        "bbox": {
          "target": "com.x.directMessages#PlaceGeoBboxList",
          "traits": {
            "smithy.api#documentation": "The bounding box as [southwest_longitude, southwest_latitude, northeast_longitude, northeast_latitude].",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Additional GeoJSON feature properties.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.directMessages#PlaceGeoType",
          "traits": {
            "smithy.api#documentation": "The GeoJSON feature type.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The geographic location of this place, expressed as a GeoJSON Feature."
      }
    },
    "com.x.directMessages#PlaceGeoBboxList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      },
      "traits": {
        "smithy.api#documentation": "The bounding box as [southwest_longitude, southwest_latitude, northeast_longitude, northeast_latitude]."
      }
    },
    "com.x.directMessages#PlaceGeoType": {
      "type": "enum",
      "members": {
        "FEATURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Feature"
          }
        }
      },
      "traits": {}
    },
    "com.x.directMessages#ExpansionsPlacesList": {
      "type": "list",
      "member": {
        "target": "com.x.directMessages#Place"
      },
      "traits": {}
    },
    "com.x.directMessages#Poll": {
      "type": "structure",
      "members": {
        "duration_minutes": {
          "target": "smithy.api#Integer"
        },
        "end_datetime": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "options": {
          "target": "com.x.directMessages#PollOptions"
        },
        "voting_status": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.directMessages#PollOptions": {
      "type": "list",
      "member": {
        "target": "com.x.directMessages#PollOptionsItem"
      },
      "traits": {
        "smithy.api#documentation": "The list of options (choices) available in this poll."
      }
    },
    "com.x.directMessages#PollOptionsItem": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text label of this poll option.",
            "smithy.api#required": {}
          }
        },
        "position": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The 1-based position of this option within the poll.",
            "smithy.api#required": {}
          }
        },
        "votes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of votes this option has received.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single option (choice) available in a poll."
      }
    },
    "com.x.directMessages#ExpansionsPollsList": {
      "type": "list",
      "member": {
        "target": "com.x.directMessages#Poll"
      },
      "traits": {}
    },
    "com.x.directMessages#Post": {
      "type": "structure",
      "members": {
        "article": {
          "target": "smithy.api#Document"
        },
        "article_title": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Metadata about the long-form Article attached to this Post, if any."
          }
        },
        "attachments": {
          "target": "com.x.directMessages#PostAttachments"
        },
        "author_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the author of this Post."
          }
        },
        "card_uri": {
          "target": "smithy.api#String"
        },
        "community_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the Community this Post belongs to, if any."
          }
        },
        "context_annotations": {
          "target": "com.x.directMessages#PostContextAnnotations"
        },
        "conversation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the conversation this Post belongs to (matches the root Post's ID)."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation time of the Post."
          }
        },
        "display_text_range": {
          "target": "com.x.directMessages#PostDisplayTextRange"
        },
        "edit_controls": {
          "target": "com.x.directMessages#PostEditControls"
        },
        "edit_history_post_ids": {
          "target": "com.x.directMessages#PostEditHistoryPostIdsList",
          "traits": {
            "smithy.api#documentation": "A list of Post IDs in this Post's edit history chain."
          }
        },
        "entities": {
          "target": "com.x.directMessages#PostEntities"
        },
        "geo": {
          "target": "com.x.directMessages#PostGeo"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of this Post."
          }
        },
        "in_reply_to_user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the User this Post is replying to."
          }
        },
        "lang": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Language of the Post, if detected by X. Returned as a BCP47 language tag."
          }
        },
        "matched_media_notes": {
          "target": "com.x.directMessages#PostMatchedMediaNotes"
        },
        "media_metadata": {
          "target": "com.x.directMessages#PostMediaMetadata"
        },
        "non_public_metrics": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Nonpublic engagement metrics for the Post at the time of the request."
          }
        },
        "note_post": {
          "target": "com.x.directMessages#PostNotePost"
        },
        "note_request_suggestions": {
          "target": "com.x.directMessages#PostNoteRequestSuggestions"
        },
        "organic_metrics": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Organic nonpublic engagement metrics for the Post at the time of the request."
          }
        },
        "paid_partnership": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this Post is a paid partnership, i.e. it has been disclosed by the author as containing paid promotion."
          }
        },
        "possibly_sensitive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this Post contains URLs marked as sensitive, for example content suitable for mature audiences."
          }
        },
        "promoted_metrics": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Promoted nonpublic engagement metrics for the Post at the time of the request."
          }
        },
        "public_metrics": {
          "target": "com.x.directMessages#PostPublicMetrics"
        },
        "referenced_posts": {
          "target": "com.x.directMessages#PostReferencedPosts"
        },
        "reply_settings": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Shows who can reply to this Post."
          }
        },
        "scopes": {
          "target": "com.x.directMessages#PostScopes"
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the app the user posted from. This is deprecated."
          }
        },
        "suggested_source_links": {
          "target": "com.x.directMessages#PostSuggestedSourceLinks"
        },
        "suggested_source_links_with_counts": {
          "target": "com.x.directMessages#PostSuggestedSourceLinksWithCounts"
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content of the Post."
          }
        },
        "username": {
          "target": "smithy.api#String"
        },
        "withheld": {
          "target": "com.x.directMessages#PostWithheld"
        }
      },
      "traits": {}
    },
    "com.x.directMessages#PostAttachments": {
      "type": "structure",
      "members": {
        "media_keys": {
          "target": "com.x.directMessages#PostAttachmentsMediaKeysList",
          "traits": {
            "smithy.api#documentation": "Media keys of media attached to this Post.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "media_source_tweet_id": {
          "target": "com.x.directMessages#PostAttachmentsMediaSourceTweetIdList",
          "traits": {
            "smithy.api#documentation": "IDs of the source Posts the attached media originated from.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "poll_ids": {
          "target": "com.x.directMessages#PostAttachmentsPollIdsList",
          "traits": {
            "smithy.api#documentation": "IDs of polls attached to this Post.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the type of attachments (if any) present in this Post."
      }
    },
    "com.x.directMessages#PostAttachmentsMediaKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Media keys of media attached to this Post."
      }
    },
    "com.x.directMessages#PostAttachmentsMediaSourceTweetIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "IDs of the source Posts the attached media originated from."
      }
    },
    "com.x.directMessages#PostAttachmentsPollIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "IDs of polls attached to this Post."
      }
    },
    "com.x.directMessages#PostContextAnnotations": {
      "type": "list",
      "member": {
        "target": "com.x.directMessages#PostContextAnnotationsItem"
      },
      "traits": {
        "smithy.api#documentation": "Annotations inferred about the Post (domain and entity context)."
      }
    },
    "com.x.directMessages#PostContextAnnotationsItemDomain": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A domain or entity referenced by a context annotation."
      }
    },
    "com.x.directMessages#PostContextAnnotationsItemEntity": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A domain or entity referenced by a context annotation."
      }
    },
    "com.x.directMessages#PostContextAnnotationsItem": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "com.x.directMessages#PostContextAnnotationsItemDomain",
          "traits": {
            "smithy.api#documentation": "The domain (broad category) this annotation belongs to.",
            "smithy.api#required": {}
          }
        },
        "entity": {
          "target": "com.x.directMessages#PostContextAnnotationsItemEntity",
          "traits": {
            "smithy.api#documentation": "The specific entity recognized within the domain.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single inferred annotation about the Post (domain and entity context)."
      }
    },
    "com.x.directMessages#PostDisplayTextRange": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "The inclusive start and exclusive end indices of the displayable content of the Post."
      }
    },
    "com.x.directMessages#PostEditControls": {
      "type": "structure",
      "members": {
        "editable_until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time until which this Post can be edited.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "edits_remaining": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of edits still allowed for this Post.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_edit_eligible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether this Post is eligible to be edited.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates how much longer (if at all) this Post can be edited."
      }
    },
    "com.x.directMessages#PostEditHistoryPostIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of Post IDs in this Post's edit history chain."
      }
    },
    "com.x.directMessages#PostEntities": {
      "type": "structure",
      "members": {
        "cashtags": {
          "target": "com.x.directMessages#PostEntitiesCashtagsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hashtags": {
          "target": "com.x.directMessages#PostEntitiesHashtagsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "mentions": {
          "target": "com.x.directMessages#PostEntitiesMentionsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "urls": {
          "target": "com.x.directMessages#PostEntitiesUrlsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of metadata entities (hashtags, mentions, URLs) found in the Post text."
      }
    },
    "com.x.directMessages#PostEntitiesCashtagsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "End index in the text (exclusive).",
            "smithy.api#required": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Start index in the text (inclusive).",
            "smithy.api#required": {}
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A hashtag or cashtag entity."
      }
    },
    "com.x.directMessages#PostEntitiesCashtagsList": {
      "type": "list",
      "member": {
        "target": "com.x.directMessages#PostEntitiesCashtagsItem"
      },
      "traits": {}
    },
    "com.x.directMessages#PostEntitiesHashtagsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "End index in the text (exclusive).",
            "smithy.api#required": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Start index in the text (inclusive).",
            "smithy.api#required": {}
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A hashtag or cashtag entity."
      }
    },
    "com.x.directMessages#PostEntitiesHashtagsList": {
      "type": "list",
      "member": {
        "target": "com.x.directMessages#PostEntitiesHashtagsItem"
      },
      "traits": {}
    },
    "com.x.directMessages#PostEntitiesMentionsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A user mention entity."
      }
    },
    "com.x.directMessages#PostEntitiesMentionsList": {
      "type": "list",
      "member": {
        "target": "com.x.directMessages#PostEntitiesMentionsItem"
      },
      "traits": {}
    },
    "com.x.directMessages#PostEntitiesUrlsItemImagesItem": {
      "type": "structure",
      "members": {
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A preview image for a linked page."
      }
    },
    "com.x.directMessages#PostEntitiesUrlsItemImagesList": {
      "type": "list",
      "member": {
        "target": "com.x.directMessages#PostEntitiesUrlsItemImagesItem"
      },
      "traits": {}
    },
    "com.x.directMessages#PostEntitiesUrlsItem": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the linked page, when available.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "display_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL as displayed in the Post text.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expanded_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully resolved URL.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "images": {
          "target": "com.x.directMessages#PostEntitiesUrlsItemImagesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "media_key": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "HTTP status from resolving the URL.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the linked page, when available.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "unwound_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The final destination after following redirects.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The t.co shortened URL.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A URL entity found in the Post text, enriched with link metadata."
      }
    },
    "com.x.directMessages#PostEntitiesUrlsList": {
      "type": "list",
      "member": {
        "target": "com.x.directMessages#PostEntitiesUrlsItem"
      },
      "traits": {}
    },
    "com.x.directMessages#PostGeo": {
      "type": "structure",
      "members": {
        "coordinates": {
          "target": "com.x.directMessages#PostGeoCoordinates",
          "traits": {
            "smithy.api#documentation": "A GeoJSON Point geometry.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "place_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the tagged place.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The location tagged on the Post, if the user provided one."
      }
    },
    "com.x.directMessages#PostGeoCoordinatesCoordinatesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      },
      "traits": {
        "smithy.api#documentation": "[longitude, latitude]."
      }
    },
    "com.x.directMessages#PostGeoCoordinatesType": {
      "type": "enum",
      "members": {
        "POINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Point"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The GeoJSON geometry type."
      }
    },
    "com.x.directMessages#PostGeoCoordinates": {
      "type": "structure",
      "members": {
        "coordinates": {
          "target": "com.x.directMessages#PostGeoCoordinatesCoordinatesList",
          "traits": {
            "smithy.api#documentation": "[longitude, latitude].",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.directMessages#PostGeoCoordinatesType",
          "traits": {
            "smithy.api#documentation": "The GeoJSON geometry type.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A GeoJSON Point geometry."
      }
    },
    "com.x.directMessages#PostMatchedMediaNotes": {
      "type": "list",
      "member": {
        "target": "com.x.directMessages#PostMatchedMediaNotesItem"
      },
      "traits": {
        "smithy.api#documentation": "Community-Notes media matches for this Post."
      }
    },
    "com.x.directMessages#PostMatchedMediaNotesItem": {
      "type": "structure",
      "members": {
        "match_status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status of the media note match.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "note_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The matched note's unique identifier.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Community-Notes media match for this Post."
      }
    },
    "com.x.directMessages#PostMediaMetadata": {
      "type": "list",
      "member": {
        "target": "com.x.directMessages#PostMediaMetadataItem"
      },
      "traits": {
        "smithy.api#documentation": "Metadata for media attached to this Post."
      }
    },
    "com.x.directMessages#PostMediaMetadataItem": {
      "type": "structure",
      "members": {
        "alt_text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Alternative text describing the media for accessibility.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the media.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "media_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the media.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the media.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for one media item attached to this Post."
      }
    },
    "com.x.directMessages#PostNotePost": {
      "type": "structure",
      "members": {
        "entities": {
          "target": "com.x.directMessages#PostNotePostEntities",
          "traits": {
            "smithy.api#documentation": "Metadata entities (hashtags, cashtags, mentions, URLs) found in the note Post text.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full note text of the Post.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The full content of the Post, including text beyond 280 characters."
      }
    },
    "com.x.directMessages#PostNotePostEntitiesCashtagsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "End index in the text (exclusive).",
            "smithy.api#required": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Start index in the text (inclusive).",
            "smithy.api#required": {}
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A hashtag or cashtag entity."
      }
    },
    "com.x.directMessages#PostNotePostEntitiesCashtagsList": {
      "type": "list",
      "member": {
        "target": "com.x.directMessages#PostNotePostEntitiesCashtagsItem"
      },
      "traits": {}
    },
    "com.x.directMessages#PostNotePostEntitiesHashtagsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "End index in the text (exclusive).",
            "smithy.api#required": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Start index in the text (inclusive).",
            "smithy.api#required": {}
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A hashtag or cashtag entity."
      }
    },
    "com.x.directMessages#PostNotePostEntitiesHashtagsList": {
      "type": "list",
      "member": {
        "target": "com.x.directMessages#PostNotePostEntitiesHashtagsItem"
      },
      "traits": {}
    },
    "com.x.directMessages#PostNotePostEntitiesMentionsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A user mention entity."
      }
    },
    "com.x.directMessages#PostNotePostEntitiesMentionsList": {
      "type": "list",
      "member": {
        "target": "com.x.directMessages#PostNotePostEntitiesMentionsItem"
      },
      "traits": {}
    },
    "com.x.directMessages#PostNotePostEntitiesUrlsItem": {
      "type": "structure",
      "members": {
        "display_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expanded_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A URL entity found in note Post text."
      }
    },
    "com.x.directMessages#PostNotePostEntitiesUrlsList": {
      "type": "list",
      "member": {
        "target": "com.x.directMessages#PostNotePostEntitiesUrlsItem"
      },
      "traits": {}
    },
    "com.x.directMessages#PostNotePostEntities": {
      "type": "structure",
      "members": {
        "cashtags": {
          "target": "com.x.directMessages#PostNotePostEntitiesCashtagsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hashtags": {
          "target": "com.x.directMessages#PostNotePostEntitiesHashtagsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "mentions": {
          "target": "com.x.directMessages#PostNotePostEntitiesMentionsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "urls": {
          "target": "com.x.directMessages#PostNotePostEntitiesUrlsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata entities (hashtags, cashtags, mentions, URLs) found in the note Post text."
      }
    },
    "com.x.directMessages#PostNoteRequestSuggestions": {
      "type": "list",
      "member": {
        "target": "com.x.directMessages#PostNoteRequestSuggestionsItem"
      },
      "traits": {
        "smithy.api#documentation": "Community-Notes request suggestions for this Post."
      }
    },
    "com.x.directMessages#PostNoteRequestSuggestionsItem": {
      "type": "structure",
      "members": {
        "source_link": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A suggested source link supporting the note request.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "suggestion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text of the note request suggestion.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "suggestion_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the note request suggestion.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Community-Notes request suggestion for this Post."
      }
    },
    "com.x.directMessages#PostPublicMetrics": {
      "type": "structure",
      "members": {
        "bookmark_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of times this Post has been bookmarked.",
            "smithy.api#required": {}
          }
        },
        "impression_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of times this Post has been viewed.",
            "smithy.api#required": {}
          }
        },
        "like_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of likes on this Post.",
            "smithy.api#required": {}
          }
        },
        "quote_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of quote Posts of this Post.",
            "smithy.api#required": {}
          }
        },
        "reply_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of replies to this Post.",
            "smithy.api#required": {}
          }
        },
        "repost_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of times this Post has been reposted.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Engagement metrics for the Post at the time of the request."
      }
    },
    "com.x.directMessages#PostReferencedPosts": {
      "type": "list",
      "member": {
        "target": "com.x.directMessages#PostReferencedPostsItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of Posts this Post refers to. If the Post is a Retweet, Quote or Reply, it includes the referenced Post's type and ID."
      }
    },
    "com.x.directMessages#PostReferencedPostsItemType": {
      "type": "enum",
      "members": {
        "RETWEETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "retweeted"
          }
        },
        "QUOTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quoted"
          }
        },
        "REPLIED_TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "replied_to"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The kind of Post-to-Post reference."
      }
    },
    "com.x.directMessages#PostReferencedPostsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the referenced Post.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.directMessages#PostReferencedPostsItemType",
          "traits": {
            "smithy.api#documentation": "How this Post references the other Post.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reference from this Post to another Post (repost, quote, or reply)."
      }
    },
    "com.x.directMessages#PostScopes": {
      "type": "structure",
      "members": {
        "followers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether visibility of this Post is limited to the author's followers.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The scopes for this Post."
      }
    },
    "com.x.directMessages#PostSuggestedSourceLinks": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "URLs suggested as sources for this Post."
      }
    },
    "com.x.directMessages#PostSuggestedSourceLinksWithCounts": {
      "type": "list",
      "member": {
        "target": "com.x.directMessages#PostSuggestedSourceLinksWithCountsItem"
      },
      "traits": {
        "smithy.api#documentation": "Suggested source URLs for this Post, each with the number of times it was suggested."
      }
    },
    "com.x.directMessages#PostSuggestedSourceLinksWithCountsItem": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of times this source link was suggested.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The suggested source URL.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A suggested source URL for this Post with the number of times it was suggested."
      }
    },
    "com.x.directMessages#PostWithheld": {
      "type": "structure",
      "members": {
        "copyright": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether this content is withheld due to a copyright claim.",
            "smithy.api#required": {}
          }
        },
        "country_codes": {
          "target": "com.x.directMessages#PostWithheldCountryCodesList",
          "traits": {
            "smithy.api#documentation": "Uppercase ISO 3166-1 alpha-2 country codes where this content is withheld.",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "com.x.directMessages#PostWithheldScope",
          "traits": {
            "smithy.api#documentation": "Whether the withholding applies to a Post or a User.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
[...]
