{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.x.media#GetMediaByMediaKeysRequestMediaKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.x.media#GetMediaByMediaKeysRequestMediaFieldsItem": {
      "type": "enum",
      "members": {
        "ALT_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alt_text"
          }
        },
        "DURATION_MS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "duration_ms"
          }
        },
        "HEIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "height"
          }
        },
        "MEDIA_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "media_key"
          }
        },
        "NON_PUBLIC_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "non_public_metrics"
          }
        },
        "ORGANIC_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organic_metrics"
          }
        },
        "PREVIEW_IMAGE_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview_image_url"
          }
        },
        "PROMOTED_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "promoted_metrics"
          }
        },
        "PUBLIC_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public_metrics"
          }
        },
        "TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "type"
          }
        },
        "URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url"
          }
        },
        "VARIANTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "variants"
          }
        },
        "WIDTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "width"
          }
        }
      },
      "traits": {}
    },
    "com.x.media#GetMediaByMediaKeysRequestMediaFieldsList": {
      "type": "list",
      "member": {
        "target": "com.x.media#GetMediaByMediaKeysRequestMediaFieldsItem"
      },
      "traits": {
        "smithy.api#documentation": "The fields available for a Media object."
      }
    },
    "com.x.media#GetMediaByMediaKeysRequest": {
      "type": "structure",
      "members": {
        "media_keys": {
          "target": "com.x.media#GetMediaByMediaKeysRequestMediaKeysList",
          "traits": {
            "smithy.api#httpQuery": "media_keys",
            "smithy.api#required": {},
            "com.x#csvQuery": true
          }
        },
        "media_fields": {
          "target": "com.x.media#GetMediaByMediaKeysRequestMediaFieldsList",
          "traits": {
            "smithy.api#httpQuery": "media.fields",
            "smithy.api#documentation": "A comma separated list of Media fields to display.",
            "com.x#csvQuery": true
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "com.x#security": [
          "oauth2",
          "oauth1",
          "app"
        ]
      }
    },
    "com.x.media#GetMediaByMediaKeysResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.x.media#GetMediaByMediaKeysResponseDataList"
        },
        "errors": {
          "target": "com.x.media#GetMediaByMediaKeysResponseErrorsList"
        }
      },
      "traits": {}
    },
    "com.x.media#Media2": {
      "type": "structure",
      "members": {
        "alt_text": {
          "target": "smithy.api#String"
        },
        "duration_ms": {
          "target": "smithy.api#Integer"
        },
        "height": {
          "target": "smithy.api#Integer"
        },
        "media_key": {
          "target": "smithy.api#String"
        },
        "non_public_metrics": {
          "target": "com.x.media#MediaNonPublicMetrics"
        },
        "organic_metrics": {
          "target": "com.x.media#MediaOrganicMetrics"
        },
        "preview_image_url": {
          "target": "smithy.api#String"
        },
        "promoted_metrics": {
          "target": "com.x.media#MediaPromotedMetrics"
        },
        "public_metrics": {
          "target": "com.x.media#MediaPublicMetrics"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String"
        },
        "variants": {
          "target": "com.x.media#MediaVariants"
        },
        "width": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.x.media#MediaNonPublicMetrics": {
      "type": "structure",
      "members": {
        "playback_0_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who started playback (0% quartile) of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_100_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who completed playback (100% quartile) of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_25_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 25% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_50_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 50% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_75_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 75% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Nonpublic engagement metrics for the media at the time of the request."
      }
    },
    "com.x.media#MediaOrganicMetrics": {
      "type": "structure",
      "members": {
        "playback_0_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who started playback (0% quartile) of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_100_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who completed playback (100% quartile) of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_25_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 25% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_50_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 50% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_75_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 75% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "view_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of organic views of this video. Null when the backend returns quartile data without a view count.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Organic nonpublic engagement metrics for the media at the time of the request."
      }
    },
    "com.x.media#MediaPromotedMetrics": {
      "type": "structure",
      "members": {
        "playback_0_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who started playback (0% quartile) of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_100_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who completed playback (100% quartile) of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_25_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 25% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_50_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 50% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_75_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 75% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "view_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of promoted views of this video. Null when the backend returns quartile data without a view count.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Promoted nonpublic engagement metrics for the media at the time of the request."
      }
    },
    "com.x.media#MediaPublicMetrics": {
      "type": "structure",
      "members": {
        "view_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of times this video has been viewed.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Public engagement metrics for the media at the time of the request."
      }
    },
    "com.x.media#MediaVariants": {
      "type": "list",
      "member": {
        "target": "com.x.media#MediaVariantsItem"
      },
      "traits": {
        "smithy.api#documentation": "Each media object may have multiple display or playback variants, with different resolutions or formats."
      }
    },
    "com.x.media#MediaVariantsItem": {
      "type": "structure",
      "members": {
        "bit_rate": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The bit rate of this variant, in bits per second. Absent for playlist variants.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The MIME type of this variant, for example \"video/mp4\" or \"application/x-mpegURL\".",
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to this media variant.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single playback or display variant of a media object."
      }
    },
    "com.x.media#GetMediaByMediaKeysResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.x.media#Media2"
      },
      "traits": {}
    },
    "com.x.media#Problem": {
      "type": "union",
      "members": {
        "ResourceNotFoundProblem": {
          "target": "com.x.media#ResourceNotFoundProblem"
        },
        "InvalidRequestProblem": {
          "target": "com.x.media#InvalidRequestProblem"
        },
        "NotAuthorizedForResourceProblem": {
          "target": "com.x.media#NotAuthorizedForResourceProblem"
        },
        "NotAuthorizedForFieldProblem": {
          "target": "com.x.media#NotAuthorizedForFieldProblem"
        },
        "FieldUnauthorizedProblem": {
          "target": "com.x.media#FieldUnauthorizedProblem"
        },
        "FieldHydrationFailureProblem": {
          "target": "com.x.media#FieldHydrationFailureProblem"
        },
        "ResourceUnavailableProblem": {
          "target": "com.x.media#ResourceUnavailableProblem"
        },
        "DisallowedResourceProblem": {
          "target": "com.x.media#DisallowedResourceProblem"
        },
        "InternalErrorProblem": {
          "target": "com.x.media#InternalErrorProblem"
        }
      },
      "traits": {}
    },
    "com.x.media#ResourceNotFoundProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.media#ResourceNotFoundProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.media#ResourceNotFoundProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_RESOURCE_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/resource-not-found"
          }
        }
      },
      "traits": {}
    },
    "com.x.media#InvalidRequestProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.media#InvalidRequestProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.media#InvalidRequestProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_INVALID_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/invalid-request"
          }
        }
      },
      "traits": {}
    },
    "com.x.media#NotAuthorizedForResourceProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.media#NotAuthorizedForResourceProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.media#NotAuthorizedForResourceProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_NOT_AUTHORIZED_FOR_RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/not-authorized-for-resource"
          }
        }
      },
      "traits": {}
    },
    "com.x.media#NotAuthorizedForFieldProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.media#NotAuthorizedForFieldProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.media#NotAuthorizedForFieldProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_NOT_AUTHORIZED_FOR_FIELD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/not-authorized-for-field"
          }
        }
      },
      "traits": {}
    },
    "com.x.media#FieldUnauthorizedProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.media#FieldUnauthorizedProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.media#FieldUnauthorizedProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_FIELD_UNAUTHORIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/field-unauthorized"
          }
        }
      },
      "traits": {}
    },
    "com.x.media#FieldHydrationFailureProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.media#FieldHydrationFailureProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.media#FieldHydrationFailureProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_FIELD_HYDRATION_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/field-hydration-failure"
          }
        }
      },
      "traits": {}
    },
    "com.x.media#ResourceUnavailableProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.media#ResourceUnavailableProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.media#ResourceUnavailableProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_RESOURCE_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/resource-unavailable"
          }
        }
      },
      "traits": {}
    },
    "com.x.media#DisallowedResourceProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.media#DisallowedResourceProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.media#DisallowedResourceProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_DISALLOWED_RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/disallowed-resource"
          }
        }
      },
      "traits": {}
    },
    "com.x.media#InternalErrorProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.media#InternalErrorProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.media#InternalErrorProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/internal-error"
          }
        }
      },
      "traits": {}
    },
    "com.x.media#GetMediaByMediaKeysResponseErrorsList": {
      "type": "list",
      "member": {
        "target": "com.x.media#Problem"
      },
      "traits": {}
    },
    "com.x.media#GetMediaByMediaKeys": {
      "type": "operation",
      "input": {
        "target": "com.x.media#GetMediaByMediaKeysRequest"
      },
      "output": {
        "target": "com.x.media#GetMediaByMediaKeysResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2/media",
          "code": 200
        },
        "smithy.api#documentation": "Get Media by media keys",
        "com.x#response": "json"
      }
    },
    "com.x.media#GetMediaAnalyticsRequestMediaKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.x.media#GetMediaAnalyticsRequestGranularity": {
      "type": "enum",
      "members": {
        "HOURLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hourly"
          }
        },
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "daily"
          }
        },
        "TOTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "total"
          }
        }
      },
      "traits": {}
    },
    "com.x.media#GetMediaAnalyticsRequestMediaAnalyticsFieldsItem": {
      "type": "enum",
      "members": {
        "CTA_URL_CLICKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cta_url_clicks"
          }
        },
        "CTA_WATCH_CLICKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cta_watch_clicks"
          }
        },
        "MEDIA_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "media_key"
          }
        },
        "PLAY_FROM_TAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "play_from_tap"
          }
        },
        "PLAYBACK25": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "playback25"
          }
        },
        "PLAYBACK50": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "playback50"
          }
        },
        "PLAYBACK75": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "playback75"
          }
        },
        "PLAYBACK_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "playback_complete"
          }
        },
        "PLAYBACK_START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "playback_start"
          }
        },
        "TIMESTAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "timestamp"
          }
        },
        "TIMESTAMPED_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "timestamped_metrics"
          }
        },
        "VIDEO_VIEWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "video_views"
          }
        },
        "WATCH_TIME_MS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "watch_time_ms"
          }
        }
      },
      "traits": {}
    },
    "com.x.media#GetMediaAnalyticsRequestMediaAnalyticsFieldsList": {
      "type": "list",
      "member": {
        "target": "com.x.media#GetMediaAnalyticsRequestMediaAnalyticsFieldsItem"
      },
      "traits": {
        "smithy.api#documentation": "The fields available for a MediaAnalytics object."
      }
    },
    "com.x.media#GetMediaAnalyticsRequest": {
      "type": "structure",
      "members": {
        "media_keys": {
          "target": "com.x.media#GetMediaAnalyticsRequestMediaKeysList",
          "traits": {
            "smithy.api#httpQuery": "media_keys",
            "smithy.api#required": {},
            "com.x#csvQuery": true
          }
        },
        "start_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "start_time",
            "smithy.api#required": {}
          }
        },
        "end_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "end_time",
            "smithy.api#required": {}
          }
        },
        "granularity": {
          "target": "com.x.media#GetMediaAnalyticsRequestGranularity",
          "traits": {
            "smithy.api#httpQuery": "granularity"
          }
        },
        "media_analytics_fields": {
          "target": "com.x.media#GetMediaAnalyticsRequestMediaAnalyticsFieldsList",
          "traits": {
            "smithy.api#httpQuery": "media_analytics.fields",
            "smithy.api#documentation": "A comma separated list of MediaAnalytics fields to display.",
            "com.x#csvQuery": true
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "com.x#security": [
          "oauth2",
          "oauth1"
        ]
      }
    },
    "com.x.media#GetMediaAnalyticsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.x.media#GetMediaAnalyticsResponseDataList"
        },
        "errors": {
          "target": "com.x.media#GetMediaAnalyticsResponseErrorsList"
        }
      },
      "traits": {}
    },
    "com.x.media#MediaAnalytics": {
      "type": "structure",
      "members": {
        "cta_url_clicks": {
          "target": "smithy.api#Integer"
        },
        "cta_watch_clicks": {
          "target": "smithy.api#Integer"
        },
        "media_key": {
          "target": "smithy.api#String"
        },
        "play_from_tap": {
          "target": "smithy.api#Integer"
        },
        "playback25": {
          "target": "smithy.api#Integer"
        },
        "playback50": {
          "target": "smithy.api#Integer"
        },
        "playback75": {
          "target": "smithy.api#Integer"
        },
        "playback_complete": {
          "target": "smithy.api#Integer"
        },
        "playback_start": {
          "target": "smithy.api#Integer"
        },
        "timestamp": {
          "target": "smithy.api#String"
        },
        "timestamped_metrics": {
          "target": "com.x.media#MediaAnalyticsTimestampedMetrics"
        },
        "video_views": {
          "target": "smithy.api#Integer"
        },
        "watch_time_ms": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.x.media#MediaAnalyticsTimestampedMetrics": {
      "type": "list",
      "member": {
        "target": "com.x.media#MediaAnalyticsTimestampedMetricsItem"
      },
      "traits": {
        "smithy.api#documentation": "Time-bucketed video metrics for the media, one entry per granularity bucket."
      }
    },
    "com.x.media#MediaAnalyticsTimestampedMetricsItemMetricsCtaUrlClicks": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Integer"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "A video metric counter: an integer when the backend value parses as a number, otherwise the original string."
      }
    },
    "com.x.media#MediaAnalyticsTimestampedMetricsItemMetricsCtaWatchClicks": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Integer"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "A video metric counter: an integer when the backend value parses as a number, otherwise the original string."
      }
    },
    "com.x.media#MediaAnalyticsTimestampedMetricsItemMetricsPlayFromTap": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Integer"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "A video metric counter: an integer when the backend value parses as a number, otherwise the original string."
      }
    },
    "com.x.media#MediaAnalyticsTimestampedMetricsItemMetricsPlayback25": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Integer"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "A video metric counter: an integer when the backend value parses as a number, otherwise the original string."
      }
    },
    "com.x.media#MediaAnalyticsTimestampedMetricsItemMetricsPlayback50": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Integer"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "A video metric counter: an integer when the backend value parses as a number, otherwise the original string."
      }
    },
    "com.x.media#MediaAnalyticsTimestampedMetricsItemMetricsPlayback75": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Integer"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "A video metric counter: an integer when the backend value parses as a number, otherwise the original string."
      }
    },
    "com.x.media#MediaAnalyticsTimestampedMetricsItemMetricsPlaybackComplete": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Integer"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "A video metric counter: an integer when the backend value parses as a number, otherwise the original string."
      }
    },
    "com.x.media#MediaAnalyticsTimestampedMetricsItemMetricsPlaybackStart": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Integer"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "A video metric counter: an integer when the backend value parses as a number, otherwise the original string."
      }
    },
    "com.x.media#MediaAnalyticsTimestampedMetricsItemMetricsVideoViews": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Integer"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "A video metric counter: an integer when the backend value parses as a number, otherwise the original string."
      }
    },
    "com.x.media#MediaAnalyticsTimestampedMetricsItemMetricsWatchTimeMs": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Integer"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "A video metric counter: an integer when the backend value parses as a number, otherwise the original string."
      }
    },
    "com.x.media#MediaAnalyticsTimestampedMetricsItemMetrics": {
      "type": "structure",
      "members": {
        "cta_url_clicks": {
          "target": "com.x.media#MediaAnalyticsTimestampedMetricsItemMetricsCtaUrlClicks",
          "traits": {
            "smithy.api#documentation": "A video metric counter: an integer when the backend value parses as a number, otherwise the original string.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cta_watch_clicks": {
          "target": "com.x.media#MediaAnalyticsTimestampedMetricsItemMetricsCtaWatchClicks",
          "traits": {
            "smithy.api#documentation": "A video metric counter: an integer when the backend value parses as a number, otherwise the original string.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "play_from_tap": {
          "target": "com.x.media#MediaAnalyticsTimestampedMetricsItemMetricsPlayFromTap",
          "traits": {
            "smithy.api#documentation": "A video metric counter: an integer when the backend value parses as a number, otherwise the original string.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback25": {
          "target": "com.x.media#MediaAnalyticsTimestampedMetricsItemMetricsPlayback25",
          "traits": {
            "smithy.api#documentation": "A video metric counter: an integer when the backend value parses as a number, otherwise the original string.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback50": {
          "target": "com.x.media#MediaAnalyticsTimestampedMetricsItemMetricsPlayback50",
          "traits": {
            "smithy.api#documentation": "A video metric counter: an integer when the backend value parses as a number, otherwise the original string.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback75": {
          "target": "com.x.media#MediaAnalyticsTimestampedMetricsItemMetricsPlayback75",
          "traits": {
            "smithy.api#documentation": "A video metric counter: an integer when the backend value parses as a number, otherwise the original string.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_complete": {
          "target": "com.x.media#MediaAnalyticsTimestampedMetricsItemMetricsPlaybackComplete",
          "traits": {
            "smithy.api#documentation": "A video metric counter: an integer when the backend value parses as a number, otherwise the original string.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_start": {
          "target": "com.x.media#MediaAnalyticsTimestampedMetricsItemMetricsPlaybackStart",
          "traits": {
            "smithy.api#documentation": "A video metric counter: an integer when the backend value parses as a number, otherwise the original string.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "video_views": {
          "target": "com.x.media#MediaAnalyticsTimestampedMetricsItemMetricsVideoViews",
          "traits": {
            "smithy.api#documentation": "A video metric counter: an integer when the backend value parses as a number, otherwise the original string.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "watch_time_ms": {
          "target": "com.x.media#MediaAnalyticsTimestampedMetricsItemMetricsWatchTimeMs",
          "traits": {
            "smithy.api#documentation": "A video metric counter: an integer when the backend value parses as a number, otherwise the original string.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Video metric counts for this bucket. Counters are integers when the backend value parses as a number, otherwise the original string is preserved."
      }
    },
    "com.x.media#MediaAnalyticsTimestampedMetricsItem": {
      "type": "structure",
      "members": {
        "metrics": {
          "target": "com.x.media#MediaAnalyticsTimestampedMetricsItemMetrics",
          "traits": {
            "smithy.api#documentation": "Video metric counts for this bucket. Counters are integers when the backend value parses as a number, otherwise the original string is preserved.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start of the metrics bucket, as an ISO 8601 date-time.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.media#GetMediaAnalyticsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.x.media#MediaAnalytics"
      },
      "traits": {}
    },
    "com.x.media#GetMediaAnalyticsResponseErrorsList": {
      "type": "list",
      "member": {
        "target": "com.x.media#Problem"
      },
      "traits": {}
    },
    "com.x.media#GetMediaAnalytics": {
      "type": "operation",
      "input": {
        "target": "com.x.media#GetMediaAnalyticsRequest"
      },
      "output": {
        "target": "com.x.media#GetMediaAnalyticsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2/media/analytics",
          "code": 200
        },
        "smithy.api#documentation": "Get Media analytics",
        "com.x#response": "json"
      }
    },
    "com.x.media#CreateMediaMetadataMetadata": {
      "type": "structure",
      "members": {
        "allow_download_status": {
          "target": "com.x.media#CreateMediaMetadataMetadataAllowDownloadStatus"
        },
        "alt_text": {
          "target": "com.x.media#CreateMediaMetadataMetadataAltText"
        },
        "audience_policy": {
          "target": "smithy.api#Document"
        },
        "content_expiration": {
          "target": "com.x.media#CreateMediaMetadataMetadataContentExpiration"
        },
        "domain_restrictions": {
          "target": "com.x.media#CreateMediaMetadataMetadataDomainRestrictions"
        },
        "found_media_origin": {
          "target": "com.x.media#CreateMediaMetadataMetadataFoundMediaOrigin"
        },
        "geo_restrictions": {
          "target": "smithy.api#Document"
        },
        "management_info": {
          "target": "com.x.media#CreateMediaMetadataMetadataManagementInfo"
        },
        "preview_image": {
          "target": "com.x.media#CreateMediaMetadataMetadataPreviewImage"
        },
        "sensitive_media_warning": {
          "target": "smithy.api#Document"
        },
        "shared_info": {
          "target": "com.x.media#CreateMediaMetadataMetadataSharedInfo"
        },
        "sticker_info": {
          "target": "com.x.media#CreateMediaMetadataMetadataStickerInfo"
        },
        "upload_source": {
          "target": "com.x.media#CreateMediaMetadataMetadataUploadSource"
        }
      },
      "traits": {}
    },
    "com.x.media#CreateMediaMetadataMetadataAllowDownloadStatus": {
      "type": "structure",
      "members": {
        "allow_download": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.x.media#CreateMediaMetadataMetadataAltText": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.media#CreateMediaMetadataMetadataContentExpiration": {
      "type": "structure",
      "members": {
        "timestamp_sec": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.media#CreateMediaMetadataMetadataDomainRestrictions": {
      "type": "structure",
      "members": {
        "whitelist": {
          "target": "com.x.media#CreateMediaMetadataMetadataDomainRestrictionsWhitelistList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.media#CreateMediaMetadataMetadataDomainRestrictionsWhitelistList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.x.media#CreateMediaMetadataMetadataFoundMediaOrigin": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.media#CreateMediaMetadataMetadataManagementInfo": {
      "type": "structure",
      "members": {
        "managed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.media#CreateMediaMetadataMetadataPreviewImage": {
      "type": "structure",
      "members": {
        "media_key": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.media#CreateMediaMetadataMetadataSharedInfo": {
      "type": "structure",
      "members": {
        "shared": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.media#CreateMediaMetadataMetadataStickerInfo": {
      "type": "structure",
      "members": {
        "stickers": {
          "target": "com.x.media#CreateMediaMetadataMetadataStickerInfoStickersList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.media#CreateMediaMetadataMetadataStickerInfoStickersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.x.media#CreateMediaMetadataMetadataUploadSource": {
      "type": "structure",
      "members": {
        "upload_source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.media#CreateMediaMetadataRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The media id the metadata is attached to.",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.x.media#CreateMediaMetadataMetadata",
          "traits": {
            "smithy.api#documentation": "User-defined metadata to associate with the media."
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "com.x#security": [
          "oauth2",
          "oauth1"
        ],
        "com.x#requestBody": true
      }
    },
    "com.x.media#CreateMediaMetadataResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.x.media#CreateMediaMetadataResponseData"
        },
        "errors": {
          "target": "com.x.media#CreateMediaMetadataResponseErrorsList"
        }
      },
      "traits": {}
    },
    "com.x.media#CreateMediaMetadataResponseData": {
      "type": "structure",
      "members": {
        "associated_metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The metadata now associated with the media."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The media id the metadata was attached to.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.media#CreateMediaMetadataResponseErrorsList": {
      "type": "list",
      "member": {
        "target": "com.x.media#Problem"
      },
      "traits": {}
    },
    "com.x.media#CreateMediaMetadata": {
      "type": "operation",
      "input": {
        "target": "com.x.media#CreateMediaMetadataRequest"
      },
      "output": {
        "target": "com.x.media#CreateMediaMetadataResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2/media/metadata",
          "code": 200
        },
        "smithy.api#documentation": "Create Media metadata\n\nCreates metadata for a Media file.",
        "com.x#response": "json"
      }
    },
    "com.x.media#CreateMediaSubtitlesRequestMediaCategory": {
      "type": "enum",
      "members": {
        "AMPLIFYVIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AmplifyVideo"
          }
        },
        "TWEETVIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TweetVideo"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The media category of the target media."
      }
    },
    "com.x.media#CreateMediaSubtitlesSubtitles": {
      "type": "structure",
      "members": {
        "display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Language name in a human readable form."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The media id of the subtitle track."
          }
        },
        "language_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "BCP47 language code of the subtitle track."
          }
        }
      },
      "traits": {}
    },
    "com.x.media#CreateMediaSubtitlesRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The media id of the video the subtitles belong to."
          }
        },
        "media_category": {
          "target": "com.x.media#CreateMediaSubtitlesRequestMediaCategory",
          "traits": {
            "smithy.api#documentation": "The media category of the target media."
          }
        },
        "subtitles": {
          "target": "com.x.media#CreateMediaSubtitlesSubtitles",
          "traits": {
            "smithy.api#documentation": "The subtitle tracks to associate with the media."
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "com.x#security": [
          "oauth2",
          "oauth1"
        ],
        "com.x#requestBody": true
      }
    },
    "com.x.media#CreateMediaSubtitlesResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.x.media#CreateMediaSubtitlesResponseData"
        },
        "errors": {
          "target": "com.x.media#CreateMediaSubtitlesResponseErrorsList"
        }
      },
      "traits": {}
    },
    "com.x.media#CreateMediaSubtitlesResponseData": {
      "type": "structure",
      "members": {
        "associated_subtitles": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The subtitles now associated with the media."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The media id."
          }
        },
        "media_category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The media category."
          }
        }
      },
      "traits": {}
    },
    "com.x.media#CreateMediaSubtitlesResponseErrorsList": {
      "type": "list",
      "member": {
        "target": "com.x.media#Problem"
      },
      "traits": {}
    },
    "com.x.media#CreateMediaSubtitles": {
      "type": "operation",
      "input": {
        "target": "com.x.media#CreateMediaSubtitlesRequest"
      },
      "output": {
        "target": "com.x.media#CreateMediaSubtitlesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2/media/subtitles",
          "code": 200
        },
        "smithy.api#documentation": "Create Media subtitles\n\nCreates subtitles for a specific Media file.",
        "com.x#response": "json"
      }
    },
    "com.x.media#DeleteMediaSubtitlesRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The media id of the video the subtitles belong to.",
            "smithy.api#required": {}
          }
        },
        "language_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language code of the subtitles to delete.",
            "smithy.api#required": {}
          }
        },
        "media_category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The media category of the target media.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "com.x#security": [
          "oauth2",
          "oauth1"
        ],
        "com.x#requestBody": true
      }
    },
    "com.x.media#DeleteMediaSubtitlesResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.x.media#DeleteMediaSubtitlesResponseData"
        },
        "errors": {
          "target": "com.x.media#DeleteMediaSubtitlesResponseErrorsList"
        }
      },
      "traits": {}
    },
    "com.x.media#DeleteMediaSubtitlesResponseData": {
      "type": "structure",
      "members": {
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the subtitles were deleted.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.media#DeleteMediaSubtitlesResponseErrorsList": {
      "type": "list",
      "member": {
        "target": "com.x.media#Problem"
      },
      "traits": {}
    },
    "com.x.media#DeleteMediaSubtitles": {
      "type": "operation",
      "input": {
        "target": "com.x.media#DeleteMediaSubtitlesRequest"
      },
      "output": {
        "target": "com.x.media#DeleteMediaSubtitlesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2/media/subtitles",
          "code": 200
        },
        "smithy.api#documentation": "Delete Media subtitles\n\nDeletes subtitles for a specific Media file.",
        "com.x#response": "json"
      }
    },
    "com.x.media#GetMediaUploadStatusRequestCommand": {
      "type": "enum",
      "members": {
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS"
          }
        }
      },
      "traits": {}
    },
    "com.x.media#GetMediaUploadStatusRequest": {
      "type": "structure",
      "members": {
        "media_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "media_id",
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "com.x.media#GetMediaUploadStatusRequestCommand",
          "traits": {
            "smithy.api#httpQuery": "command"
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "com.x#security": [
          "oauth2",
          "oauth1"
        ]
      }
    },
    "com.x.media#GetMediaUploadStatusResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.x.media#GetMediaUploadStatusResponseData"
        },
        "errors": {
          "target": "com.x.media#GetMediaUploadStatusResponseErrorsList"
        }
      },
      "traits": {}
    },
    "com.x.media#GetMediaUploadStatusResponseData": {
      "type": "structure",
      "members": {
        "expires_after_secs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds until the upload session expires."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the media.",
            "smithy.api#required": {}
          }
        },
        "image": {
          "target": "com.x.media#GetMediaUploadStatusResponseDataImage"
        },
        "media_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The media key for the uploaded media."
          }
        },
        "processing_info": {
          "target": "com.x.media#GetMediaUploadStatusResponseDataProcessingInfo"
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total size of the media in bytes."
          }
        },
        "video": {
          "target": "com.x.media#GetMediaUploadStatusResponseDataVideo"
        }
      },
      "traits": {}
    },
    "com.x.media#GetMediaUploadStatusResponseDataImage": {
      "type": "structure",
      "members": {
        "h": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Height in pixels."
          }
        },
        "image_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MIME type of the uploaded image."
          }
        },
        "w": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Width in pixels."
          }
        }
      },
      "traits": {}
    },
    "com.x.media#GetMediaUploadStatusResponseDataProcessingInfo": {
      "type": "structure",
      "members": {
        "check_after_secs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds to wait before polling status again."
          }
        },
        "progress_percent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Processing completion percentage."
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Processing state (pending, in_progress, failed, succeeded)."
          }
        }
      },
      "traits": {}
    },
    "com.x.media#GetMediaUploadStatusResponseDataVideo": {
      "type": "structure",
      "members": {
        "video_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MIME type of the processed video."
          }
        }
      },
      "traits": {}
    },
    "com.x.media#GetMediaUploadStatusResponseErrorsList": {
      "type": "list",
      "member": {
        "target": "com.x.media#Problem"
      },
      "traits": {}
    },
    "com.x.media#GetMediaUploadStatus": {
      "type": "operation",
      "input": {
        "target": "com.x.media#GetMediaUploadStatusRequest"
      },
      "output": {
        "target": "com.x.media#GetMediaUploadStatusResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2/media/upload",
          "code": 200
        },
        "smithy.api#documentation": "Get Media upload status\n\nRetrieves the status of a Media upload by its ID.",
        "com.x#response": "json"
      }
    },
    "com.x.media#MediaUploadRequestMediaCategory": {
      "type": "enum",
      "members": {
        "TWEET_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tweet_image"
          }
        },
        "TWEET_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tweet_video"
          }
        },
        "TWEET_GIF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tweet_gif"
          }
        },
        "DM_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dm_image"
          }
        },
        "DM_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dm_video"
          }
        },
        "DM_GIF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dm_gif"
          }
        },
        "SUBTITLES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subtitles"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The category of the media being uploaded."
      }
    },
    "com.x.media#MediaUploadRequest": {
      "type": "structure",
      "members": {
        "additional_owners": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comma-separated list of user IDs who can use this media."
          }
        },
        "media": {
          "target": "com.x.media#MediaData",
          "traits": {
            "smithy.api#documentation": "The media file to upload: base64-encoded in JSON bodies, raw bytes in multipart bodies.",
            "smithy.api#required": {}
          }
        },
        "media_category": {
          "target": "com.x.media#MediaUploadRequestMediaCategory",
          "traits": {
            "smithy.api#documentation": "The category of the media being uploaded.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "com.x#security": [
          "oauth2",
          "oauth1"
        ],
        "com.x#multipart": true,
        "com.x#requestBody": true
      }
    },
    "com.x.media#MediaUploadResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.x.media#MediaUploadResponseData"
        },
        "errors": {
          "target": "com.x.media#MediaUploadResponseErrorsList"
        }
      },
      "traits": {}
    },
    "com.x.media#MediaUploadResponseData": {
      "type": "structure",
      "members": {
        "expires_after_secs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds until the upload session expires."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the media.",
            "smithy.api#required": {}
          }
        },
        "image": {
          "target": "com.x.media#MediaUploadResponseDataImage"
        },
        "media_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The media key for the uploaded media."
          }
        },
        "processing_info": {
          "target": "com.x.media#MediaUploadResponseDataProcessingInfo"
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total size of the media in bytes."
          }
        },
        "video": {
          "target": "com.x.media#MediaUploadResponseDataVideo"
        }
      },
      "traits": {}
    },
    "com.x.media#MediaUploadResponseDataImage": {
      "type": "structure",
      "members": {
        "h": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Height in pixels."
          }
        },
        "image_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MIME type of the uploaded image."
          }
        },
        "w": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Width in pixels."
          }
        }
      },
      "traits": {}
    },
    "com.x.media#MediaUploadResponseDataProcessingInfo": {
      "type": "structure",
      "members": {
        "check_after_secs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds to wait before polling status again."
          }
        },
        "progress_percent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Processing completion percentage."
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Processing state (pending, in_progress, failed, succeeded)."
          }
        }
      },
      "traits": {}
    },
    "com.x.media#MediaUploadResponseDataVideo": {
      "type": "structure",
      "members": {
        "video_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MIME type of the processed video."
          }
        }
      },
      "traits": {}
    },
    "com.x.media#MediaUploadResponseErrorsList": {
      "type": "list",
      "member": {
        "target": "com.x.media#Problem"
      },
      "traits": {}
    },
    "com.x.media#MediaUpload": {
      "type": "operation",
      "input": {
        "target": "com.x.media#MediaUploadRequest"
      },
      "output": {
        "target": "com.x.media#MediaUploadResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2/media/upload",
          "code": 200
        },
        "smithy.api#documentation": "Upload media\n\nUploads a media file for use in posts or other content.",
        "com.x#response": "json"
      }
    },
    "com.x.media#InitializeMediaUploadRequestAdditionalOwnersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "User ids granted access to the uploaded media."
      }
    },
    "com.x.media#InitializeMediaUploadRequestMediaCategory": {
      "type": "enum",
      "members": {
        "AMPLIFY_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amplify_video"
          }
        },
        "TWEET_GIF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tweet_gif"
          }
        },
        "TWEET_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tweet_image"
          }
        },
        "TWEET_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tweet_video"
          }
        },
        "DM_GIF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dm_gif"
          }
        },
        "DM_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dm_image"
          }
        },
        "DM_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dm_video"
          }
        },
        "SUBTITLES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subtitles"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The media category of the upload."
      }
    },
    "com.x.media#InitializeMediaUploadRequestMediaType": {
      "type": "enum",
      "members": {
        "VIDEO_MP4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "video/mp4"
          }
        },
        "VIDEO_WEBM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "video/webm"
          }
        },
        "VIDEO_MP2T": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "video/mp2t"
          }
        },
        "VIDEO_QUICKTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "video/quicktime"
          }
        },
        "TEXT_SRT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text/srt"
          }
        },
        "TEXT_VTT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text/vtt"
          }
        },
        "IMAGE_JPEG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image/jpeg"
          }
        },
        "IMAGE_GIF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image/gif"
          }
        },
        "IMAGE_BMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image/bmp"
          }
        },
        "IMAGE_PNG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image/png"
          }
        },
        "IMAGE_WEBP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image/webp"
          }
        },
        "IMAGE_PJPEG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image/pjpeg"
          }
        },
        "IMAGE_TIFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image/tiff"
          }
        },
        "MODEL_GLTF_BINARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "model/gltf-binary"
          }
        },
        "MODEL_VND_USDZ_ZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "model/vnd.usdz+zip"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of media."
      }
    },
    "com.x.media#InitializeMediaUploadRequest": {
      "type": "structure",
      "members": {
        "additional_owners": {
          "target": "com.x.media#InitializeMediaUploadRequestAdditionalOwnersList",
          "traits": {
            "smithy.api#documentation": "User ids granted access to the uploaded media."
          }
        },
        "media_category": {
          "target": "com.x.media#InitializeMediaUploadRequestMediaCategory",
          "traits": {
            "smithy.api#documentation": "The media category of the upload."
          }
        },
        "media_type": {
          "target": "com.x.media#InitializeMediaUploadRequestMediaType",
          "traits": {
            "smithy.api#documentation": "The type of media."
          }
        },
        "shared": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this media is shared or not."
          }
        },
        "total_bytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total size of the media upload in bytes."
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "com.x#security": [
          "oauth2",
          "oauth1"
        ],
        "com.x#requestBody": true
      }
    },
    "com.x.media#InitializeMediaUploadResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.x.media#InitializeMediaUploadResponseData"
        },
        "errors": {
          "target": "com.x.media#InitializeMediaUploadResponseErrorsList"
        }
      },
      "traits": {}
    },
    "com.x.media#InitializeMediaUploadResponseData": {
      "type": "structure",
      "members": {
        "expires_after_secs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds until the upload session expires."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the upload session.",
            "smithy.api#required": {}
          }
        },
        "media_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The media key for the uploaded media."
          }
        }
      },
      "traits": {}
    },
    "com.x.media#InitializeMediaUploadResponseErrorsList": {
      "type": "list",
      "member": {
        "target": "com.x.media#Problem"
      },
      "traits": {}
    },
    "com.x.media#InitializeMediaUpload": {
      "type": "operation",
      "input": {
        "target": "com.x.media#InitializeMediaUploadRequest"
      },
      "output": {
        "target": "com.x.media#InitializeMediaUploadResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2/media/upload/initialize",
          "code": 200
        },
        "smithy.api#documentation": "Initialize media upload\n\nInitializes a media upload.",
        "com.x#response": "json"
      }
    },
    "com.x.media#AppendMediaUploadRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "media": {
          "target": "com.x.media#MediaData",
          "traits": {
            "smithy.api#documentation": "The media chunk to upload.",
            "smithy.api#required": {}
          }
        },
        "segment_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index of this segment in the upload sequence.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "com.x#security": [
          "oauth2",
          "oauth1"
        ],
        "com.x#multipart": true,
        "com.x#requestBody": true
      }
    },
    "com.x.media#AppendMediaUploadResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.x.media#AppendMediaUploadResponseData"
        },
        "errors": {
          "target": "com.x.media#AppendMediaUploadResponseErrorsList"
        }
      },
      "traits": {}
    },
    "com.x.media#AppendMediaUploadResponseData": {
      "type": "structure",
      "members": {
        "expires_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Epoch seconds when the upload session expires."
          }
        }
      },
      "traits": {}
    },
    "com.x.media#AppendMediaUploadResponseErrorsList": {
      "type": "list",
      "member": {
        "target": "com.x.media#Problem"
      },
      "traits": {}
    },
    "com.x.media#AppendMediaUpload": {
      "type": "operation",
      "input": {
        "target": "com.x.media#AppendMediaUploadRequest"
      },
      "output": {
        "target": "com.x.media#AppendMediaUploadResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2/media/upload/{id}/append",
          "code": 200
        },
        "smithy.api#documentation": "Append Media Upload",
        "com.x#response": "json"
      }
    },
    "com.x.media#FinalizeMediaUploadRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "com.x#security": [
          "oauth2",
          "oauth1"
        ]
      }
    },
    "com.x.media#FinalizeMediaUploadResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.x.media#FinalizeMediaUploadResponseData"
        },
        "errors": {
          "target": "com.x.media#FinalizeMediaUploadResponseErrorsList"
        }
      },
      "traits": {}
    },
    "com.x.media#FinalizeMediaUploadResponseData": {
      "type": "structure",
      "members": {
        "expires_after_secs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds until the upload session expires."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the media.",
            "smithy.api#required": {}
          }
        },
        "image": {
          "target": "com.x.media#FinalizeMediaUploadResponseDataImage"
        },
        "media_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The media key for the uploaded media."
          }
        },
        "processing_info": {
          "target": "com.x.media#FinalizeMediaUploadResponseDataProcessingInfo"
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total size of the media in bytes."
          }
        },
        "video": {
          "target": "com.x.media#FinalizeMediaUploadResponseDataVideo"
        }
      },
      "traits": {}
    },
    "com.x.media#FinalizeMediaUploadResponseDataImage": {
      "type": "structure",
      "members": {
        "h": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Height in pixels."
          }
        },
        "image_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MIME type of the uploaded image."
          }
        },
        "w": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Width in pixels."
          }
        }
      },
      "traits": {}
    },
    "com.x.media#FinalizeMediaUploadResponseDataProcessingInfo": {
      "type": "structure",
      "members": {
        "check_after_secs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds to wait before polling status again."
          }
        },
        "progress_percent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Processing completion percentage."
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Processing state (pending, in_progress, failed, succeeded)."
          }
        }
      },
      "traits": {}
    },
    "com.x.media#FinalizeMediaUploadResponseDataVideo": {
      "type": "structure",
      "members": {
        "video_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MIME type of the processed video."
          }
        }
      },
      "traits": {}
    },
    "com.x.media#FinalizeMediaUploadResponseErrorsList": {
      "type": "list",
      "member": {
        "target": "com.x.media#Problem"
      },
      "traits": {}
    },
    "com.x.media#FinalizeMediaUpload": {
      "type": "operation",
      "input": {
        "target": "com.x.media#FinalizeMediaUploadRequest"
      },
      "output": {
        "target": "com.x.media#FinalizeMediaUploadResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2/media/upload/{id}/finalize",
          "code": 200
        },
        "smithy.api#documentation": "Finalize Media upload\n\nFinalizes a Media upload request.",
        "com.x#response": "json"
      }
    },
    "com.x.media#GetMediaByMediaKeyRequestMediaFieldsItem": {
      "type": "enum",
      "members": {
        "ALT_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alt_text"
          }
        },
        "DURATION_MS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "duration_ms"
          }
        },
        "HEIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "height"
          }
        },
        "MEDIA_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "media_key"
          }
        },
        "NON_PUBLIC_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "non_public_metrics"
          }
        },
        "ORGANIC_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organic_metrics"
          }
        },
        "PREVIEW_IMAGE_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview_image_url"
          }
        },
        "PROMOTED_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "promoted_metrics"
          }
        },
        "PUBLIC_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public_metrics"
          }
        },
        "TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "type"
          }
        },
        "URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url"
          }
        },
        "VARIANTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "variants"
          }
        },
        "WIDTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "width"
          }
        }
      },
      "traits": {}
    },
    "com.x.media#GetMediaByMediaKeyRequestMediaFieldsList": {
      "type": "list",
      "member": {
        "target": "com.x.media#GetMediaByMediaKeyRequestMediaFieldsItem"
      },
      "traits": {
        "smithy.api#documentation": "The fields available for a Media object."
      }
    },
    "com.x.media#GetMediaByMediaKeyRequest": {
      "type": "structure",
      "members": {
        "media_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "media_fields": {
          "target": "com.x.media#GetMediaByMediaKeyRequestMediaFieldsList",
          "traits": {
            "smithy.api#httpQuery": "media.fields",
            "smithy.api#documentation": "A comma separated list of Media fields to display.",
            "com.x#csvQuery": true
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "com.x#security": [
          "oauth2",
          "oauth1",
          "app"
        ]
      }
    },
    "com.x.media#GetMediaByMediaKeyResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.x.media#Media2"
        },
        "errors": {
          "target": "com.x.media#GetMediaByMediaKeyResponseErrorsList"
        }
      },
      "traits": {}
    },
    "com.x.media#GetMediaByMediaKeyResponseErrorsList": {
      "type": "list",
      "member": {
        "target": "com.x.media#Problem"
      },
      "traits": {}
    },
    "com.x.media#GetMediaByMediaKey": {
      "type": "operation",
      "input": {
        "target": "com.x.media#GetMediaByMediaKeyRequest"
      },
      "output": {
        "target": "com.x.media#GetMediaByMediaKeyResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2/media/{media_key}",
          "code": 200
        },
        "smithy.api#documentation": "Get Media by media key",
        "com.x#response": "json"
      }
    },
    "com.x.media#Media": {
      "type": "service",
      "version": "2.167",
      "operations": [
        {
          "target": "com.x.media#GetMediaByMediaKeys"
        },
        {
          "target": "com.x.media#GetMediaAnalytics"
        },
        {
          "target": "com.x.media#CreateMediaMetadata"
        },
        {
          "target": "com.x.media#CreateMediaSubtitles"
        },
        {
          "target": "com.x.media#DeleteMediaSubtitles"
        },
        {
          "target": "com.x.media#GetMediaUploadStatus"
        },
        {
          "target": "com.x.media#MediaUpload"
        },
        {
          "target": "com.x.media#InitializeMediaUpload"
        },
        {
          "target": "com.x.media#AppendMediaUpload"
        },
        {
          "target": "com.x.media#FinalizeMediaUpload"
        },
        {
          "target": "com.x.media#GetMediaByMediaKey"
        }
      ],
      "traits": {
        "smithy.api#title": "X API v2",
        "smithy.api#documentation": "X API v2 core endpoints"
      }
    },
    "com.x.media#MediaData": {
      "type": "document"
    }
  }
}
