{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.x.news#GetNewsRequestNewsFieldsItem": {
      "type": "enum",
      "members": {
        "CATEGORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "category"
          }
        },
        "CLUSTER_POSTS_RESULTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cluster_posts_results"
          }
        },
        "CONTEXTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contexts"
          }
        },
        "CONTEXTS_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contexts"
          }
        },
        "CONTEXTS_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contexts"
          }
        },
        "CONTEXTS_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contexts"
          }
        },
        "DISCLAIMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disclaimer"
          }
        },
        "HOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hook"
          }
        },
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        },
        "KEYWORDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "keywords"
          }
        },
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        },
        "SUMMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "summary"
          }
        },
        "UPDATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated_at"
          }
        }
      },
      "traits": {}
    },
    "com.x.news#GetNewsRequestNewsFieldsList": {
      "type": "list",
      "member": {
        "target": "com.x.news#GetNewsRequestNewsFieldsItem"
      },
      "traits": {
        "smithy.api#documentation": "The fields available for a News object."
      }
    },
    "com.x.news#GetNewsRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "news_fields": {
          "target": "com.x.news#GetNewsRequestNewsFieldsList",
          "traits": {
            "smithy.api#httpQuery": "news.fields",
            "smithy.api#documentation": "A comma separated list of News fields to display.",
            "com.x#csvQuery": true
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "com.x#security": [
          "oauth2",
          "oauth1",
          "app"
        ]
      }
    },
    "com.x.news#GetNewsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.x.news#News2"
        },
        "errors": {
          "target": "com.x.news#GetNewsResponseErrorsList"
        }
      },
      "traits": {}
    },
    "com.x.news#News2": {
      "type": "structure",
      "members": {
        "category": {
          "target": "smithy.api#String"
        },
        "cluster_posts_results": {
          "target": "com.x.news#NewsClusterPostsResults"
        },
        "contexts": {
          "target": "smithy.api#Document"
        },
        "disclaimer": {
          "target": "smithy.api#String"
        },
        "hook": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "keywords": {
          "target": "smithy.api#Document"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "summary": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.news#NewsClusterPostsResults": {
      "type": "list",
      "member": {
        "target": "com.x.news#NewsClusterPostsResultsItem"
      },
      "traits": {}
    },
    "com.x.news#NewsClusterPostsResultsItem": {
      "type": "structure",
      "members": {
        "post_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the Post.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Post belonging to this news story's cluster."
      }
    },
    "com.x.news#Problem": {
      "type": "union",
      "members": {
        "ResourceNotFoundProblem": {
          "target": "com.x.news#ResourceNotFoundProblem"
        },
        "InvalidRequestProblem": {
          "target": "com.x.news#InvalidRequestProblem"
        },
        "NotAuthorizedForResourceProblem": {
          "target": "com.x.news#NotAuthorizedForResourceProblem"
        },
        "NotAuthorizedForFieldProblem": {
          "target": "com.x.news#NotAuthorizedForFieldProblem"
        },
        "FieldUnauthorizedProblem": {
          "target": "com.x.news#FieldUnauthorizedProblem"
        },
        "FieldHydrationFailureProblem": {
          "target": "com.x.news#FieldHydrationFailureProblem"
        },
        "ResourceUnavailableProblem": {
          "target": "com.x.news#ResourceUnavailableProblem"
        },
        "DisallowedResourceProblem": {
          "target": "com.x.news#DisallowedResourceProblem"
        },
        "InternalErrorProblem": {
          "target": "com.x.news#InternalErrorProblem"
        }
      },
      "traits": {}
    },
    "com.x.news#ResourceNotFoundProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.news#ResourceNotFoundProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.news#ResourceNotFoundProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_RESOURCE_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/resource-not-found"
          }
        }
      },
      "traits": {}
    },
    "com.x.news#InvalidRequestProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.news#InvalidRequestProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.news#InvalidRequestProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_INVALID_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/invalid-request"
          }
        }
      },
      "traits": {}
    },
    "com.x.news#NotAuthorizedForResourceProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.news#NotAuthorizedForResourceProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.news#NotAuthorizedForResourceProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_NOT_AUTHORIZED_FOR_RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/not-authorized-for-resource"
          }
        }
      },
      "traits": {}
    },
    "com.x.news#NotAuthorizedForFieldProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.news#NotAuthorizedForFieldProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.news#NotAuthorizedForFieldProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_NOT_AUTHORIZED_FOR_FIELD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/not-authorized-for-field"
          }
        }
      },
      "traits": {}
    },
    "com.x.news#FieldUnauthorizedProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.news#FieldUnauthorizedProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.news#FieldUnauthorizedProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_FIELD_UNAUTHORIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/field-unauthorized"
          }
        }
      },
      "traits": {}
    },
    "com.x.news#FieldHydrationFailureProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.news#FieldHydrationFailureProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.news#FieldHydrationFailureProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_FIELD_HYDRATION_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/field-hydration-failure"
          }
        }
      },
      "traits": {}
    },
    "com.x.news#ResourceUnavailableProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.news#ResourceUnavailableProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.news#ResourceUnavailableProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_RESOURCE_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/resource-unavailable"
          }
        }
      },
      "traits": {}
    },
    "com.x.news#DisallowedResourceProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.news#DisallowedResourceProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.news#DisallowedResourceProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_DISALLOWED_RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/disallowed-resource"
          }
        }
      },
      "traits": {}
    },
    "com.x.news#InternalErrorProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.news#InternalErrorProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.news#InternalErrorProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/internal-error"
          }
        }
      },
      "traits": {}
    },
    "com.x.news#GetNewsResponseErrorsList": {
      "type": "list",
      "member": {
        "target": "com.x.news#Problem"
      },
      "traits": {}
    },
    "com.x.news#GetNews": {
      "type": "operation",
      "input": {
        "target": "com.x.news#GetNewsRequest"
      },
      "output": {
        "target": "com.x.news#GetNewsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2/news/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get news stories by ID\n\nRetrieves news story by its ID.",
        "com.x#response": "json"
      }
    },
    "com.x.news#News": {
      "type": "service",
      "version": "2.167",
      "operations": [
        {
          "target": "com.x.news#GetNews"
        }
      ],
      "traits": {
        "smithy.api#title": "X API v2",
        "smithy.api#documentation": "X API v2 core endpoints"
      }
    }
  }
}
