{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.x.stream#ActivityStreamRequest": {
      "type": "structure",
      "members": {
        "backfill_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "backfill_minutes",
            "smithy.api#documentation": "The number of minutes of backfill requested."
          }
        },
        "start_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "start_time",
            "smithy.api#documentation": "YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp from which the activities will be provided."
          }
        },
        "end_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "end_time",
            "smithy.api#documentation": "YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp from which the activities will be provided."
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "com.x#security": [
          "app"
        ]
      }
    },
    "com.x.stream#ActivityStreamResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.x.stream#ActivityStreamResponseData"
        },
        "errors": {
          "target": "com.x.stream#ActivityStreamResponseErrorsList"
        }
      },
      "traits": {
        "smithy.api#documentation": "An activity event or error that can be returned by the x activity streaming API."
      }
    },
    "com.x.stream#ActivitySubscriptionFilter": {
      "type": "structure",
      "members": {
        "direction": {
          "target": "com.x.stream#ActivitySubscriptionFilterDirection",
          "traits": {
            "smithy.api#documentation": "Optional direction filter for directional events."
          }
        },
        "keyword": {
          "target": "smithy.api#String"
        },
        "user_id": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "An XAA subscription filter."
      }
    },
    "com.x.stream#ActivitySubscriptionFilterDirection": {
      "type": "enum",
      "members": {
        "INBOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inbound"
          }
        },
        "OUTBOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "outbound"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Optional direction filter for directional events."
      }
    },
    "com.x.stream#Expansions": {
      "type": "structure",
      "members": {
        "media": {
          "target": "com.x.stream#ExpansionsMediaList"
        },
        "places": {
          "target": "com.x.stream#ExpansionsPlacesList"
        },
        "polls": {
          "target": "com.x.stream#ExpansionsPollsList"
        },
        "posts": {
          "target": "com.x.stream#ExpansionsPostsList"
        },
        "topics": {
          "target": "com.x.stream#ExpansionsTopicsList"
        },
        "users": {
          "target": "com.x.stream#ExpansionsUsersList"
        }
      },
      "traits": {}
    },
    "com.x.stream#Media": {
      "type": "structure",
      "members": {
        "alt_text": {
          "target": "smithy.api#String"
        },
        "duration_ms": {
          "target": "smithy.api#Integer"
        },
        "height": {
          "target": "smithy.api#Integer"
        },
        "media_key": {
          "target": "smithy.api#String"
        },
        "non_public_metrics": {
          "target": "com.x.stream#MediaNonPublicMetrics"
        },
        "organic_metrics": {
          "target": "com.x.stream#MediaOrganicMetrics"
        },
        "preview_image_url": {
          "target": "smithy.api#String"
        },
        "promoted_metrics": {
          "target": "com.x.stream#MediaPromotedMetrics"
        },
        "public_metrics": {
          "target": "com.x.stream#MediaPublicMetrics"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String"
        },
        "variants": {
          "target": "com.x.stream#MediaVariants"
        },
        "width": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.x.stream#MediaNonPublicMetrics": {
      "type": "structure",
      "members": {
        "playback_0_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who started playback (0% quartile) of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_100_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who completed playback (100% quartile) of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_25_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 25% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_50_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 50% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_75_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 75% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Nonpublic engagement metrics for the media at the time of the request."
      }
    },
    "com.x.stream#MediaOrganicMetrics": {
      "type": "structure",
      "members": {
        "playback_0_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who started playback (0% quartile) of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_100_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who completed playback (100% quartile) of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_25_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 25% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_50_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 50% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_75_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 75% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "view_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of organic views of this video. Null when the backend returns quartile data without a view count.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Organic nonpublic engagement metrics for the media at the time of the request."
      }
    },
    "com.x.stream#MediaPromotedMetrics": {
      "type": "structure",
      "members": {
        "playback_0_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who started playback (0% quartile) of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_100_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who completed playback (100% quartile) of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_25_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 25% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_50_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 50% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_75_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 75% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "view_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of promoted views of this video. Null when the backend returns quartile data without a view count.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Promoted nonpublic engagement metrics for the media at the time of the request."
      }
    },
    "com.x.stream#MediaPublicMetrics": {
      "type": "structure",
      "members": {
        "view_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of times this video has been viewed.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Public engagement metrics for the media at the time of the request."
      }
    },
    "com.x.stream#MediaVariants": {
      "type": "list",
      "member": {
        "target": "com.x.stream#MediaVariantsItem"
      },
      "traits": {
        "smithy.api#documentation": "Each media object may have multiple display or playback variants, with different resolutions or formats."
      }
    },
    "com.x.stream#MediaVariantsItem": {
      "type": "structure",
      "members": {
        "bit_rate": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The bit rate of this variant, in bits per second. Absent for playlist variants.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The MIME type of this variant, for example \"video/mp4\" or \"application/x-mpegURL\".",
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to this media variant.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single playback or display variant of a media object."
      }
    },
    "com.x.stream#ExpansionsMediaList": {
      "type": "list",
      "member": {
        "target": "com.x.stream#Media"
      },
      "traits": {}
    },
    "com.x.stream#Place": {
      "type": "structure",
      "members": {
        "contained_within": {
          "target": "com.x.stream#PlaceContainedWithin"
        },
        "country": {
          "target": "smithy.api#String"
        },
        "country_code": {
          "target": "smithy.api#String"
        },
        "full_name": {
          "target": "smithy.api#String"
        },
        "geo": {
          "target": "com.x.stream#PlaceGeo"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "place_type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.stream#PlaceContainedWithin": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of unique identifiers of the Places that contain this place."
      }
    },
    "com.x.stream#PlaceGeo": {
      "type": "structure",
      "members": {
        "bbox": {
          "target": "com.x.stream#PlaceGeoBboxList",
          "traits": {
            "smithy.api#documentation": "The bounding box as [southwest_longitude, southwest_latitude, northeast_longitude, northeast_latitude].",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Additional GeoJSON feature properties.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.stream#PlaceGeoType",
          "traits": {
            "smithy.api#documentation": "The GeoJSON feature type.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The geographic location of this place, expressed as a GeoJSON Feature."
      }
    },
    "com.x.stream#PlaceGeoBboxList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      },
      "traits": {
        "smithy.api#documentation": "The bounding box as [southwest_longitude, southwest_latitude, northeast_longitude, northeast_latitude]."
      }
    },
    "com.x.stream#PlaceGeoType": {
      "type": "enum",
      "members": {
        "FEATURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Feature"
          }
        }
      },
      "traits": {}
    },
    "com.x.stream#ExpansionsPlacesList": {
      "type": "list",
      "member": {
        "target": "com.x.stream#Place"
      },
      "traits": {}
    },
    "com.x.stream#Poll": {
      "type": "structure",
      "members": {
        "duration_minutes": {
          "target": "smithy.api#Integer"
        },
        "end_datetime": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "options": {
          "target": "com.x.stream#PollOptions"
        },
        "voting_status": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.stream#PollOptions": {
      "type": "list",
      "member": {
        "target": "com.x.stream#PollOptionsItem"
      },
      "traits": {
        "smithy.api#documentation": "The list of options (choices) available in this poll."
      }
    },
    "com.x.stream#PollOptionsItem": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text label of this poll option.",
            "smithy.api#required": {}
          }
        },
        "position": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The 1-based position of this option within the poll.",
            "smithy.api#required": {}
          }
        },
        "votes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of votes this option has received.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single option (choice) available in a poll."
      }
    },
    "com.x.stream#ExpansionsPollsList": {
      "type": "list",
      "member": {
        "target": "com.x.stream#Poll"
      },
      "traits": {}
    },
    "com.x.stream#Post": {
      "type": "structure",
      "members": {
        "article": {
          "target": "smithy.api#Document"
        },
        "article_title": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Metadata about the long-form Article attached to this Post, if any."
          }
        },
        "attachments": {
          "target": "com.x.stream#PostAttachments"
        },
        "author_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the author of this Post."
          }
        },
        "card_uri": {
          "target": "smithy.api#String"
        },
        "community_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the Community this Post belongs to, if any."
          }
        },
        "context_annotations": {
          "target": "com.x.stream#PostContextAnnotations"
        },
        "conversation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the conversation this Post belongs to (matches the root Post's ID)."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation time of the Post."
          }
        },
        "display_text_range": {
          "target": "com.x.stream#PostDisplayTextRange"
        },
        "edit_controls": {
          "target": "com.x.stream#PostEditControls"
        },
        "edit_history_post_ids": {
          "target": "com.x.stream#PostEditHistoryPostIdsList",
          "traits": {
            "smithy.api#documentation": "A list of Post IDs in this Post's edit history chain."
          }
        },
        "entities": {
          "target": "com.x.stream#PostEntities"
        },
        "geo": {
          "target": "com.x.stream#PostGeo"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of this Post."
          }
        },
        "in_reply_to_user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the User this Post is replying to."
          }
        },
        "lang": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Language of the Post, if detected by X. Returned as a BCP47 language tag."
          }
        },
        "matched_media_notes": {
          "target": "com.x.stream#PostMatchedMediaNotes"
        },
        "media_metadata": {
          "target": "com.x.stream#PostMediaMetadata"
        },
        "non_public_metrics": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Nonpublic engagement metrics for the Post at the time of the request."
          }
        },
        "note_post": {
          "target": "com.x.stream#PostNotePost"
        },
        "note_request_suggestions": {
          "target": "com.x.stream#PostNoteRequestSuggestions"
        },
        "organic_metrics": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Organic nonpublic engagement metrics for the Post at the time of the request."
          }
        },
        "paid_partnership": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this Post is a paid partnership, i.e. it has been disclosed by the author as containing paid promotion."
          }
        },
        "possibly_sensitive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this Post contains URLs marked as sensitive, for example content suitable for mature audiences."
          }
        },
        "promoted_metrics": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Promoted nonpublic engagement metrics for the Post at the time of the request."
          }
        },
        "public_metrics": {
          "target": "com.x.stream#PostPublicMetrics"
        },
        "referenced_posts": {
          "target": "com.x.stream#PostReferencedPosts"
        },
        "reply_settings": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Shows who can reply to this Post."
          }
        },
        "scopes": {
          "target": "com.x.stream#PostScopes"
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the app the user posted from. This is deprecated."
          }
        },
        "suggested_source_links": {
          "target": "com.x.stream#PostSuggestedSourceLinks"
        },
        "suggested_source_links_with_counts": {
          "target": "com.x.stream#PostSuggestedSourceLinksWithCounts"
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content of the Post."
          }
        },
        "username": {
          "target": "smithy.api#String"
        },
        "withheld": {
          "target": "com.x.stream#PostWithheld"
        }
      },
      "traits": {}
    },
    "com.x.stream#PostAttachments": {
      "type": "structure",
      "members": {
        "media_keys": {
          "target": "com.x.stream#PostAttachmentsMediaKeysList",
          "traits": {
            "smithy.api#documentation": "Media keys of media attached to this Post.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "media_source_tweet_id": {
          "target": "com.x.stream#PostAttachmentsMediaSourceTweetIdList",
          "traits": {
            "smithy.api#documentation": "IDs of the source Posts the attached media originated from.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "poll_ids": {
          "target": "com.x.stream#PostAttachmentsPollIdsList",
          "traits": {
            "smithy.api#documentation": "IDs of polls attached to this Post.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the type of attachments (if any) present in this Post."
      }
    },
    "com.x.stream#PostAttachmentsMediaKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Media keys of media attached to this Post."
      }
    },
    "com.x.stream#PostAttachmentsMediaSourceTweetIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "IDs of the source Posts the attached media originated from."
      }
    },
    "com.x.stream#PostAttachmentsPollIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "IDs of polls attached to this Post."
      }
    },
    "com.x.stream#PostContextAnnotations": {
      "type": "list",
      "member": {
        "target": "com.x.stream#PostContextAnnotationsItem"
      },
      "traits": {
        "smithy.api#documentation": "Annotations inferred about the Post (domain and entity context)."
      }
    },
    "com.x.stream#PostContextAnnotationsItemDomain": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A domain or entity referenced by a context annotation."
      }
    },
    "com.x.stream#PostContextAnnotationsItemEntity": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A domain or entity referenced by a context annotation."
      }
    },
    "com.x.stream#PostContextAnnotationsItem": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "com.x.stream#PostContextAnnotationsItemDomain",
          "traits": {
            "smithy.api#documentation": "The domain (broad category) this annotation belongs to.",
            "smithy.api#required": {}
          }
        },
        "entity": {
          "target": "com.x.stream#PostContextAnnotationsItemEntity",
          "traits": {
            "smithy.api#documentation": "The specific entity recognized within the domain.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single inferred annotation about the Post (domain and entity context)."
      }
    },
    "com.x.stream#PostDisplayTextRange": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "The inclusive start and exclusive end indices of the displayable content of the Post."
      }
    },
    "com.x.stream#PostEditControls": {
      "type": "structure",
      "members": {
        "editable_until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time until which this Post can be edited.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "edits_remaining": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of edits still allowed for this Post.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_edit_eligible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether this Post is eligible to be edited.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates how much longer (if at all) this Post can be edited."
      }
    },
    "com.x.stream#PostEditHistoryPostIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of Post IDs in this Post's edit history chain."
      }
    },
    "com.x.stream#PostEntities": {
      "type": "structure",
      "members": {
        "cashtags": {
          "target": "com.x.stream#PostEntitiesCashtagsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hashtags": {
          "target": "com.x.stream#PostEntitiesHashtagsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "mentions": {
          "target": "com.x.stream#PostEntitiesMentionsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "urls": {
          "target": "com.x.stream#PostEntitiesUrlsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of metadata entities (hashtags, mentions, URLs) found in the Post text."
      }
    },
    "com.x.stream#PostEntitiesCashtagsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "End index in the text (exclusive).",
            "smithy.api#required": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Start index in the text (inclusive).",
            "smithy.api#required": {}
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A hashtag or cashtag entity."
      }
    },
    "com.x.stream#PostEntitiesCashtagsList": {
      "type": "list",
      "member": {
        "target": "com.x.stream#PostEntitiesCashtagsItem"
      },
      "traits": {}
    },
    "com.x.stream#PostEntitiesHashtagsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "End index in the text (exclusive).",
            "smithy.api#required": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Start index in the text (inclusive).",
            "smithy.api#required": {}
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A hashtag or cashtag entity."
      }
    },
    "com.x.stream#PostEntitiesHashtagsList": {
      "type": "list",
      "member": {
        "target": "com.x.stream#PostEntitiesHashtagsItem"
      },
      "traits": {}
    },
    "com.x.stream#PostEntitiesMentionsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A user mention entity."
      }
    },
    "com.x.stream#PostEntitiesMentionsList": {
      "type": "list",
      "member": {
        "target": "com.x.stream#PostEntitiesMentionsItem"
      },
      "traits": {}
    },
    "com.x.stream#PostEntitiesUrlsItemImagesItem": {
      "type": "structure",
      "members": {
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A preview image for a linked page."
      }
    },
    "com.x.stream#PostEntitiesUrlsItemImagesList": {
      "type": "list",
      "member": {
        "target": "com.x.stream#PostEntitiesUrlsItemImagesItem"
      },
      "traits": {}
    },
    "com.x.stream#PostEntitiesUrlsItem": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the linked page, when available.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "display_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL as displayed in the Post text.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expanded_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully resolved URL.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "images": {
          "target": "com.x.stream#PostEntitiesUrlsItemImagesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "media_key": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "HTTP status from resolving the URL.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the linked page, when available.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "unwound_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The final destination after following redirects.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The t.co shortened URL.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A URL entity found in the Post text, enriched with link metadata."
      }
    },
    "com.x.stream#PostEntitiesUrlsList": {
      "type": "list",
      "member": {
        "target": "com.x.stream#PostEntitiesUrlsItem"
      },
      "traits": {}
    },
    "com.x.stream#PostGeo": {
      "type": "structure",
      "members": {
        "coordinates": {
          "target": "com.x.stream#PostGeoCoordinates",
          "traits": {
            "smithy.api#documentation": "A GeoJSON Point geometry.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "place_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the tagged place.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The location tagged on the Post, if the user provided one."
      }
    },
    "com.x.stream#PostGeoCoordinatesCoordinatesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      },
      "traits": {
        "smithy.api#documentation": "[longitude, latitude]."
      }
    },
    "com.x.stream#PostGeoCoordinatesType": {
      "type": "enum",
      "members": {
        "POINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Point"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The GeoJSON geometry type."
      }
    },
    "com.x.stream#PostGeoCoordinates": {
      "type": "structure",
      "members": {
        "coordinates": {
          "target": "com.x.stream#PostGeoCoordinatesCoordinatesList",
          "traits": {
            "smithy.api#documentation": "[longitude, latitude].",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.stream#PostGeoCoordinatesType",
          "traits": {
            "smithy.api#documentation": "The GeoJSON geometry type.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A GeoJSON Point geometry."
      }
    },
    "com.x.stream#PostMatchedMediaNotes": {
      "type": "list",
      "member": {
        "target": "com.x.stream#PostMatchedMediaNotesItem"
      },
      "traits": {
        "smithy.api#documentation": "Community-Notes media matches for this Post."
      }
    },
    "com.x.stream#PostMatchedMediaNotesItem": {
      "type": "structure",
      "members": {
        "match_status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status of the media note match.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "note_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The matched note's unique identifier.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Community-Notes media match for this Post."
      }
    },
    "com.x.stream#PostMediaMetadata": {
      "type": "list",
      "member": {
        "target": "com.x.stream#PostMediaMetadataItem"
      },
      "traits": {
        "smithy.api#documentation": "Metadata for media attached to this Post."
      }
    },
    "com.x.stream#PostMediaMetadataItem": {
      "type": "structure",
      "members": {
        "alt_text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Alternative text describing the media for accessibility.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the media.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "media_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the media.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the media.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for one media item attached to this Post."
      }
    },
    "com.x.stream#PostNotePost": {
      "type": "structure",
      "members": {
        "entities": {
          "target": "com.x.stream#PostNotePostEntities",
          "traits": {
            "smithy.api#documentation": "Metadata entities (hashtags, cashtags, mentions, URLs) found in the note Post text.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full note text of the Post.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The full content of the Post, including text beyond 280 characters."
      }
    },
    "com.x.stream#PostNotePostEntitiesCashtagsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "End index in the text (exclusive).",
            "smithy.api#required": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Start index in the text (inclusive).",
            "smithy.api#required": {}
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A hashtag or cashtag entity."
      }
    },
    "com.x.stream#PostNotePostEntitiesCashtagsList": {
      "type": "list",
      "member": {
        "target": "com.x.stream#PostNotePostEntitiesCashtagsItem"
      },
      "traits": {}
    },
    "com.x.stream#PostNotePostEntitiesHashtagsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "End index in the text (exclusive).",
            "smithy.api#required": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Start index in the text (inclusive).",
            "smithy.api#required": {}
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A hashtag or cashtag entity."
      }
    },
    "com.x.stream#PostNotePostEntitiesHashtagsList": {
      "type": "list",
      "member": {
        "target": "com.x.stream#PostNotePostEntitiesHashtagsItem"
      },
      "traits": {}
    },
    "com.x.stream#PostNotePostEntitiesMentionsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A user mention entity."
      }
    },
    "com.x.stream#PostNotePostEntitiesMentionsList": {
      "type": "list",
      "member": {
        "target": "com.x.stream#PostNotePostEntitiesMentionsItem"
      },
      "traits": {}
    },
    "com.x.stream#PostNotePostEntitiesUrlsItem": {
      "type": "structure",
      "members": {
        "display_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expanded_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A URL entity found in note Post text."
      }
    },
    "com.x.stream#PostNotePostEntitiesUrlsList": {
      "type": "list",
      "member": {
        "target": "com.x.stream#PostNotePostEntitiesUrlsItem"
      },
      "traits": {}
    },
    "com.x.stream#PostNotePostEntities": {
      "type": "structure",
      "members": {
        "cashtags": {
          "target": "com.x.stream#PostNotePostEntitiesCashtagsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hashtags": {
          "target": "com.x.stream#PostNotePostEntitiesHashtagsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "mentions": {
          "target": "com.x.stream#PostNotePostEntitiesMentionsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "urls": {
          "target": "com.x.stream#PostNotePostEntitiesUrlsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata entities (hashtags, cashtags, mentions, URLs) found in the note Post text."
      }
    },
    "com.x.stream#PostNoteRequestSuggestions": {
      "type": "list",
      "member": {
        "target": "com.x.stream#PostNoteRequestSuggestionsItem"
      },
      "traits": {
        "smithy.api#documentation": "Community-Notes request suggestions for this Post."
      }
    },
    "com.x.stream#PostNoteRequestSuggestionsItem": {
      "type": "structure",
      "members": {
        "source_link": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A suggested source link supporting the note request.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "suggestion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text of the note request suggestion.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "suggestion_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the note request suggestion.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Community-Notes request suggestion for this Post."
      }
    },
    "com.x.stream#PostPublicMetrics": {
      "type": "structure",
      "members": {
        "bookmark_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of times this Post has been bookmarked.",
            "smithy.api#required": {}
          }
        },
        "impression_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of times this Post has been viewed.",
            "smithy.api#required": {}
          }
        },
        "like_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of likes on this Post.",
            "smithy.api#required": {}
          }
        },
        "quote_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of quote Posts of this Post.",
            "smithy.api#required": {}
          }
        },
        "reply_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of replies to this Post.",
            "smithy.api#required": {}
          }
        },
        "repost_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of times this Post has been reposted.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Engagement metrics for the Post at the time of the request."
      }
    },
    "com.x.stream#PostReferencedPosts": {
      "type": "list",
      "member": {
        "target": "com.x.stream#PostReferencedPostsItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of Posts this Post refers to. If the Post is a Retweet, Quote or Reply, it includes the referenced Post's type and ID."
      }
    },
    "com.x.stream#PostReferencedPostsItemType": {
      "type": "enum",
      "members": {
        "RETWEETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "retweeted"
          }
        },
        "QUOTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quoted"
          }
        },
        "REPLIED_TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "replied_to"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The kind of Post-to-Post reference."
      }
    },
    "com.x.stream#PostReferencedPostsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the referenced Post.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.stream#PostReferencedPostsItemType",
          "traits": {
            "smithy.api#documentation": "How this Post references the other Post.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reference from this Post to another Post (repost, quote, or reply)."
      }
    },
    "com.x.stream#PostScopes": {
      "type": "structure",
      "members": {
        "followers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether visibility of this Post is limited to the author's followers.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The scopes for this Post."
      }
    },
    "com.x.stream#PostSuggestedSourceLinks": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "URLs suggested as sources for this Post."
      }
    },
    "com.x.stream#PostSuggestedSourceLinksWithCounts": {
      "type": "list",
      "member": {
        "target": "com.x.stream#PostSuggestedSourceLinksWithCountsItem"
      },
      "traits": {
        "smithy.api#documentation": "Suggested source URLs for this Post, each with the number of times it was suggested."
      }
    },
    "com.x.stream#PostSuggestedSourceLinksWithCountsItem": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of times this source link was suggested.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The suggested source URL.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A suggested source URL for this Post with the number of times it was suggested."
      }
    },
    "com.x.stream#PostWithheld": {
      "type": "structure",
      "members": {
        "copyright": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether this content is withheld due to a copyright claim.",
            "smithy.api#required": {}
          }
        },
        "country_codes": {
          "target": "com.x.stream#PostWithheldCountryCodesList",
          "traits": {
            "smithy.api#documentation": "Uppercase ISO 3166-1 alpha-2 country codes where this content is withheld.",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "com.x.stream#PostWithheldScope",
          "traits": {
            "smithy.api#documentation": "Whether the withholding applies to a Post or a User.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Withholding details for withheld content."
      }
    },
    "com.x.stream#PostWithheldCountryCodesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Uppercase ISO 3166-1 alpha-2 country codes where this content is withheld."
      }
    },
    "com.x.stream#PostWithheldScope": {
      "type": "enum",
      "members": {
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "post"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether the withholding applies to a Post or a User."
      }
    },
    "com.x.stream#ExpansionsPostsList": {
      "type": "list",
      "member": {
        "target": "com.x.stream#Post"
      },
      "traits": {}
    },
    "com.x.stream#Topic": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.stream#ExpansionsTopicsList": {
      "type": "list",
      "member": {
        "target": "com.x.stream#Topic"
      },
      "traits": {}
    },
    "com.x.stream#User": {
      "type": "structure",
      "members": {
        "affiliation": {
          "target": "com.x.stream#UserAffiliation"
        },
        "confirmed_email": {
          "target": "smithy.api#String"
        },
        "connection_status": {
          "target": "com.x.stream#UserConnectionStatus"
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation time of this User."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text of this User's profile description (also known as bio), if the User provided one."
          }
        },
        "entities": {
          "target": "com.x.stream#UserEntities"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of this User."
          }
        },
        "is_identity_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this User has completed identity verification."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location specified in the User's profile, if the User provided one. As this is a freeform value, it may not indicate a valid location."
          }
        },
        "most_recent_post_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of this User's most recent Post."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name of this User, as shown on their profile."
          }
        },
        "parody": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this User is a parody account."
          }
        },
        "pinned_post_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of this User's pinned Post."
          }
        },
        "profile_banner_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to the profile banner for this User."
          }
        },
        "profile_image_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to the profile image for this User."
          }
        },
        "protected": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this User has chosen to protect their Posts (in other words, if this User's Posts are private)."
          }
        },
        "public_metrics": {
          "target": "com.x.stream#UserPublicMetrics"
        },
        "receives_your_dm": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if you can send a DM to this User."
          }
        },
        "subscribes_to_you": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this User subscribes to you."
          }
        },
        "subscription": {
          "target": "com.x.stream#UserSubscription"
        },
        "subscription_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The X Blue subscription type of the user, e.g.: Basic, Premium, PremiumPlus or None."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL specified in the User's profile."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The X handle (screen name) of this User."
          }
        },
        "verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this User is a verified X User."
          }
        },
        "verified_followers_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of verified followers of this User."
          }
        },
        "verified_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The X Blue verified type of the user, e.g.: blue, government, business or none."
          }
        },
        "withheld": {
          "target": "com.x.stream#UserWithheld"
        }
      },
      "traits": {}
    },
    "com.x.stream#UserAffiliation": {
      "type": "structure",
      "members": {
        "badge_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the affiliation badge image shown on the User's profile.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the affiliation.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL associated with the affiliation.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "user_id": {
          "target": "com.x.stream#UserAffiliationUserIdList",
          "traits": {
            "smithy.api#documentation": "A list of unique identifiers of the accounts this User is affiliated with.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata about a user's affiliation."
      }
    },
    "com.x.stream#UserAffiliationUserIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of unique identifiers of the accounts this User is affiliated with."
      }
    },
    "com.x.stream#UserConnectionStatus": {
      "type": "list",
      "member": {
        "target": "com.x.stream#UserConnectionStatusItem"
      },
      "traits": {
        "smithy.api#documentation": "Returns detailed information about the relationship between two users."
      }
    },
    "com.x.stream#UserConnectionStatusItem": {
      "type": "enum",
      "members": {
        "BLOCKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blocking"
          }
        },
        "FOLLOW_REQUEST_RECEIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "follow_request_received"
          }
        },
        "FOLLOW_REQUEST_SENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "follow_request_sent"
          }
        },
        "FOLLOWED_BY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "followed_by"
          }
        },
        "FOLLOWING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "following"
          }
        },
        "MUTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "muting"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A connection between the authenticated User and this User."
      }
    },
    "com.x.stream#UserEntities": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.x.stream#UserEntitiesDescription",
          "traits": {
            "smithy.api#documentation": "Entities found in the User's bio.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "com.x.stream#UserEntitiesUrl",
          "traits": {
            "smithy.api#documentation": "Entities for the User's profile website URL.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of metadata found in the User's profile description."
      }
    },
    "com.x.stream#UserEntitiesDescriptionCashtagsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "End index in the text (exclusive).",
            "smithy.api#required": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Start index in the text (inclusive).",
            "smithy.api#required": {}
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A hashtag or cashtag entity."
      }
    },
    "com.x.stream#UserEntitiesDescriptionCashtagsList": {
      "type": "list",
      "member": {
        "target": "com.x.stream#UserEntitiesDescriptionCashtagsItem"
      },
      "traits": {}
    },
    "com.x.stream#UserEntitiesDescriptionHashtagsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "End index in the text (exclusive).",
            "smithy.api#required": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Start index in the text (inclusive).",
            "smithy.api#required": {}
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A hashtag or cashtag entity."
      }
    },
    "com.x.stream#UserEntitiesDescriptionHashtagsList": {
      "type": "list",
      "member": {
        "target": "com.x.stream#UserEntitiesDescriptionHashtagsItem"
      },
      "traits": {}
    },
    "com.x.stream#UserEntitiesDescriptionMentionsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A user mention entity."
      }
    },
    "com.x.stream#UserEntitiesDescriptionMentionsList": {
      "type": "list",
      "member": {
        "target": "com.x.stream#UserEntitiesDescriptionMentionsItem"
      },
      "traits": {}
    },
    "com.x.stream#UserEntitiesDescriptionUrlsItemImagesItem": {
      "type": "structure",
      "members": {
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A preview image for a linked page."
      }
    },
    "com.x.stream#UserEntitiesDescriptionUrlsItemImagesList": {
      "type": "list",
      "member": {
        "target": "com.x.stream#UserEntitiesDescriptionUrlsItemImagesItem"
      },
      "traits": {}
    },
    "com.x.stream#UserEntitiesDescriptionUrlsItem": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the linked page, when available.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "display_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL as displayed in the Post text.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expanded_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully resolved URL.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "images": {
          "target": "com.x.stream#UserEntitiesDescriptionUrlsItemImagesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "media_key": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "HTTP status from resolving the URL.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the linked page, when available.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "unwound_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The final destination after following redirects.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The t.co shortened URL.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A URL entity found in profile text."
      }
    },
    "com.x.stream#UserEntitiesDescriptionUrlsList": {
      "type": "list",
      "member": {
        "target": "com.x.stream#UserEntitiesDescriptionUrlsItem"
      },
      "traits": {}
    },
    "com.x.stream#UserEntitiesDescription": {
      "type": "structure",
      "members": {
        "cashtags": {
          "target": "com.x.stream#UserEntitiesDescriptionCashtagsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hashtags": {
          "target": "com.x.stream#UserEntitiesDescriptionHashtagsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "mentions": {
          "target": "com.x.stream#UserEntitiesDescriptionMentionsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "urls": {
          "target": "com.x.stream#UserEntitiesDescriptionUrlsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Entities found in the User's bio."
      }
    },
    "com.x.stream#UserEntitiesUrlUrlsItemImagesItem": {
      "type": "structure",
      "members": {
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A preview image for a linked page."
      }
    },
    "com.x.stream#UserEntitiesUrlUrlsItemImagesList": {
      "type": "list",
      "member": {
        "target": "com.x.stream#UserEntitiesUrlUrlsItemImagesItem"
      },
      "traits": {}
    },
    "com.x.stream#UserEntitiesUrlUrlsItem": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the linked page, when available.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "display_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL as displayed in the Post text.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expanded_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully resolved URL.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "images": {
          "target": "com.x.stream#UserEntitiesUrlUrlsItemImagesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "media_key": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "HTTP status from resolving the URL.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the linked page, when available.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "unwound_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The final destination after following redirects.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The t.co shortened URL.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A URL entity found in profile text."
      }
    },
    "com.x.stream#UserEntitiesUrlUrlsList": {
      "type": "list",
      "member": {
        "target": "com.x.stream#UserEntitiesUrlUrlsItem"
      },
      "traits": {}
    },
    "com.x.stream#UserEntitiesUrl": {
      "type": "structure",
      "members": {
        "urls": {
          "target": "com.x.stream#UserEntitiesUrlUrlsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Entities for the User's profile website URL."
      }
    },
    "com.x.stream#UserPublicMetrics": {
      "type": "structure",
      "members": {
        "followers_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of Users who follow this User.",
            "smithy.api#required": {}
          }
        },
        "following_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of Users this User follows.",
            "smithy.api#required": {}
          }
        },
        "like_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of Posts this User has liked.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "listed_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of Lists that include this User.",
            "smithy.api#required": {}
          }
        },
        "media_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of media items posted by this User.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "post_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of Posts (including Reposts) created by this User.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of metrics for this User."
      }
    },
    "com.x.stream#UserSubscription": {
      "type": "structure",
      "members": {
        "subscribes_to_you": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this User subscribes to you.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The subscription relationship between this User and you."
      }
    },
    "com.x.stream#UserWithheld": {
      "type": "structure",
      "members": {
        "country_codes": {
          "target": "com.x.stream#UserWithheldCountryCodesList",
          "traits": {
            "smithy.api#documentation": "A list of countries (as ISO 3166-1 alpha-2 codes) where this content is withheld.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "scope": {
          "target": "com.x.stream#UserWithheldScope",
          "traits": {
            "smithy.api#documentation": "The scope of the withholding. Only present, with the value \"user\", when the entire User is withheld.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Withholding details for withheld content."
      }
    },
    "com.x.stream#UserWithheldCountryCodesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of countries (as ISO 3166-1 alpha-2 codes) where this content is withheld."
      }
    },
    "com.x.stream#UserWithheldScope": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The scope of the withholding. Only present, with the value \"user\", when the entire User is withheld."
      }
    },
    "com.x.stream#ExpansionsUsersList": {
      "type": "list",
      "member": {
        "target": "com.x.stream#User"
      },
      "traits": {}
    },
    "com.x.stream#ActivityStreamingResponsePayload": {
      "type": "union",
      "members": {
        "ProfileUpdateActivityResponsePayload": {
          "target": "com.x.stream#ProfileUpdateActivityResponsePayload"
        },
        "NewsActivityResponsePayload": {
          "target": "com.x.stream#NewsActivityResponsePayload"
        },
        "FollowActivityResponsePayload": {
          "target": "com.x.stream#FollowActivityResponsePayload"
        },
        "Post": {
          "target": "com.x.stream#Post"
        },
        "PostDeleteActivityResponsePayload": {
          "target": "com.x.stream#PostDeleteActivityResponsePayload"
        },
        "LikeWithPostAuthor": {
          "target": "com.x.stream#LikeWithPostAuthor"
        }
      },
      "traits": {}
    },
    "com.x.stream#ProfileUpdateActivityResponsePayload": {
      "type": "structure",
      "members": {
        "after": {
          "target": "smithy.api#String"
        },
        "before": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.stream#NewsActivityResponsePayload": {
      "type": "structure",
      "members": {
        "category": {
          "target": "smithy.api#String"
        },
        "headline": {
          "target": "smithy.api#String"
        },
        "hook": {
          "target": "smithy.api#String"
        },
        "summary": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.stream#FollowActivityResponsePayload": {
      "type": "structure",
      "members": {
        "source": {
          "target": "com.x.stream#User"
        },
        "target": {
          "target": "com.x.stream#User"
        }
      },
      "traits": {}
    },
    "com.x.stream#PostDeleteActivityResponsePayload": {
      "type": "structure",
      "members": {
        "author_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The identity of a deleted Post."
      }
    },
    "com.x.stream#LikeWithPostAuthor": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation time of the Tweet."
          }
        },
        "id": {
          "target": "smithy.api#String"
        },
        "liked_tweet_id": {
          "target": "smithy.api#String"
        },
        "timestamp_ms": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Timestamp in milliseconds of creation."
          }
        },
        "tweet_author_id": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "A Like event, with the tweet author user and the tweet being liked"
      }
    },
    "com.x.stream#ActivityStreamResponseData": {
      "type": "structure",
      "members": {
        "event_type": {
          "target": "smithy.api#String"
        },
        "event_uuid": {
          "target": "smithy.api#String"
        },
        "filter": {
          "target": "com.x.stream#ActivitySubscriptionFilter"
        },
        "includes": {
          "target": "com.x.stream#Expansions"
        },
        "payload": {
          "target": "com.x.stream#ActivityStreamingResponsePayload"
        },
        "tag": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.stream#Problem": {
      "type": "union",
      "members": {
        "ResourceNotFoundProblem": {
          "target": "com.x.stream#ResourceNotFoundProblem"
        },
        "InvalidRequestProblem": {
          "target": "com.x.stream#InvalidRequestProblem"
        },
        "NotAuthorizedForResourceProblem": {
          "target": "com.x.stream#NotAuthorizedForResourceProblem"
        },
        "NotAuthorizedForFieldProblem": {
          "target": "com.x.stream#NotAuthorizedForFieldProblem"
        },
        "FieldUnauthorizedProblem": {
          "target": "com.x.stream#FieldUnauthorizedProblem"
        },
        "FieldHydrationFailureProblem": {
          "target": "com.x.stream#FieldHydrationFailureProblem"
        },
        "ResourceUnavailableProblem": {
          "target": "com.x.stream#ResourceUnavailableProblem"
        },
        "DisallowedResourceProblem": {
          "target": "com.x.stream#DisallowedResourceProblem"
        },
        "InternalErrorProblem": {
          "target": "com.x.stream#InternalErrorProblem"
        }
      },
      "traits": {}
    },
    "com.x.stream#ResourceNotFoundProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.stream#ResourceNotFoundProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.stream#ResourceNotFoundProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_RESOURCE_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/resource-not-found"
          }
        }
      },
      "traits": {}
    },
    "com.x.stream#InvalidRequestProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.stream#InvalidRequestProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.stream#InvalidRequestProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_INVALID_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/invalid-request"
          }
        }
      },
      "traits": {}
    },
    "com.x.stream#NotAuthorizedForResourceProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.stream#NotAuthorizedForResourceProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.stream#NotAuthorizedForResourceProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_NOT_AUTHORIZED_FOR_RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/not-authorized-for-resource"
          }
        }
      },
      "traits": {}
    },
    "com.x.stream#NotAuthorizedForFieldProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.stream#NotAuthorizedForFieldProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.stream#NotAuthorizedForFieldProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_NOT_AUTHORIZED_FOR_FIELD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/not-authorized-for-field"
          }
        }
      },
      "traits": {}
    },
    "com.x.stream#FieldUnauthorizedProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.stream#FieldUnauthorizedProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.stream#FieldUnauthorizedProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_FIELD_UNAUTHORIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/field-unauthorized"
          }
        }
      },
      "traits": {}
    },
    "com.x.stream#FieldHydrationFailureProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.stream#FieldHydrationFailureProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.stream#FieldHydrationFailureProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_FIELD_HYDRATION_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/field-hydration-failure"
          }
        }
      },
      "traits": {}
    },
    "com.x.stream#ResourceUnavailableProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.stream#ResourceUnavailableProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.stream#ResourceUnavailableProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_RESOURCE_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/resource-unavailable"
          }
        }
      },
      "traits": {}
    },
    "com.x.stream#DisallowedResourceProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.stream#DisallowedResourceProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.stream#DisallowedResourceProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_DISALLOWED_RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/disallowed-resource"
          }
        }
      },
      "traits": {}
    },
    "com.x.stream#InternalErrorProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.stream#InternalErrorProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.stream#InternalErrorProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/internal-error"
          }
        }
      },
      "traits": {}
    },
    "com.x.stream#ActivityStreamResponseErrorsList": {
      "type": "list",
      "member": {
        "target": "com.x.stream#Problem"
      },
      "traits": {}
    },
    "com.x.stream#ActivityStream": {
      "type": "operation",
      "input": {
        "target": "com.x.stream#ActivityStreamRequest"
      },
      "output": {
        "target": "com.x.stream#ActivityStreamResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2/activity/stream",
          "code": 200
        },
        "smithy.api#documentation": "Activity Stream\n\nStream of X Activities",
        "com.x#response": "stream"
      }
    },
    "com.x.stream#StreamLikesComplianceRequest": {
      "type": "structure",
      "members": {
        "backfill_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "backfill_minutes",
            "smithy.api#documentation": "The number of minutes of backfill requested."
          }
        },
        "start_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "start_time",
            "smithy.api#documentation": "YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp from which the Likes Compliance events will be provided."
          }
        },
        "end_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "end_time",
            "smithy.api#documentation": "YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp from which the Likes Compliance events will be provided."
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "com.x#security": [
          "app"
        ]
      }
    },
    "com.x.stream#StreamLikesComplianceResponse": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.x.stream#StreamLikesComplianceResponseCase0"
        },
        "Case1": {
          "target": "com.x.stream#StreamLikesComplianceResponseCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "Likes compliance stream events."
      }
    },
    "com.x.stream#LikeComplianceSchema": {
      "type": "structure",
      "members": {
        "delete": {
          "target": "com.x.stream#UnlikeComplianceSchema",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.stream#UnlikeComplianceSchema": {
      "type": "structure",
      "members": {
        "event_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Event time.",
            "smithy.api#required": {}
          }
        },
        "favorite": {
          "target": "com.x.stream#UnlikeComplianceSchemaFavorite",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.stream#UnlikeComplianceSchemaFavorite": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.stream#StreamLikesComplianceResponseCase0": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.x.stream#LikeComplianceSchema",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Compliance event."
      }
    },
    "com.x.stream#StreamLikesComplianceResponseCase1ErrorsList": {
      "type": "list",
      "member": {
        "target": "com.x.stream#Problem"
      },
      "traits": {}
    },
    "com.x.stream#StreamLikesComplianceResponseCase1": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.x.stream#StreamLikesComplianceResponseCase1ErrorsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.stream#StreamLikesComplianceResponse2": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.x.stream#StreamLikesComplianceResponse",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.x.stream#StreamLikesCompliance": {
      "type": "operation",
      "input": {
        "target": "com.x.stream#StreamLikesComplianceRequest"
      },
      "output": {
        "target": "com.x.stream#StreamLikesComplianceResponse2"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2/likes/compliance/stream",
          "code": 200
        },
        "smithy.api#documentation": "Stream Likes compliance data\n\nStreams all compliance data related to Likes for Users.",
[...]
