{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.x.tweets#GetRulesRequestIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.x.tweets#GetRulesRequest": {
      "type": "structure",
      "members": {
        "ids": {
          "target": "com.x.tweets#GetRulesRequestIdsList",
          "traits": {
            "smithy.api#httpQuery": "ids",
            "com.x#csvQuery": true
          }
        },
        "max_results": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "max_results"
          }
        },
        "pagination_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pagination_token",
            "smithy.api#documentation": "A base32hex-encoded pagination token."
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "com.x#security": [
          "app"
        ]
      }
    },
    "com.x.tweets#GetRulesResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.x.tweets#GetRulesResponseDataList"
        },
        "errors": {
          "target": "com.x.tweets#GetRulesResponseErrorsList"
        },
        "meta": {
          "target": "com.x.tweets#GetRulesResponseMeta"
        }
      },
      "traits": {}
    },
    "com.x.tweets#GetRulesResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the rule."
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional caller-defined label for the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The rule's filter expression."
          }
        }
      },
      "traits": {}
    },
    "com.x.tweets#GetRulesResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.x.tweets#GetRulesResponseData"
      },
      "traits": {}
    },
    "com.x.tweets#Problem": {
      "type": "union",
      "members": {
        "ResourceNotFoundProblem": {
          "target": "com.x.tweets#ResourceNotFoundProblem"
        },
        "InvalidRequestProblem": {
          "target": "com.x.tweets#InvalidRequestProblem"
        },
        "NotAuthorizedForResourceProblem": {
          "target": "com.x.tweets#NotAuthorizedForResourceProblem"
        },
        "NotAuthorizedForFieldProblem": {
          "target": "com.x.tweets#NotAuthorizedForFieldProblem"
        },
        "FieldUnauthorizedProblem": {
          "target": "com.x.tweets#FieldUnauthorizedProblem"
        },
        "FieldHydrationFailureProblem": {
          "target": "com.x.tweets#FieldHydrationFailureProblem"
        },
        "ResourceUnavailableProblem": {
          "target": "com.x.tweets#ResourceUnavailableProblem"
        },
        "DisallowedResourceProblem": {
          "target": "com.x.tweets#DisallowedResourceProblem"
        },
        "InternalErrorProblem": {
          "target": "com.x.tweets#InternalErrorProblem"
        }
      },
      "traits": {}
    },
    "com.x.tweets#ResourceNotFoundProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.tweets#ResourceNotFoundProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.tweets#ResourceNotFoundProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_RESOURCE_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/resource-not-found"
          }
        }
      },
      "traits": {}
    },
    "com.x.tweets#InvalidRequestProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.tweets#InvalidRequestProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.tweets#InvalidRequestProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_INVALID_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/invalid-request"
          }
        }
      },
      "traits": {}
    },
    "com.x.tweets#NotAuthorizedForResourceProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.tweets#NotAuthorizedForResourceProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.tweets#NotAuthorizedForResourceProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_NOT_AUTHORIZED_FOR_RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/not-authorized-for-resource"
          }
        }
      },
      "traits": {}
    },
    "com.x.tweets#NotAuthorizedForFieldProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.tweets#NotAuthorizedForFieldProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.tweets#NotAuthorizedForFieldProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_NOT_AUTHORIZED_FOR_FIELD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/not-authorized-for-field"
          }
        }
      },
      "traits": {}
    },
    "com.x.tweets#FieldUnauthorizedProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.tweets#FieldUnauthorizedProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.tweets#FieldUnauthorizedProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_FIELD_UNAUTHORIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/field-unauthorized"
          }
        }
      },
      "traits": {}
    },
    "com.x.tweets#FieldHydrationFailureProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.tweets#FieldHydrationFailureProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.tweets#FieldHydrationFailureProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_FIELD_HYDRATION_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/field-hydration-failure"
          }
        }
      },
      "traits": {}
    },
    "com.x.tweets#ResourceUnavailableProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.tweets#ResourceUnavailableProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.tweets#ResourceUnavailableProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_RESOURCE_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/resource-unavailable"
          }
        }
      },
      "traits": {}
    },
    "com.x.tweets#DisallowedResourceProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.tweets#DisallowedResourceProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.tweets#DisallowedResourceProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_DISALLOWED_RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/disallowed-resource"
          }
        }
      },
      "traits": {}
    },
    "com.x.tweets#InternalErrorProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.tweets#InternalErrorProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.tweets#InternalErrorProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/internal-error"
          }
        }
      },
      "traits": {}
    },
    "com.x.tweets#GetRulesResponseErrorsList": {
      "type": "list",
      "member": {
        "target": "com.x.tweets#Problem"
      },
      "traits": {}
    },
    "com.x.tweets#GetRulesResponseMeta": {
      "type": "structure",
      "members": {
        "next_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pagination token for the next page of results."
          }
        },
        "result_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of items in the data array."
          }
        }
      },
      "traits": {}
    },
    "com.x.tweets#GetRules": {
      "type": "operation",
      "input": {
        "target": "com.x.tweets#GetRulesRequest"
      },
      "output": {
        "target": "com.x.tweets#GetRulesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2/tweets/search/stream/rules",
          "code": 200
        },
        "smithy.api#documentation": "Get filtered-stream rules\n\nReturns the active filtered-stream rules for the authenticated app. Provide `ids` to fetch specific rules; omit it to list all rules.",
        "com.x#response": "json"
      }
    },
    "com.x.tweets#UpdateRulesAdd": {
      "type": "structure",
      "members": {
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional caller-defined label for the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rule filter expression.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.tweets#UpdateRulesRequestAddList": {
      "type": "list",
      "member": {
        "target": "com.x.tweets#UpdateRulesAdd"
      },
      "traits": {
        "smithy.api#documentation": "Rules to add."
      }
    },
    "com.x.tweets#UpdateRulesDelete": {
      "type": "structure",
      "members": {
        "ids": {
          "target": "com.x.tweets#UpdateRulesDeleteIdsList",
          "traits": {
            "smithy.api#documentation": "Rule ids (Snowflake external ids) to delete."
          }
        },
        "values": {
          "target": "com.x.tweets#UpdateRulesDeleteValuesList",
          "traits": {
            "smithy.api#documentation": "Rule values to delete."
          }
        }
      },
      "traits": {}
    },
    "com.x.tweets#UpdateRulesDeleteIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Rule ids (Snowflake external ids) to delete."
      }
    },
    "com.x.tweets#UpdateRulesDeleteValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Rule values to delete."
      }
    },
    "com.x.tweets#UpdateRulesRequest": {
      "type": "structure",
      "members": {
        "dry_run": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "dry_run"
          }
        },
        "delete_all": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "delete_all"
          }
        },
        "add": {
          "target": "com.x.tweets#UpdateRulesRequestAddList",
          "traits": {
            "smithy.api#documentation": "Rules to add."
          }
        },
        "delete": {
          "target": "com.x.tweets#UpdateRulesDelete",
          "traits": {
            "smithy.api#documentation": "Rules to delete by id or by value."
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "com.x#security": [
          "app"
        ],
        "com.x#requestBody": true
      }
    },
    "com.x.tweets#UpdateRulesResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.x.tweets#UpdateRulesResponseDataList"
        },
        "errors": {
          "target": "com.x.tweets#UpdateRulesResponseErrorsList"
        },
        "meta": {
          "target": "com.x.tweets#UpdateRulesResponseMeta"
        }
      },
      "traits": {}
    },
    "com.x.tweets#UpdateRulesResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the rule."
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional caller-defined label for the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The rule's filter expression."
          }
        }
      },
      "traits": {}
    },
    "com.x.tweets#UpdateRulesResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.x.tweets#UpdateRulesResponseData"
      },
      "traits": {}
    },
    "com.x.tweets#UpdateRulesResponseErrorsList": {
      "type": "list",
      "member": {
        "target": "com.x.tweets#Problem"
      },
      "traits": {}
    },
    "com.x.tweets#UpdateRulesResponseMeta": {
      "type": "structure",
      "members": {
        "sent": {
          "target": "smithy.api#String"
        },
        "summary": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.x.tweets#UpdateRules": {
      "type": "operation",
      "input": {
        "target": "com.x.tweets#UpdateRulesRequest"
      },
      "output": {
        "target": "com.x.tweets#UpdateRulesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2/tweets/search/stream/rules",
          "code": 200
        },
        "smithy.api#documentation": "Update stream rules\n\nAdds or deletes rules from the active rule set for the filtered stream. Exactly one of `add`, `delete`, or `?delete_all=true` must be specified. Use `?dry_run=true` to validate without committing.",
        "com.x#response": "json"
      }
    },
    "com.x.tweets#Tweets": {
      "type": "service",
      "version": "2.167",
      "operations": [
        {
          "target": "com.x.tweets#GetRules"
        },
        {
          "target": "com.x.tweets#UpdateRules"
        }
      ],
      "traits": {
        "smithy.api#title": "X API v2",
        "smithy.api#documentation": "X API v2 core endpoints"
      }
    }
  }
}
