{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.x.posts#GetTrendsByWoeidRequestTrendFieldsItem": {
      "type": "enum",
      "members": {
        "TREND_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trend_name"
          }
        },
        "TWEET_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tweet_count"
          }
        }
      },
      "traits": {}
    },
    "com.x.posts#GetTrendsByWoeidRequestTrendFieldsList": {
      "type": "list",
      "member": {
        "target": "com.x.posts#GetTrendsByWoeidRequestTrendFieldsItem"
      },
      "traits": {
        "smithy.api#documentation": "The fields available for a Trend object."
      }
    },
    "com.x.posts#GetTrendsByWoeidRequest": {
      "type": "structure",
      "members": {
        "woeid": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "max_trends": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "max_trends"
          }
        },
        "trend_fields": {
          "target": "com.x.posts#GetTrendsByWoeidRequestTrendFieldsList",
          "traits": {
            "smithy.api#httpQuery": "trend.fields",
            "smithy.api#documentation": "A comma separated list of Trend fields to display."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.x.posts#GetTrendsByWoeidResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.x.posts#GetTrendsByWoeidResponseDataList"
        },
        "errors": {
          "target": "com.x.posts#GetTrendsByWoeidResponseErrorsList"
        }
      },
      "traits": {}
    },
    "com.x.posts#Trend": {
      "type": "structure",
      "members": {
        "trend_name": {
          "target": "smithy.api#String"
        },
        "tweet_count": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.x.posts#GetTrendsByWoeidResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.x.posts#Trend"
      },
      "traits": {}
    },
    "com.x.posts#Problem": {
      "type": "union",
      "members": {
        "ResourceNotFoundProblem": {
          "target": "com.x.posts#ResourceNotFoundProblem"
        },
        "InvalidRequestProblem": {
          "target": "com.x.posts#InvalidRequestProblem"
        },
        "NotAuthorizedForResourceProblem": {
          "target": "com.x.posts#NotAuthorizedForResourceProblem"
        },
        "NotAuthorizedForFieldProblem": {
          "target": "com.x.posts#NotAuthorizedForFieldProblem"
        },
        "FieldUnauthorizedProblem": {
          "target": "com.x.posts#FieldUnauthorizedProblem"
        },
        "FieldHydrationFailureProblem": {
          "target": "com.x.posts#FieldHydrationFailureProblem"
        },
        "ResourceUnavailableProblem": {
          "target": "com.x.posts#ResourceUnavailableProblem"
        },
        "DisallowedResourceProblem": {
          "target": "com.x.posts#DisallowedResourceProblem"
        },
        "InternalErrorProblem": {
          "target": "com.x.posts#InternalErrorProblem"
        }
      },
      "traits": {}
    },
    "com.x.posts#ResourceNotFoundProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.posts#ResourceNotFoundProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.posts#ResourceNotFoundProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_RESOURCE_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/resource-not-found"
          }
        }
      },
      "traits": {}
    },
    "com.x.posts#InvalidRequestProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.posts#InvalidRequestProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.posts#InvalidRequestProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_INVALID_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/invalid-request"
          }
        }
      },
      "traits": {}
    },
    "com.x.posts#NotAuthorizedForResourceProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.posts#NotAuthorizedForResourceProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.posts#NotAuthorizedForResourceProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_NOT_AUTHORIZED_FOR_RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/not-authorized-for-resource"
          }
        }
      },
      "traits": {}
    },
    "com.x.posts#NotAuthorizedForFieldProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.posts#NotAuthorizedForFieldProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.posts#NotAuthorizedForFieldProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_NOT_AUTHORIZED_FOR_FIELD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/not-authorized-for-field"
          }
        }
      },
      "traits": {}
    },
    "com.x.posts#FieldUnauthorizedProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.posts#FieldUnauthorizedProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.posts#FieldUnauthorizedProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_FIELD_UNAUTHORIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/field-unauthorized"
          }
        }
      },
      "traits": {}
    },
    "com.x.posts#FieldHydrationFailureProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.posts#FieldHydrationFailureProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.posts#FieldHydrationFailureProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_FIELD_HYDRATION_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/field-hydration-failure"
          }
        }
      },
      "traits": {}
    },
    "com.x.posts#ResourceUnavailableProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.posts#ResourceUnavailableProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.posts#ResourceUnavailableProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_RESOURCE_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/resource-unavailable"
          }
        }
      },
      "traits": {}
    },
    "com.x.posts#DisallowedResourceProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.posts#DisallowedResourceProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.posts#DisallowedResourceProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_DISALLOWED_RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/disallowed-resource"
          }
        }
      },
      "traits": {}
    },
    "com.x.posts#InternalErrorProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.posts#InternalErrorProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.posts#InternalErrorProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/internal-error"
          }
        }
      },
      "traits": {}
    },
    "com.x.posts#GetTrendsByWoeidResponseErrorsList": {
      "type": "list",
      "member": {
        "target": "com.x.posts#Problem"
      },
      "traits": {}
    },
    "com.x.posts#GetTrendsByWoeid": {
      "type": "operation",
      "input": {
        "target": "com.x.posts#GetTrendsByWoeidRequest"
      },
      "output": {
        "target": "com.x.posts#GetTrendsByWoeidResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2/trends/by/woeid/{woeid}",
          "code": 200
        },
        "smithy.api#documentation": "Get Trends by Woeid"
      }
    },
    "com.x.posts#GetPostsByIdsRequestIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.x.posts#GetPostsByIdsRequestPostFieldsItem": {
      "type": "enum",
      "members": {
        "ARTICLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "article"
          }
        },
        "ARTICLE_TITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "article_title"
          }
        },
        "ATTACHMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attachments"
          }
        },
        "CARD_URI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "card_uri"
          }
        },
        "COMMUNITY_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "community_id"
          }
        },
        "CONTEXT_ANNOTATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "context_annotations"
          }
        },
        "CONVERSATION_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "conversation_id"
          }
        },
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        },
        "DISPLAY_TEXT_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "display_text_range"
          }
        },
        "EDIT_CONTROLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edit_controls"
          }
        },
        "ENTITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "entities"
          }
        },
        "GEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "geo"
          }
        },
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        },
        "LANG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lang"
          }
        },
        "MATCHED_MEDIA_NOTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "matched_media_notes"
          }
        },
        "MEDIA_METADATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "media_metadata"
          }
        },
        "NON_PUBLIC_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "non_public_metrics"
          }
        },
        "NOTE_POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "note_post"
          }
        },
        "NOTE_REQUEST_SUGGESTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "note_request_suggestions"
          }
        },
        "ORGANIC_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organic_metrics"
          }
        },
        "PAID_PARTNERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paid_partnership"
          }
        },
        "POSSIBLY_SENSITIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "possibly_sensitive"
          }
        },
        "PROMOTED_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "promoted_metrics"
          }
        },
        "PUBLIC_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public_metrics"
          }
        },
        "REPLY_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reply_settings"
          }
        },
        "SCOPES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scopes"
          }
        },
        "SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "source"
          }
        },
        "SUGGESTED_SOURCE_LINKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suggested_source_links"
          }
        },
        "SUGGESTED_SOURCE_LINKS_WITH_COUNTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suggested_source_links_with_counts"
          }
        },
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "WITHHELD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "withheld"
          }
        }
      },
      "traits": {}
    },
    "com.x.posts#GetPostsByIdsRequestPostFieldsList": {
      "type": "list",
      "member": {
        "target": "com.x.posts#GetPostsByIdsRequestPostFieldsItem"
      },
      "traits": {
        "smithy.api#documentation": "The fields available for a Post object."
      }
    },
    "com.x.posts#GetPostsByIdsRequestExpansionsItem": {
      "type": "enum",
      "members": {
        "ARTICLE_COVER_MEDIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "article.cover_media"
          }
        },
        "ARTICLE_MEDIA_ENTITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "article.media_entities"
          }
        },
        "ATTACHMENTS_MEDIA_KEYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attachments.media_keys"
          }
        },
        "ATTACHMENTS_MEDIA_SOURCE_TWEET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attachments.media_source_tweet"
          }
        },
        "ATTACHMENTS_POLL_IDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attachments.poll_ids"
          }
        },
        "AUTHOR_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "author_id"
          }
        },
        "EDIT_HISTORY_POST_IDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edit_history_post_ids"
          }
        },
        "ENTITIES_MENTIONS_USERNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "entities.mentions.username"
          }
        },
        "GEO_PLACE_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "geo.place_id"
          }
        },
        "IN_REPLY_TO_USER_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_reply_to_user_id"
          }
        },
        "REFERENCED_POSTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "referenced_posts"
          }
        },
        "USERNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "username"
          }
        }
      },
      "traits": {}
    },
    "com.x.posts#GetPostsByIdsRequestExpansionsList": {
      "type": "list",
      "member": {
        "target": "com.x.posts#GetPostsByIdsRequestExpansionsItem"
      },
      "traits": {}
    },
    "com.x.posts#GetPostsByIdsRequestUserFieldsItem": {
      "type": "enum",
      "members": {
        "CONFIRMED_EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "confirmed_email"
          }
        },
        "CONNECTION_STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connection_status"
          }
        },
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        },
        "DESCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "description"
          }
        },
        "ENTITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "entities"
          }
        },
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        },
        "IS_IDENTITY_VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_identity_verified"
          }
        },
        "LOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "location"
          }
        },
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        },
        "PARODY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "parody"
          }
        },
        "PROFILE_BANNER_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "profile_banner_url"
          }
        },
        "PROFILE_IMAGE_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "profile_image_url"
          }
        },
        "PROTECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "protected"
          }
        },
        "PUBLIC_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public_metrics"
          }
        },
        "RECEIVES_YOUR_DM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "receives_your_dm"
          }
        },
        "SUBSCRIBES_TO_YOU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subscribes_to_you"
          }
        },
        "SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subscription"
          }
        },
        "SUBSCRIPTION_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subscription_type"
          }
        },
        "URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url"
          }
        },
        "USERNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "username"
          }
        },
        "VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verified"
          }
        },
        "VERIFIED_FOLLOWERS_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verified_followers_count"
          }
        },
        "VERIFIED_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verified_type"
          }
        },
        "WITHHELD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "withheld"
          }
        }
      },
      "traits": {}
    },
    "com.x.posts#GetPostsByIdsRequestUserFieldsList": {
      "type": "list",
      "member": {
        "target": "com.x.posts#GetPostsByIdsRequestUserFieldsItem"
      },
      "traits": {
        "smithy.api#documentation": "The fields available for a User object."
      }
    },
    "com.x.posts#GetPostsByIdsRequestMediaFieldsItem": {
      "type": "enum",
      "members": {
        "ALT_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alt_text"
          }
        },
        "DURATION_MS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "duration_ms"
          }
        },
        "HEIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "height"
          }
        },
        "MEDIA_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "media_key"
          }
        },
        "NON_PUBLIC_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "non_public_metrics"
          }
        },
        "ORGANIC_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organic_metrics"
          }
        },
        "PREVIEW_IMAGE_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview_image_url"
          }
        },
        "PROMOTED_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "promoted_metrics"
          }
        },
        "PUBLIC_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public_metrics"
          }
        },
        "TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "type"
          }
        },
        "URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url"
          }
        },
        "VARIANTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "variants"
          }
        },
        "WIDTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "width"
          }
        }
      },
      "traits": {}
    },
    "com.x.posts#GetPostsByIdsRequestMediaFieldsList": {
      "type": "list",
      "member": {
        "target": "com.x.posts#GetPostsByIdsRequestMediaFieldsItem"
      },
      "traits": {
        "smithy.api#documentation": "The fields available for a Media object."
      }
    },
    "com.x.posts#GetPostsByIdsRequestPollFieldsItem": {
      "type": "enum",
      "members": {
        "DURATION_MINUTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "duration_minutes"
          }
        },
        "END_DATETIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "end_datetime"
          }
        },
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        },
        "OPTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "options"
          }
        },
        "VOTING_STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "voting_status"
          }
        }
      },
      "traits": {}
    },
    "com.x.posts#GetPostsByIdsRequestPollFieldsList": {
      "type": "list",
      "member": {
        "target": "com.x.posts#GetPostsByIdsRequestPollFieldsItem"
      },
      "traits": {
        "smithy.api#documentation": "The fields available for a Poll object."
      }
    },
    "com.x.posts#GetPostsByIdsRequestPlaceFieldsItem": {
      "type": "enum",
      "members": {
        "CONTAINED_WITHIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contained_within"
          }
        },
        "COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "country"
          }
        },
        "COUNTRY_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "country_code"
          }
        },
        "FULL_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "full_name"
          }
        },
        "GEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "geo"
          }
        },
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        },
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        },
        "PLACE_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "place_type"
          }
        }
      },
      "traits": {}
    },
    "com.x.posts#GetPostsByIdsRequestPlaceFieldsList": {
      "type": "list",
      "member": {
        "target": "com.x.posts#GetPostsByIdsRequestPlaceFieldsItem"
      },
      "traits": {
        "smithy.api#documentation": "The fields available for a Place object."
      }
    },
    "com.x.posts#GetPostsByIdsRequest": {
      "type": "structure",
      "members": {
        "ids": {
          "target": "com.x.posts#GetPostsByIdsRequestIdsList",
          "traits": {
            "smithy.api#httpQuery": "ids",
            "smithy.api#required": {}
          }
        },
        "post_fields": {
          "target": "com.x.posts#GetPostsByIdsRequestPostFieldsList",
          "traits": {
            "smithy.api#httpQuery": "post.fields",
            "smithy.api#documentation": "A comma separated list of Post fields to display."
          }
        },
        "expansions": {
          "target": "com.x.posts#GetPostsByIdsRequestExpansionsList",
          "traits": {
            "smithy.api#httpQuery": "expansions",
            "smithy.api#documentation": "A comma separated list of fields to expand."
          }
        },
        "user_fields": {
          "target": "com.x.posts#GetPostsByIdsRequestUserFieldsList",
          "traits": {
            "smithy.api#httpQuery": "user.fields",
            "smithy.api#documentation": "A comma separated list of User fields to display."
          }
        },
        "media_fields": {
          "target": "com.x.posts#GetPostsByIdsRequestMediaFieldsList",
          "traits": {
            "smithy.api#httpQuery": "media.fields",
            "smithy.api#documentation": "A comma separated list of Media fields to display."
          }
        },
        "poll_fields": {
          "target": "com.x.posts#GetPostsByIdsRequestPollFieldsList",
          "traits": {
            "smithy.api#httpQuery": "poll.fields",
            "smithy.api#documentation": "A comma separated list of Poll fields to display."
          }
        },
        "place_fields": {
          "target": "com.x.posts#GetPostsByIdsRequestPlaceFieldsList",
          "traits": {
            "smithy.api#httpQuery": "place.fields",
            "smithy.api#documentation": "A comma separated list of Place fields to display."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.x.posts#GetPostsByIdsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.x.posts#GetPostsByIdsResponseDataList"
        },
        "errors": {
          "target": "com.x.posts#GetPostsByIdsResponseErrorsList"
        },
        "includes": {
          "target": "com.x.posts#Expansions"
        },
        "meta": {
          "target": "com.x.posts#GetPostsByIdsResponseMeta"
        }
      },
      "traits": {}
    },
    "com.x.posts#Post": {
      "type": "structure",
      "members": {
        "article": {
          "target": "smithy.api#Document"
        },
        "article_title": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Metadata about the long-form Article attached to this Post, if any."
          }
        },
        "attachments": {
          "target": "com.x.posts#PostAttachments"
        },
        "author_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the author of this Post."
          }
        },
        "card_uri": {
          "target": "smithy.api#String"
        },
        "community_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the Community this Post belongs to, if any."
          }
        },
        "context_annotations": {
          "target": "com.x.posts#PostContextAnnotations"
        },
        "conversation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the conversation this Post belongs to (matches the root Post's ID)."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation time of the Post."
          }
        },
        "display_text_range": {
          "target": "com.x.posts#PostDisplayTextRange"
        },
        "edit_controls": {
          "target": "com.x.posts#PostEditControls"
        },
        "edit_history_post_ids": {
          "target": "com.x.posts#PostEditHistoryPostIdsList",
          "traits": {
            "smithy.api#documentation": "A list of Post IDs in this Post's edit history chain."
          }
        },
        "entities": {
          "target": "com.x.posts#PostEntities"
        },
        "geo": {
          "target": "com.x.posts#PostGeo"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of this Post."
          }
        },
        "in_reply_to_user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the User this Post is replying to."
          }
        },
        "lang": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Language of the Post, if detected by X. Returned as a BCP47 language tag."
          }
        },
        "matched_media_notes": {
          "target": "com.x.posts#PostMatchedMediaNotes"
        },
        "media_metadata": {
          "target": "com.x.posts#PostMediaMetadata"
        },
        "non_public_metrics": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Nonpublic engagement metrics for the Post at the time of the request."
          }
        },
        "note_post": {
          "target": "com.x.posts#PostNotePost"
        },
        "note_request_suggestions": {
          "target": "com.x.posts#PostNoteRequestSuggestions"
        },
        "organic_metrics": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Organic nonpublic engagement metrics for the Post at the time of the request."
          }
        },
        "paid_partnership": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this Post is a paid partnership, i.e. it has been disclosed by the author as containing paid promotion."
          }
        },
        "possibly_sensitive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this Post contains URLs marked as sensitive, for example content suitable for mature audiences."
          }
        },
        "promoted_metrics": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Promoted nonpublic engagement metrics for the Post at the time of the request."
          }
        },
        "public_metrics": {
          "target": "com.x.posts#PostPublicMetrics"
        },
        "referenced_posts": {
          "target": "com.x.posts#PostReferencedPosts"
        },
        "reply_settings": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Shows who can reply to this Post."
          }
        },
        "scopes": {
          "target": "com.x.posts#PostScopes"
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the app the user posted from. This is deprecated."
          }
        },
        "suggested_source_links": {
          "target": "com.x.posts#PostSuggestedSourceLinks"
        },
        "suggested_source_links_with_counts": {
          "target": "com.x.posts#PostSuggestedSourceLinksWithCounts"
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content of the Post."
          }
        },
        "username": {
          "target": "smithy.api#String"
        },
        "withheld": {
          "target": "com.x.posts#PostWithheld"
        }
      },
      "traits": {}
    },
    "com.x.posts#PostAttachments": {
      "type": "structure",
      "members": {
        "media_keys": {
          "target": "com.x.posts#PostAttachmentsMediaKeysList",
          "traits": {
            "smithy.api#documentation": "Media keys of media attached to this Post.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "media_source_tweet_id": {
          "target": "com.x.posts#PostAttachmentsMediaSourceTweetIdList",
          "traits": {
            "smithy.api#documentation": "IDs of the source Posts the attached media originated from.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "poll_ids": {
          "target": "com.x.posts#PostAttachmentsPollIdsList",
          "traits": {
            "smithy.api#documentation": "IDs of polls attached to this Post.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the type of attachments (if any) present in this Post."
      }
    },
    "com.x.posts#PostAttachmentsMediaKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Media keys of media attached to this Post."
      }
    },
    "com.x.posts#PostAttachmentsMediaSourceTweetIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "IDs of the source Posts the attached media originated from."
      }
    },
    "com.x.posts#PostAttachmentsPollIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "IDs of polls attached to this Post."
      }
    },
    "com.x.posts#PostContextAnnotations": {
      "type": "list",
      "member": {
        "target": "com.x.posts#PostContextAnnotationsItem"
      },
      "traits": {
        "smithy.api#documentation": "Annotations inferred about the Post (domain and entity context)."
      }
    },
    "com.x.posts#PostContextAnnotationsItemDomain": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A domain or entity referenced by a context annotation."
      }
    },
    "com.x.posts#PostContextAnnotationsItemEntity": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A domain or entity referenced by a context annotation."
      }
    },
    "com.x.posts#PostContextAnnotationsItem": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "com.x.posts#PostContextAnnotationsItemDomain",
          "traits": {
            "smithy.api#documentation": "The domain (broad category) this annotation belongs to.",
            "smithy.api#required": {}
          }
        },
        "entity": {
          "target": "com.x.posts#PostContextAnnotationsItemEntity",
          "traits": {
            "smithy.api#documentation": "The specific entity recognized within the domain.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single inferred annotation about the Post (domain and entity context)."
      }
    },
    "com.x.posts#PostDisplayTextRange": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "The inclusive start and exclusive end indices of the displayable content of the Post."
      }
    },
    "com.x.posts#PostEditControls": {
      "type": "structure",
      "members": {
        "editable_until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time until which this Post can be edited.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "edits_remaining": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of edits still allowed for this Post.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_edit_eligible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether this Post is eligible to be edited.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates how much longer (if at all) this Post can be edited."
      }
    },
    "com.x.posts#PostEditHistoryPostIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of Post IDs in this Post's edit history chain."
      }
    },
    "com.x.posts#PostEntities": {
      "type": "structure",
      "members": {
        "cashtags": {
          "target": "com.x.posts#PostEntitiesCashtagsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hashtags": {
          "target": "com.x.posts#PostEntitiesHashtagsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "mentions": {
          "target": "com.x.posts#PostEntitiesMentionsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "urls": {
          "target": "com.x.posts#PostEntitiesUrlsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of metadata entities (hashtags, mentions, URLs) found in the Post text."
      }
    },
    "com.x.posts#PostEntitiesCashtagsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "End index in the text (exclusive).",
            "smithy.api#required": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Start index in the text (inclusive).",
            "smithy.api#required": {}
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A hashtag or cashtag entity."
      }
    },
    "com.x.posts#PostEntitiesCashtagsList": {
      "type": "list",
      "member": {
        "target": "com.x.posts#PostEntitiesCashtagsItem"
      },
      "traits": {}
    },
    "com.x.posts#PostEntitiesHashtagsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "End index in the text (exclusive).",
            "smithy.api#required": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Start index in the text (inclusive).",
            "smithy.api#required": {}
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A hashtag or cashtag entity."
      }
    },
    "com.x.posts#PostEntitiesHashtagsList": {
      "type": "list",
      "member": {
        "target": "com.x.posts#PostEntitiesHashtagsItem"
      },
      "traits": {}
    },
    "com.x.posts#PostEntitiesMentionsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A user mention entity."
      }
    },
    "com.x.posts#PostEntitiesMentionsList": {
      "type": "list",
      "member": {
        "target": "com.x.posts#PostEntitiesMentionsItem"
      },
      "traits": {}
    },
    "com.x.posts#PostEntitiesUrlsItemImagesItem": {
      "type": "structure",
      "members": {
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A preview image for a linked page."
      }
    },
    "com.x.posts#PostEntitiesUrlsItemImagesList": {
      "type": "list",
      "member": {
        "target": "com.x.posts#PostEntitiesUrlsItemImagesItem"
      },
      "traits": {}
    },
    "com.x.posts#PostEntitiesUrlsItem": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the linked page, when available.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "display_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL as displayed in the Post text.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expanded_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully resolved URL.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "images": {
          "target": "com.x.posts#PostEntitiesUrlsItemImagesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "media_key": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "HTTP status from resolving the URL.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the linked page, when available.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "unwound_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The final destination after following redirects.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The t.co shortened URL.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A URL entity found in the Post text, enriched with link metadata."
      }
    },
    "com.x.posts#PostEntitiesUrlsList": {
      "type": "list",
      "member": {
        "target": "com.x.posts#PostEntitiesUrlsItem"
      },
      "traits": {}
    },
    "com.x.posts#PostGeo": {
      "type": "structure",
      "members": {
        "coordinates": {
          "target": "com.x.posts#PostGeoCoordinates",
          "traits": {
            "smithy.api#documentation": "A GeoJSON Point geometry.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "place_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the tagged place.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The location tagged on the Post, if the user provided one."
      }
    },
    "com.x.posts#PostGeoCoordinatesCoordinatesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      },
      "traits": {
        "smithy.api#documentation": "[longitude, latitude]."
      }
    },
    "com.x.posts#PostGeoCoordinatesType": {
      "type": "enum",
      "members": {
        "POINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Point"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The GeoJSON geometry type."
      }
    },
    "com.x.posts#PostGeoCoordinates": {
      "type": "structure",
      "members": {
        "coordinates": {
          "target": "com.x.posts#PostGeoCoordinatesCoordinatesList",
          "traits": {
            "smithy.api#documentation": "[longitude, latitude].",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.posts#PostGeoCoordinatesType",
          "traits": {
            "smithy.api#documentation": "The GeoJSON geometry type.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A GeoJSON Point geometry."
      }
    },
    "com.x.posts#PostMatchedMediaNotes": {
      "type": "list",
      "member": {
        "target": "com.x.posts#PostMatchedMediaNotesItem"
      },
      "traits": {
        "smithy.api#documentation": "Community-Notes media matches for this Post."
      }
    },
    "com.x.posts#PostMatchedMediaNotesItem": {
      "type": "structure",
      "members": {
        "match_status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status of the media note match.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "note_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The matched note's unique identifier.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Community-Notes media match for this Post."
      }
    },
    "com.x.posts#PostMediaMetadata": {
      "type": "list",
      "member": {
        "target": "com.x.posts#PostMediaMetadataItem"
      },
      "traits": {
        "smithy.api#documentation": "Metadata for media attached to this Post."
      }
    },
    "com.x.posts#PostMediaMetadataItem": {
      "type": "structure",
      "members": {
        "alt_text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Alternative text describing the media for accessibility.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the media.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "media_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the media.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the media.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for one media item attached to this Post."
      }
    },
    "com.x.posts#PostNotePost": {
      "type": "structure",
      "members": {
        "entities": {
          "target": "com.x.posts#PostNotePostEntities",
          "traits": {
            "smithy.api#documentation": "Metadata entities (hashtags, cashtags, mentions, URLs) found in the note Post text.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full note text of the Post.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The full content of the Post, including text beyond 280 characters."
      }
    },
    "com.x.posts#PostNotePostEntitiesCashtagsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "End index in the text (exclusive).",
            "smithy.api#required": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Start index in the text (inclusive).",
            "smithy.api#required": {}
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A hashtag or cashtag entity."
      }
    },
    "com.x.posts#PostNotePostEntitiesCashtagsList": {
      "type": "list",
      "member": {
        "target": "com.x.posts#PostNotePostEntitiesCashtagsItem"
      },
      "traits": {}
    },
    "com.x.posts#PostNotePostEntitiesHashtagsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "End index in the text (exclusive).",
            "smithy.api#required": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Start index in the text (inclusive).",
            "smithy.api#required": {}
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A hashtag or cashtag entity."
      }
    },
    "com.x.posts#PostNotePostEntitiesHashtagsList": {
      "type": "list",
      "member": {
        "target": "com.x.posts#PostNotePostEntitiesHashtagsItem"
      },
      "traits": {}
    },
    "com.x.posts#PostNotePostEntitiesMentionsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A user mention entity."
      }
    },
    "com.x.posts#PostNotePostEntitiesMentionsList": {
      "type": "list",
      "member": {
        "target": "com.x.posts#PostNotePostEntitiesMentionsItem"
      },
      "traits": {}
    },
    "com.x.posts#PostNotePostEntitiesUrlsItem": {
      "type": "structure",
      "members": {
        "display_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expanded_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A URL entity found in note Post text."
      }
    },
    "com.x.posts#PostNotePostEntitiesUrlsList": {
      "type": "list",
      "member": {
        "target": "com.x.posts#PostNotePostEntitiesUrlsItem"
      },
      "traits": {}
    },
    "com.x.posts#PostNotePostEntities": {
      "type": "structure",
      "members": {
        "cashtags": {
          "target": "com.x.posts#PostNotePostEntitiesCashtagsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hashtags": {
          "target": "com.x.posts#PostNotePostEntitiesHashtagsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "mentions": {
          "target": "com.x.posts#PostNotePostEntitiesMentionsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "urls": {
          "target": "com.x.posts#PostNotePostEntitiesUrlsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata entities (hashtags, cashtags, mentions, URLs) found in the note Post text."
      }
    },
    "com.x.posts#PostNoteRequestSuggestions": {
      "type": "list",
      "member": {
        "target": "com.x.posts#PostNoteRequestSuggestionsItem"
      },
      "traits": {
        "smithy.api#documentation": "Community-Notes request suggestions for this Post."
      }
    },
    "com.x.posts#PostNoteRequestSuggestionsItem": {
      "type": "structure",
      "members": {
        "source_link": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A suggested source link supporting the note request.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "suggestion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text of the note request suggestion.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "suggestion_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the note request suggestion.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Community-Notes request suggestion for this Post."
      }
    },
    "com.x.posts#PostPublicMetrics": {
      "type": "structure",
      "members": {
        "bookmark_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of times this Post has been bookmarked.",
            "smithy.api#required": {}
          }
        },
        "impression_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of times this Post has been viewed.",
            "smithy.api#required": {}
          }
        },
        "like_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of likes on this Post.",
            "smithy.api#required": {}
          }
        },
        "quote_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of quote Posts of this Post.",
            "smithy.api#required": {}
          }
        },
        "reply_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of replies to this Post.",
            "smithy.api#required": {}
          }
        },
        "repost_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of times this Post has been reposted.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Engagement metrics for the Post at the time of the request."
      }
    },
    "com.x.posts#PostReferencedPosts": {
      "type": "list",
      "member": {
        "target": "com.x.posts#PostReferencedPostsItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of Posts this Post refers to. If the Post is a Retweet, Quote or Reply, it includes the referenced Post's type and ID."
      }
    },
    "com.x.posts#PostReferencedPostsItemType": {
      "type": "enum",
      "members": {
        "RETWEETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "retweeted"
          }
        },
        "QUOTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quoted"
          }
        },
        "REPLIED_TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "replied_to"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The kind of Post-to-Post reference."
      }
    },
    "com.x.posts#PostReferencedPostsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the referenced Post.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.posts#PostReferencedPostsItemType",
          "traits": {
            "smithy.api#documentation": "How this Post references the other Post.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reference from this Post to another Post (repost, quote, or reply)."
      }
    },
    "com.x.posts#PostScopes": {
      "type": "structure",
      "members": {
        "followers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether visibility of this Post is limited to the author's followers.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The scopes for this Post."
      }
    },
    "com.x.posts#PostSuggestedSourceLinks": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "URLs suggested as sources for this Post."
      }
    },
    "com.x.posts#PostSuggestedSourceLinksWithCounts": {
      "type": "list",
      "member": {
        "target": "com.x.posts#PostSuggestedSourceLinksWithCountsItem"
      },
      "traits": {
        "smithy.api#documentation": "Suggested source URLs for this Post, each with the number of times it was suggested."
      }
    },
    "com.x.posts#PostSuggestedSourceLinksWithCountsItem": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of times this source link was suggested.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The suggested source URL.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A suggested source URL for this Post with the number of times it was suggested."
      }
    },
    "com.x.posts#PostWithheld": {
      "type": "structure",
      "members": {
        "copyright": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether this content is withheld due to a copyright claim.",
            "smithy.api#required": {}
          }
        },
        "country_codes": {
          "target": "com.x.posts#PostWithheldCountryCodesList",
          "traits": {
            "smithy.api#documentation": "Uppercase ISO 3166-1 alpha-2 country codes where this content is withheld.",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "com.x.posts#PostWithheldScope",
          "traits": {
            "smithy.api#documentation": "Whether the withholding applies to a Post or a User.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Withholding details for withheld content."
      }
    },
    "com.x.posts#PostWithheldCountryCodesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Uppercase ISO 3166-1 alpha-2 country codes where this content is withheld."
      }
    },
    "com.x.posts#PostWithheldScope": {
      "type": "enum",
      "members": {
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "post"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether the withholding applies to a Post or a User."
      }
    },
    "com.x.posts#GetPostsByIdsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.x.posts#Post"
      },
      "traits": {}
    },
    "com.x.posts#GetPostsByIdsResponseErrorsList": {
      "type": "list",
      "member": {
        "target": "com.x.posts#Problem"
      },
      "traits": {}
    },
    "com.x.posts#Expansions": {
      "type": "structure",
      "members": {
        "media": {
          "target": "com.x.posts#ExpansionsMediaList"
        },
        "places": {
          "target": "com.x.posts#ExpansionsPlacesList"
        },
        "polls": {
          "target": "com.x.posts#ExpansionsPollsList"
        },
        "posts": {
          "target": "com.x.posts#ExpansionsPostsList"
        },
        "topics": {
          "target": "com.x.posts#ExpansionsTopicsList"
        },
        "users": {
          "target": "com.x.posts#ExpansionsUsersList"
        }
      },
      "traits": {}
    },
    "com.x.posts#Media": {
      "type": "structure",
      "members": {
        "alt_text": {
          "target": "smithy.api#String"
        },
        "duration_ms": {
          "target": "smithy.api#Integer"
        },
        "height": {
          "target": "smithy.api#Integer"
        },
        "media_key": {
          "target": "smithy.api#String"
        },
        "non_public_metrics": {
          "target": "com.x.posts#MediaNonPublicMetrics"
        },
        "organic_metrics": {
          "target": "com.x.posts#MediaOrganicMetrics"
        },
        "preview_image_url": {
          "target": "smithy.api#String"
        },
        "promoted_metrics": {
          "target": "com.x.posts#MediaPromotedMetrics"
        },
        "public_metrics": {
          "target": "com.x.posts#MediaPublicMetrics"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String"
        },
        "variants": {
          "target": "com.x.posts#MediaVariants"
        },
        "width": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.x.posts#MediaNonPublicMetrics": {
      "type": "structure",
      "members": {
        "playback_0_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who started playback (0% quartile) of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_100_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who completed playback (100% quartile) of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_25_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 25% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_50_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 50% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_75_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 75% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Nonpublic engagement metrics for the media at the time of the request."
      }
    },
    "com.x.posts#MediaOrganicMetrics": {
      "type": "structure",
      "members": {
        "playback_0_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who started playback (0% quartile) of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_100_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who completed playback (100% quartile) of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_25_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 25% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_50_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 50% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_75_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 75% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "view_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of organic views of this video. Null when the backend returns quartile data without a view count.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Organic nonpublic engagement metrics for the media at the time of the request."
      }
    },
    "com.x.posts#MediaPromotedMetrics": {
      "type": "structure",
      "members": {
        "playback_0_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who started playback (0% quartile) of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_100_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who completed playback (100% quartile) of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_25_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 25% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_50_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 50% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "playback_75_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of users who watched at least 75% of this video.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "view_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of promoted views of this video. Null when the backend returns quartile data without a view count.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Promoted nonpublic engagement metrics for the media at the time of the request."
      }
    },
    "com.x.posts#MediaPublicMetrics": {
      "type": "structure",
      "members": {
        "view_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of times this video has been viewed.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Public engagement metrics for the media at the time of the request."
      }
    },
    "com.x.posts#MediaVariants": {
      "type": "list",
      "member": {
        "target": "com.x.posts#MediaVariantsItem"
      },
      "traits": {
        "smithy.api#documentation": "Each media object may have multiple display or playback variants, with different resolutions or formats."
      }
    },
    "com.x.posts#MediaVariantsItem": {
      "type": "structure",
      "members": {
        "bit_rate": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The bit rate of this variant, in bits per second. Absent for playlist variants.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The MIME type of this variant, for example \"video/mp4\" or \"application/x-mpegURL\".",
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to this media variant.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single playback or display variant of a media object."
      }
    },
    "com.x.posts#ExpansionsMediaList": {
      "type": "list",
      "member": {
        "target": "com.x.posts#Media"
      },
      "traits": {}
    },
    "com.x.posts#Place": {
      "type": "structure",
      "members": {
        "contained_within": {
          "target": "com.x.posts#PlaceContainedWithin"
        },
        "country": {
          "target": "smithy.api#String"
        },
        "country_code": {
          "target": "smithy.api#String"
        },
        "full_name": {
          "target": "smithy.api#String"
        },
        "geo": {
          "target": "com.x.posts#PlaceGeo"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "place_type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.posts#PlaceContainedWithin": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of unique identifiers of the Places that contain this place."
      }
    },
    "com.x.posts#PlaceGeo": {
      "type": "structure",
      "members": {
        "bbox": {
          "target": "com.x.posts#PlaceGeoBboxList",
          "traits": {
            "smithy.api#documentation": "The bounding box as [southwest_longitude, southwest_latitude, northeast_longitude, northeast_latitude].",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Additional GeoJSON feature properties.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.posts#PlaceGeoType",
          "traits": {
            "smithy.api#documentation": "The GeoJSON feature type.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The geographic location of this place, expressed as a GeoJSON Feature."
      }
    },
    "com.x.posts#PlaceGeoBboxList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      },
      "traits": {
        "smithy.api#documentation": "The bounding box as [southwest_longitude, southwest_latitude, northeast_longitude, northeast_latitude]."
      }
    },
    "com.x.posts#PlaceGeoType": {
      "type": "enum",
      "members": {
        "FEATURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Feature"
          }
        }
      },
      "traits": {}
    },
    "com.x.posts#ExpansionsPlacesList": {
      "type": "list",
      "member": {
        "target": "com.x.posts#Place"
      },
      "traits": {}
    },
    "com.x.posts#Poll": {
      "type": "structure",
      "members": {
        "duration_minutes": {
          "target": "smithy.api#Integer"
        },
        "end_datetime": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "options": {
          "target": "com.x.posts#PollOptions"
        },
        "voting_status": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.posts#PollOptions": {
      "type": "list",
      "member": {
        "target": "com.x.posts#PollOptionsItem"
      },
      "traits": {
        "smithy.api#documentation": "The list of options (choices) available in this poll."
      }
    },
    "com.x.posts#PollOptionsItem": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text label of this poll option.",
            "smithy.api#required": {}
          }
        },
        "position": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The 1-based position of this option within the poll.",
            "smithy.api#required": {}
          }
        },
        "votes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of votes this option has received.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single option (choice) available in a poll."
      }
    },
    "com.x.posts#ExpansionsPollsList": {
      "type": "list",
      "member": {
        "target": "com.x.posts#Poll"
      },
      "traits": {}
    },
    "com.x.posts#ExpansionsPostsList": {
      "type": "list",
      "member": {
        "target": "com.x.posts#Post"
      },
      "traits": {}
    },
    "com.x.posts#Topic": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.posts#ExpansionsTopicsList": {
      "type": "list",
      "member": {
        "target": "com.x.posts#Topic"
      },
      "traits": {}
    },
    "com.x.posts#User": {
      "type": "structure",
      "members": {
        "affiliation": {
          "target": "com.x.posts#UserAffiliation"
        },
        "confirmed_email": {
          "target": "smithy.api#String"
        },
        "connection_status": {
          "target": "com.x.posts#UserConnectionStatus"
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation time of this User."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text of this User's profile description (also known as bio), if the User provided one."
          }
        },
        "entities": {
          "target": "com.x.posts#UserEntities"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of this User."
          }
        },
        "is_identity_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this User has completed identity verification."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location specified in the User's profile, if the User provided one. As this is a freeform value, it may not indicate a valid location."
          }
        },
        "most_recent_post_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of this User's most recent Post."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name of this User, as shown on their profile."
          }
        },
        "parody": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this User is a parody account."
          }
        },
        "pinned_post_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of this User's pinned Post."
          }
        },
        "profile_banner_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to the profile banner for this User."
          }
        },
        "profile_image_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to the profile image for this User."
          }
        },
        "protected": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this User has chosen to protect their Posts (in other words, if this User's Posts are private)."
          }
        },
        "public_metrics": {
          "target": "com.x.posts#UserPublicMetrics"
        },
        "receives_your_dm": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if you can send a DM to this User."
          }
        },
        "subscribes_to_you": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this User subscribes to you."
          }
        },
        "subscription": {
          "target": "com.x.posts#UserSubscription"
        },
        "subscription_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The X Blue subscription type of the user, e.g.: Basic, Premium, PremiumPlus or None."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL specified in the User's profile."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The X handle (screen name) of this User."
          }
        },
        "verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this User is a verified X User."
          }
        },
        "verified_followers_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of verified followers of this User."
          }
        },
        "verified_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The X Blue verified type of the user, e.g.: blue, government, business or none."
          }
        },
        "withheld": {
          "target": "com.x.posts#UserWithheld"
        }
      },
      "traits": {}
    },
    "com.x.posts#UserAffiliation": {
      "type": "structure",
      "members": {
        "badge_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the affiliation badge image shown on the User's profile.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the affiliation.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL associated with the affiliation.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "user_id": {
          "target": "com.x.posts#UserAffiliationUserIdList",
          "traits": {
            "smithy.api#documentation": "A list of unique identifiers of the accounts this User is affiliated with.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata about a user's affiliation."
      }
    },
    "com.x.posts#UserAffiliationUserIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of unique identifiers of the accounts this User is affiliated with."
      }
    },
    "com.x.posts#UserConnectionStatus": {
      "type": "list",
      "member": {
        "target": "com.x.posts#UserConnectionStatusItem"
      },
      "traits": {
        "smithy.api#documentation": "Returns detailed information about the relationship between two users."
      }
    },
    "com.x.posts#UserConnectionStatusItem": {
      "type": "enum",
      "members": {
        "BLOCKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blocking"
          }
        },
        "FOLLOW_REQUEST_RECEIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "follow_request_received"
          }
        },
        "FOLLOW_REQUEST_SENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "follow_request_sent"
          }
        },
        "FOLLOWED_BY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "followed_by"
          }
        },
        "FOLLOWING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "following"
          }
        },
        "MUTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "muting"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A connection between the authenticated User and this User."
      }
    },
    "com.x.posts#UserEntities": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.x.posts#UserEntitiesDescription",
          "traits": {
            "smithy.api#documentation": "Entities found in the User's bio.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "com.x.posts#UserEntitiesUrl",
          "traits": {
            "smithy.api#documentation": "Entities for the User's profile website URL.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of metadata found in the User's profile description."
      }
    },
    "com.x.posts#UserEntitiesDescriptionCashtagsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "End index in the text (exclusive).",
            "smithy.api#required": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Start index in the text (inclusive).",
            "smithy.api#required": {}
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A hashtag or cashtag entity."
      }
    },
    "com.x.posts#UserEntitiesDescriptionCashtagsList": {
      "type": "list",
      "member": {
        "target": "com.x.posts#UserEntitiesDescriptionCashtagsItem"
      },
      "traits": {}
    },
    "com.x.posts#UserEntitiesDescriptionHashtagsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "End index in the text (exclusive).",
            "smithy.api#required": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Start index in the text (inclusive).",
            "smithy.api#required": {}
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A hashtag or cashtag entity."
      }
    },
    "com.x.posts#UserEntitiesDescriptionHashtagsList": {
      "type": "list",
      "member": {
        "target": "com.x.posts#UserEntitiesDescriptionHashtagsItem"
      },
      "traits": {}
    },
    "com.x.posts#UserEntitiesDescriptionMentionsItem": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A user mention entity."
      }
    },
    "com.x.posts#UserEntitiesDescriptionMentionsList": {
      "type": "list",
      "member": {
        "target": "com.x.posts#UserEntitiesDescriptionMentionsItem"
      },
      "traits": {}
    },
    "com.x.posts#UserEntitiesDescriptionUrlsItemImagesItem": {
      "type": "structure",
      "members": {
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
[...]
