{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.x.trends#GetTrendsPersonalizedTrendsRequestPersonalizedTrendFieldsItem": {
      "type": "enum",
      "members": {
        "CATEGORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "category"
          }
        },
        "POST_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "post_count"
          }
        },
        "TREND_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trend_name"
          }
        },
        "TRENDING_SINCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trending_since"
          }
        }
      },
      "traits": {}
    },
    "com.x.trends#GetTrendsPersonalizedTrendsRequestPersonalizedTrendFieldsList": {
      "type": "list",
      "member": {
        "target": "com.x.trends#GetTrendsPersonalizedTrendsRequestPersonalizedTrendFieldsItem"
      },
      "traits": {
        "smithy.api#documentation": "The fields available for a PersonalizedTrend object."
      }
    },
    "com.x.trends#GetTrendsPersonalizedTrendsRequest": {
      "type": "structure",
      "members": {
        "personalized_trend_fields": {
          "target": "com.x.trends#GetTrendsPersonalizedTrendsRequestPersonalizedTrendFieldsList",
          "traits": {
            "smithy.api#httpQuery": "personalized_trend.fields",
            "smithy.api#documentation": "A comma separated list of PersonalizedTrend fields to display."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.x.trends#GetTrendsPersonalizedTrendsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.x.trends#GetTrendsPersonalizedTrendsResponseDataList"
        },
        "errors": {
          "target": "com.x.trends#GetTrendsPersonalizedTrendsResponseErrorsList"
        }
      },
      "traits": {}
    },
    "com.x.trends#PersonalizedTrend": {
      "type": "structure",
      "members": {
        "category": {
          "target": "smithy.api#String"
        },
        "post_count": {
          "target": "smithy.api#String"
        },
        "trend_name": {
          "target": "smithy.api#String"
        },
        "trending_since": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.trends#GetTrendsPersonalizedTrendsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.x.trends#PersonalizedTrend"
      },
      "traits": {}
    },
    "com.x.trends#Problem": {
      "type": "union",
      "members": {
        "ResourceNotFoundProblem": {
          "target": "com.x.trends#ResourceNotFoundProblem"
        },
        "InvalidRequestProblem": {
          "target": "com.x.trends#InvalidRequestProblem"
        },
        "NotAuthorizedForResourceProblem": {
          "target": "com.x.trends#NotAuthorizedForResourceProblem"
        },
        "NotAuthorizedForFieldProblem": {
          "target": "com.x.trends#NotAuthorizedForFieldProblem"
        },
        "FieldUnauthorizedProblem": {
          "target": "com.x.trends#FieldUnauthorizedProblem"
        },
        "FieldHydrationFailureProblem": {
          "target": "com.x.trends#FieldHydrationFailureProblem"
        },
        "ResourceUnavailableProblem": {
          "target": "com.x.trends#ResourceUnavailableProblem"
        },
        "DisallowedResourceProblem": {
          "target": "com.x.trends#DisallowedResourceProblem"
        },
        "InternalErrorProblem": {
          "target": "com.x.trends#InternalErrorProblem"
        }
      },
      "traits": {}
    },
    "com.x.trends#ResourceNotFoundProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.trends#ResourceNotFoundProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.trends#ResourceNotFoundProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_RESOURCE_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/resource-not-found"
          }
        }
      },
      "traits": {}
    },
    "com.x.trends#InvalidRequestProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.trends#InvalidRequestProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.trends#InvalidRequestProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_INVALID_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/invalid-request"
          }
        }
      },
      "traits": {}
    },
    "com.x.trends#NotAuthorizedForResourceProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.trends#NotAuthorizedForResourceProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.trends#NotAuthorizedForResourceProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_NOT_AUTHORIZED_FOR_RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/not-authorized-for-resource"
          }
        }
      },
      "traits": {}
    },
    "com.x.trends#NotAuthorizedForFieldProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.trends#NotAuthorizedForFieldProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.trends#NotAuthorizedForFieldProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_NOT_AUTHORIZED_FOR_FIELD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/not-authorized-for-field"
          }
        }
      },
      "traits": {}
    },
    "com.x.trends#FieldUnauthorizedProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.trends#FieldUnauthorizedProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.trends#FieldUnauthorizedProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_FIELD_UNAUTHORIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/field-unauthorized"
          }
        }
      },
      "traits": {}
    },
    "com.x.trends#FieldHydrationFailureProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.trends#FieldHydrationFailureProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.trends#FieldHydrationFailureProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_FIELD_HYDRATION_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/field-hydration-failure"
          }
        }
      },
      "traits": {}
    },
    "com.x.trends#ResourceUnavailableProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.trends#ResourceUnavailableProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.trends#ResourceUnavailableProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_RESOURCE_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/resource-unavailable"
          }
        }
      },
      "traits": {}
    },
    "com.x.trends#DisallowedResourceProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.trends#DisallowedResourceProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.trends#DisallowedResourceProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_DISALLOWED_RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/disallowed-resource"
          }
        }
      },
      "traits": {}
    },
    "com.x.trends#InternalErrorProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.trends#InternalErrorProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.trends#InternalErrorProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/internal-error"
          }
        }
      },
      "traits": {}
    },
    "com.x.trends#GetTrendsPersonalizedTrendsResponseErrorsList": {
      "type": "list",
      "member": {
        "target": "com.x.trends#Problem"
      },
      "traits": {}
    },
    "com.x.trends#GetTrendsPersonalizedTrends": {
      "type": "operation",
      "input": {
        "target": "com.x.trends#GetTrendsPersonalizedTrendsRequest"
      },
      "output": {
        "target": "com.x.trends#GetTrendsPersonalizedTrendsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2/users/personalized_trends",
          "code": 200
        },
        "smithy.api#documentation": "Get Trends Personalized Trends"
      }
    },
    "com.x.trends#Trends": {
      "type": "service",
      "version": "2.167",
      "operations": [
        {
          "target": "com.x.trends#GetTrendsPersonalizedTrends"
        }
      ],
      "traits": {
        "smithy.api#title": "X API v2",
        "smithy.api#documentation": "X API v2 core endpoints"
      }
    }
  }
}
