{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.x.usage#GetUsageRequestUsageFieldsItem": {
      "type": "enum",
      "members": {
        "CAP_RESET_DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cap_reset_day"
          }
        },
        "DAILY_CLIENT_APP_USAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "daily_client_app_usage"
          }
        },
        "DAILY_PROJECT_USAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "daily_project_usage"
          }
        },
        "PROJECT_CAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project_cap"
          }
        },
        "PROJECT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project_id"
          }
        },
        "PROJECT_USAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project_usage"
          }
        }
      },
      "traits": {}
    },
    "com.x.usage#GetUsageRequestUsageFieldsList": {
      "type": "list",
      "member": {
        "target": "com.x.usage#GetUsageRequestUsageFieldsItem"
      },
      "traits": {
        "smithy.api#documentation": "The fields available for a Usage object."
      }
    },
    "com.x.usage#GetUsageRequest": {
      "type": "structure",
      "members": {
        "days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "days"
          }
        },
        "usage_fields": {
          "target": "com.x.usage#GetUsageRequestUsageFieldsList",
          "traits": {
            "smithy.api#httpQuery": "usage.fields",
            "smithy.api#documentation": "A comma separated list of Usage fields to display.",
            "com.x#csvQuery": true
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "com.x#security": [
          "app"
        ]
      }
    },
    "com.x.usage#GetUsageResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.x.usage#Usage2"
        },
        "errors": {
          "target": "com.x.usage#GetUsageResponseErrorsList"
        }
      },
      "traits": {}
    },
    "com.x.usage#Usage2": {
      "type": "structure",
      "members": {
        "cap_reset_day": {
          "target": "smithy.api#Integer"
        },
        "daily_client_app_usage": {
          "target": "com.x.usage#UsageDailyClientAppUsage"
        },
        "daily_project_usage": {
          "target": "com.x.usage#UsageDailyProjectUsage"
        },
        "project_cap": {
          "target": "smithy.api#String"
        },
        "project_id": {
          "target": "smithy.api#String"
        },
        "project_usage": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.usage#UsageDailyClientAppUsage": {
      "type": "list",
      "member": {
        "target": "com.x.usage#UsageDailyClientAppUsageItem"
      },
      "traits": {
        "smithy.api#documentation": "Per-client-app daily Post usage for the caller's project."
      }
    },
    "com.x.usage#UsageDailyClientAppUsageItemUsageItem": {
      "type": "structure",
      "members": {
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The day of the usage entry, as an ISO 8601 date-time.",
            "smithy.api#required": {}
          }
        },
        "usage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of Posts used on this day.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single day's usage entry."
      }
    },
    "com.x.usage#UsageDailyClientAppUsageItemUsageList": {
      "type": "list",
      "member": {
        "target": "com.x.usage#UsageDailyClientAppUsageItemUsageItem"
      },
      "traits": {
        "smithy.api#documentation": "Daily usage entries for this client app."
      }
    },
    "com.x.usage#UsageDailyClientAppUsageItem": {
      "type": "structure",
      "members": {
        "client_app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the client app.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "usage": {
          "target": "com.x.usage#UsageDailyClientAppUsageItemUsageList",
          "traits": {
            "smithy.api#documentation": "Daily usage entries for this client app."
          }
        },
        "usage_result_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of daily usage entries returned for this client app.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Per-client-app daily Post usage entry."
      }
    },
    "com.x.usage#UsageDailyProjectUsage": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the project.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "usage": {
          "target": "com.x.usage#UsageDailyProjectUsageUsageList",
          "traits": {
            "smithy.api#documentation": "Daily usage entries for the project.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Project-level daily Post usage for the caller's project."
      }
    },
    "com.x.usage#UsageDailyProjectUsageUsageItem": {
      "type": "structure",
      "members": {
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The day of the usage entry, as an ISO 8601 date-time.",
            "smithy.api#required": {}
          }
        },
        "usage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of Posts used on this day.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single day's usage entry."
      }
    },
    "com.x.usage#UsageDailyProjectUsageUsageList": {
      "type": "list",
      "member": {
        "target": "com.x.usage#UsageDailyProjectUsageUsageItem"
      },
      "traits": {
        "smithy.api#documentation": "Daily usage entries for the project."
      }
    },
    "com.x.usage#Problem": {
      "type": "union",
      "members": {
        "ResourceNotFoundProblem": {
          "target": "com.x.usage#ResourceNotFoundProblem"
        },
        "InvalidRequestProblem": {
          "target": "com.x.usage#InvalidRequestProblem"
        },
        "NotAuthorizedForResourceProblem": {
          "target": "com.x.usage#NotAuthorizedForResourceProblem"
        },
        "NotAuthorizedForFieldProblem": {
          "target": "com.x.usage#NotAuthorizedForFieldProblem"
        },
        "FieldUnauthorizedProblem": {
          "target": "com.x.usage#FieldUnauthorizedProblem"
        },
        "FieldHydrationFailureProblem": {
          "target": "com.x.usage#FieldHydrationFailureProblem"
        },
        "ResourceUnavailableProblem": {
          "target": "com.x.usage#ResourceUnavailableProblem"
        },
        "DisallowedResourceProblem": {
          "target": "com.x.usage#DisallowedResourceProblem"
        },
        "InternalErrorProblem": {
          "target": "com.x.usage#InternalErrorProblem"
        }
      },
      "traits": {}
    },
    "com.x.usage#ResourceNotFoundProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.usage#ResourceNotFoundProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.usage#ResourceNotFoundProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_RESOURCE_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/resource-not-found"
          }
        }
      },
      "traits": {}
    },
    "com.x.usage#InvalidRequestProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.usage#InvalidRequestProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.usage#InvalidRequestProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_INVALID_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/invalid-request"
          }
        }
      },
      "traits": {}
    },
    "com.x.usage#NotAuthorizedForResourceProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.usage#NotAuthorizedForResourceProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.usage#NotAuthorizedForResourceProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_NOT_AUTHORIZED_FOR_RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/not-authorized-for-resource"
          }
        }
      },
      "traits": {}
    },
    "com.x.usage#NotAuthorizedForFieldProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameter": {
          "target": "smithy.api#String"
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.usage#NotAuthorizedForFieldProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.x.usage#NotAuthorizedForFieldProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_NOT_AUTHORIZED_FOR_FIELD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/not-authorized-for-field"
          }
        }
      },
      "traits": {}
    },
    "com.x.usage#FieldUnauthorizedProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.usage#FieldUnauthorizedProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.usage#FieldUnauthorizedProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_FIELD_UNAUTHORIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/field-unauthorized"
          }
        }
      },
      "traits": {}
    },
    "com.x.usage#FieldHydrationFailureProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.usage#FieldHydrationFailureProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.usage#FieldHydrationFailureProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_FIELD_HYDRATION_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/field-hydration-failure"
          }
        }
      },
      "traits": {}
    },
    "com.x.usage#ResourceUnavailableProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.usage#ResourceUnavailableProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.usage#ResourceUnavailableProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_RESOURCE_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/resource-unavailable"
          }
        }
      },
      "traits": {}
    },
    "com.x.usage#DisallowedResourceProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource_id": {
          "target": "smithy.api#String"
        },
        "resource_type": {
          "target": "smithy.api#String"
        },
        "section": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.usage#DisallowedResourceProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.usage#DisallowedResourceProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_DISALLOWED_RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/disallowed-resource"
          }
        }
      },
      "traits": {}
    },
    "com.x.usage#InternalErrorProblem": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.x.usage#InternalErrorProblemType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.x.usage#InternalErrorProblemType": {
      "type": "enum",
      "members": {
        "HTTPS_API_X_COM_2_PROBLEMS_INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https://api.x.com/2/problems/internal-error"
          }
        }
      },
      "traits": {}
    },
    "com.x.usage#GetUsageResponseErrorsList": {
      "type": "list",
      "member": {
        "target": "com.x.usage#Problem"
      },
      "traits": {}
    },
    "com.x.usage#GetUsage": {
      "type": "operation",
      "input": {
        "target": "com.x.usage#GetUsageRequest"
      },
      "output": {
        "target": "com.x.usage#GetUsageResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2/usage/tweets",
          "code": 200
        },
        "smithy.api#documentation": "Get Usage",
        "com.x#response": "json"
      }
    },
    "com.x.usage#Usage": {
      "type": "service",
      "version": "2.167",
      "operations": [
        {
          "target": "com.x.usage#GetUsage"
        }
      ],
      "traits": {
        "smithy.api#title": "X API v2",
        "smithy.api#documentation": "X API v2 core endpoints"
      }
    }
  }
}
